


      <main>
        <div class="background">
            <img class="img-fluid back" src="assets/images/accounting-software-cover.jpg">
            <div class="transbox">
            </div>
            <div class="transbox1">
              <div class="container">
                <div class="row">
                  
                  <div class="col-md-8 col-sm-12 dafater">
                    <h3> البرامج المحاسبية -أو النظم المالية المتكاملة (ERP)</h3>
                    <p class="pt-2">مثل Dynamic- ما هي إلا أداة تساعدك في تسجيل الأحداث المالية المختلفة في منشأتك ضمن حلقة مهمة من الأنشطة تسمى بالدورة المحاسبية، وجدير بالذكر أن استخدامك لهذه البرامج أو الأدوات بحد ذاته لا يضمن لك النجاح في الحصول على تقارير مالية وإدارية سليمة، وإنما استخدامك الصحيح لهذه البرامج هو الذي يحدد ذلك. </p>
        
                  </div>
                  <div class="col-md-4 col-sm-12 lampa">
                    <img src="assets/images/pages-title-icons-erp.png" class="img-fluid mt-2 man">
        
                  </div>
        
                </div>
        
              </div>
            </div>
          </div>

        <div class="container py-5">
          <div class="row  system">
            <div class="col-md-4">
              <p><strong>البرامج المحاسبية -أو النظم المالية المتكاملة (ERP)</strong>
                مثل Dynamic- ما هي إلا أداة تساعدك في تسجيل الأحداث المالية المختلفة في منشأتك ضمن حلقة مهمة من الأنشطة تسمى بالدورة المحاسبية، وجدير بالذكر أن استخدامك لهذه البرامج أو الأدوات بحد ذاته لا يضمن لك النجاح في الحصول على تقارير مالية وإدارية سليمة، وإنما استخدامك الصحيح لهذه البرامج هو الذي يحدد ذلك.
              </p>

            </div>
            <div class="col-md-4">
              <p>تعلو نسبة الاستخدام الصحيح لهذه الأدوات مع زيادة جودة الدورة المحاسبية المطبقة أساساً في منشأتك، سواء عند إنشائها أو أثناء تشغليها، أو مدى تكاملها من الأساس.</p>

            </div>
            <div class="col-md-4">
              <p><strong>إيمانا منا بأهمية ذلك،</strong>
                قمنا بتصميم قائمة من الخدمات التي تقدم في مجموعها حلولاً محاسبية متكاملة تساعد منشأتك في تحقيق أهدافها المرجوة من أي برنامج محاسبي. بإمكانك طلب أي من هذه الخدمات أو كلها بحسب احتياجك الفعلي. وبإمكاننا الحديث معك لنصحك بالذي تحتاجه فعلا. تحدث الآن مع أحد استشاريي Dynamic لمعرفة كيف تفيدك هذه الخدمات.
              </p>

            </div>

          </div>
<div class="text-center">
          <p class="drow">الرسم في الأسفل يوضح التصور الأدنى لأي دورة محاسبية لأي منشأة، ويوازيه مجموعة الخدمات التي نقدمها لك</p>
          <img src="assets/images/inegrated-erp.png" class="img-fluid">
        </div>

        <div class="service">
          <ol style="font-size: 16px;line-height: 32px"><li>خدمة هيكلة وإعداد الحسابات:<ol><li>هي تلك الخطوة التي تسبق أول عملية تسجيل في دورتك المستندية، وسواء كنت تستخدم دورة ورقية أو إلكترونية، لا يمكنك أبدا تبويب بياناتك المحاسبية قبل أن يقوم مستشارك المحاسبي أو محاسبك الخبير بإعداد هيكل حسابات متكامل. هذا الهيكل سيمثل لاحقا الحاوية (مجموعة حاويات) لأرقامك المحاسبية مبوبة في مكانة الصحيح بحيث يمكن بعد ذلك من استخراج تقاريرك الإدارية بشكل صحيح وبالطريقة التي ترغب بها.</li></ol></li><li>خدمة إعداد وتهيئة النظام المحاسبي</li><li>خدمة مسك الDynamic عن بعد</li><li>خدمة المحاسبة عن بعد</li><li>خدمة إعداد القوائم المالية</li><li>خدمة تدقيق واعتماد القوائم المالية</li><li>خدمة تقييم الدورة المستندية</li><li>خدمة تصميم الدورة المستندية</li></ol>
        </div>
        <div class="text-center mt-5  try">
          <a href="/try" class="px-4 py-3 rounded" >جرب مجانا الان</a>
        </div>
       </div>
       
     
      </main>

     

