<div class="background">
    <img class="back img-fluid" src="assets/image/hr-cover.jpg"> 
    <div class="transbox">
    </div>
    <div class="transbox1">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <img style="width: 160px;" src="assets/image/SPEAKER.svg" class="img-fluid man">

        </div>
        <div class="col-md-8 col-sm-12 dafater">
          <h3>إشعار التحديثات</h3>
          <p>من خلال هذه الصفحة نستعرض لكم على شكل نقاط ما هي التحديثات والتطويرات الجديدة على نظام Dynamic، Dynamic نظام محدث بشكل دوري وفي كل تحديث نضع نقاط لما تم تحديثه وإصلاحه في النظام، ومن هذه الصفحة نبقيك متطلعاً على التحديثات والإصلاحات</p>

       </div>

      </div>

    </div>
  </div></div>
  <div class="container py-5"> 
          
            
    <div id="accordion"> 

  
        
      <div class="card plus1" > 
            <a class="card-header collapsed card-link"
                    data-toggle="collapse"
                    data-target="#collapseOne"> 
                    <i class="fas fa-plus float-right ">
                  </i>
                  <p class="header-title  "> 
                    النسخة 2.8.1 صدرت بتاريخ 21-09-2020</p> 
                  </a> 
            <div id="collapseOne" class="collapse"
                    data-parent="#accordion"> 
                <div class="card-body"> 
                  <ul>
                    <li>الآن يمكن لمستخدمي دفتر الأستاذ العام إظهار البيان المحاسبي للعملية في الدفتر من خلال الوثيقة مباشرة بالضغط على زر “عرض الحساب الفرعي”.<br>
                      Now, the General Ledger Module users can view the account statement for the transaction in the module directly through the document by clicking on the “Show sub account” button.</li>
                     <li>أيضًا عند استخدامك لدفتر الأستاذ العام يمكنك بسهولة عرض الحساب في تقرير الدفتر من شجرة الحسابات ومن وثيقة الحساب من خلال زر عرض الحساب.<br>
                      While using the General Ledger Module, you can also view the account through the Module Report from the account document by clicking on the “View account” Button.
                      </li>
                      <li>الآن يمكن لمستخدمي باقة التجزئة بسهولة استعراض البيانات المرتبطة بحسابات الجرد الآلية في شاشة الشركة.<br>
                        For Retail Bundle users, now you can easily view all the data related to the automated inventory accounts on the company screen.
                        </li>
                        <li>تمت ترجمة “POS print format” ليصبح باللغة العربية “نموذج طباعة نقطة البيع”.
                          We translated the “POS Print Format” into Arabic as well to be “نموذج طباعة نقطة البيع”.
                          </li>
                          <li>ستلاحظ أن القائمة المنسدلة الخاصة بنماذج طباعة نقطة البيع ستظهر لك نماذج الطباعة الخاصة بنقاط البيع فقط.<br>
                            While using the system, you will notice the dropdown list of the POS printing formats will show you ONLY the POS related formats.
                            </li>
                    <li>سيرسل لك النظام إيميل من فاتورة المبيعات ملحق به نموذج لطباعة الفاتورة.<br>
                      The system will automatically send you the sales bill attached to a Print Format.
                      </li>
                      <li>في حالة استخدام المورد لعملة مختلفة عن عملة الشركة، عُدل نموذج طباعة تسعيرة المورد ليظهر عملة الشركة بدلًا من عملة المورد في نموذج طباعة أمر البيع.<br>
                        In case the supplier is using different currency from the one the company uses; we modified the Quotation Print Format to use the company’s currency in the POS Print Format.
                        </li>
                        <li>نموذج طباعة البيانات الأساسية أصبح يحتوي على العنوان وجهات الاتصال الخاصة بالمورد.<br>
                          Now, the Basic Date Print Format contains the address and contact info of the supplier.
                          </li>
                          <li>ستلاحظ ظهور تاريخ الاضافة الخاص بوثيقة حركة المخزون في عند طباعة “نموذج بيانات”.<br>
                            While printing the “Basic Date Format”, you will notice that we added the date of the inventory movements document.
                            </li>
                            <li>لن تظهر لك بعد الآن أي خانات فارغة غير معنونة في النافذة المنبثقة الخاصة بعملية الدفع في فاتورة نقطة البيع، وأي قيمة “N/A” ستظهر بقيمة صفر في قيم المبلغ المدفوع والمتبقي.<br>
                              You will not see any empty untitled boxes in the pop-up window for the payment process in the POS invoice, and any “N / A” value will appear with a zero value in the paid and remaining amount values.
                              </li>
                          <li>في حالة الدفع مقابل الفاتورة بالكامل ستظهر القيمة بالسالب في خانة المبلغ المعلق بما يساوي مبلغ الشطب، وسيتم تنبيه المستخدم برسالة عند حفظ الوثيقة.<br>
                            After paying all the due amount of the bill, there will appear a minus value in the “due amount” that equals the paid one. Also, the user will get notifies with a short SMS.</li>
                       <li>عُربت الرسالة الخاصة بالحروف أو الرموز غير المسموح باستخدامها في المسميات الرئيسية في النظام داخل وثيقة في خانة “إعداد الرقم التسلسلي”.<br>
                        We translated into Arabic the notification message that appears while having not allowed letters or signs in the main names into the system, specifically in the “Serial Number Setup” box.
                        </li>
                      <li>عُدل النظام ليمكن المستخدم من تعديل/تحديث الأصناف غير التابعة لسلسلة الترقيم دون الحاجة لتحديد سلسلة الترقيم.<br>
                        The system got modified to enable the user to modify/update the non-serialized products without the need of adding them to a serial number list.
                        </li>
                   
                    </ul>
                </div> 
            </div> 
        </div> 
  

      <div id="accordion"> 
          <div class="card plus1"> 
              <a class="card-header collapsed card-link"
                      data-toggle="collapse"
                      data-target="#collapseTwo"> 
                      <i class="fas fa-plus float-right ">
                    </i>
                    <p class="header-title ">النسخة 2.8.0 صدرت بتاريخ 09-08-2020</p> 
                </a> 
              <div id="collapseTwo" class="collapse"
                      data-parent="#accordion"> 
                  <div class="card-body">
                    <ul>
                      <li>تقرير أعمار ديون العملاء:
                        <ul>صُمم هذا التقرير ليعرض مديونيات العملاء مقسمة على فترات ما بين 30/60/90 يومًا وذلك ليُسهل متابعة استحقاقات ديون العملاء. يمكن تصفية عرض نتائج هذا التقرير على أساس:
                               <li>– عميل معين</li>
                               <li>– مجموعة عملاء</li>
                               <li>– مندوب مبيعات</li>
                        </ul>
                      </li>
                      <li>تقرير رصيد العملاء في يوم معين:
                        <ul>صُمم هذا التقرير تحديدًا ليتخصر الوقت في عرض رصيد كافة العملاء دون الحاجة للدخول في تفاصيل حركة العمليات.<br>
                          يمكن تصفية نتائج هذا التقرير على أساس:
                          <li>– عميل محدد</li>
                          <li>– مجموعة عملاء</li>
                           <li>– مندوب مبيعات </li>
                        </ul>
                      </li>
                      <li>تقرير رصيد الموردين في يوم معين:
                        <ul>
                          يختص هذا التقرير بعرض رصيد كافة الموردين في يوم معين، دون الحاجة للدخول في تفاصل حركة الموردين أو رصد كل مورد/ مجموعة. يمكن عرض نتائج هذا التقرير وفقًا لنوع المورد أو اسم مورد محدد.

                        </ul>
                      </li>
                    </ul>
                  </div> 
              </div> 
          </div> 



      <div id="accordion"> 
          <div class="card plus1"  > 
              <a class="card-header collapsed card-link"
                      data-toggle="collapse"
                      data-target="#collapseThree"> 
                      <i class="fas fa-plus float-right ">
                    </i>
                    <p class="header-title "> 
                      النسخة 2.7.15 صدرت بتاريخ 21-07-2020                    </p> 
                    </a> 
              <div id="collapseThree" class="collapse"
                      data-parent="#accordion"> 
                  <div class="card-body">
                    <ul>
                      <li>الآن لا يمكن تكرار استخدام أي اختصار مُميز لصفة مع أي صفات آخرى.</li>
                      <li>عُدلت طريقة التعامل مع المرتجعات في فاتورة المبيعات بحيث لايمكن تسجيل مرتجع من فاتورة مبيعات بدون تحديث مخزون طالما كانت الفاتورة بها تحديث مخزون</li>
                       <li>النسخة المطبوعة من إيصال الشراء أصبحت تحتوي على تاريخ إصدار هذا الإيصال.</li>
                       <li>عُدلت ميزة تخصيص الإجازة الشهرية لتسمح للمستخدم بتخصيص الإجازات في الأشهر التي تحتوي على طلب إجازة معتمدة، في حالة ما إن تجاوز الطلب الأيام المخصصة له شهريًا،</li>
                       <li>لتحسين تجربة المستخدم ، أًضيفت لقائمة الصفات خانة (إنشاء شكل) لتحديد صفات شكل الصنف وكتابة اسمه لتسهيل البحث عن الأصناف بأسمائها.</li>
                       <li>يسمح النظام للمستخدمين الآن بحذف الأصناف التي تحتوي اسمائها على الرمز “/”.</li>
                       <li>يمكن للمستخدم الآن تصفية نتيجة تقرير “سجل موازنة على مستوى الدفعة” بعدما أُضيف إمكانية العرض باستخدام “مجموعة الصنف”..</li>
                       <li>حدثنا شكل تقرير كشف الحساب ليعرض اسم العميل في صفحة الطباعة بدلًا من رمز العميل فقط.</li>
                      </ul>
              
               
                  </div>
                 
                </div> 
          </div> 


<div id="accordion"> 
  <div class="card plus1" > 
      <a class="card-header collapsed card-link"
              data-toggle="collapse"
              data-target="#collapseFour"> 
              <i class="fas fa-plus float-right ">
            </i>
            <p class="header-title "> 
              النسخة 2.7.14 صدرت بتاريخ 02-07-2020            </p> 
            </a> 
      <div id="collapseFour" class="collapse"
              data-parent="#accordion"> 
          <div class="card-body"> 
           <ul>
             <li>تعديل النص الموجود في نموذج طباعة نقاط البيع الافتراضي بأن يكون سعر الضريبة 15 بدلا من 5.</li>
           </ul>
          </div>
         
      </div> 
  </div> 


  <div id="accordion"> 
      <div class="card plus1"> 
          <a class="card-header collapsed card-link"
                  data-toggle="collapse"
                  data-target="#collapseFive"> 
                  <i class="fas fa-plus float-right ">
                </i>
                <p class="header-title "> 
                  النسخة 2.7.13 صدرت بتاريخ 30-06-2020
                    </p> 
                </a> 
          <div id="collapseFive" class="collapse"
                  data-parent="#accordion"> 
              <div class="card-body"> 
                <ul>
                  <li>يُمكنك الآن التواصل مع فريق الدعم الفني وطلب المساعدة باستخدام أداة المحادثة بدلًا من رفع التذاكر.</li>
                </ul>
              </div> 
          </div> 
      </div> 

      <div id="accordion"> 
          <div class="card plus1" > 
              <a class="card-header collapsed card-link"
                      data-toggle="collapse"
                      data-target="#collapseSix"> 
                      <i class="fas fa-plus float-right ">
                    </i>
                    <p class="header-title "> 
                      النسخة 2.7.12 صدرت بتاريخ 26-06-2020
                    </p> 
                    </a> 
              <div id="collapseSix" class="collapse"
                      data-parent="#accordion"> 
                  <div class="card-body"> 
                    <ul>
                      <li>بدءًا من يوليو 2020، عند إضافة شركة جديدة سيكون سعر الضريبة بقواعد الضرائب 15% بدلًا من 5%، وذلك لتتماشى مع قرارات تغيير سعر الضريبة.</li>
                    </ul>
                  </div> 
              </div> 
          </div> 

  <div id="accordion"> 
      <div class="card plus1" > 
          <a class="card-header collapsed card-link"
                  data-toggle="collapse"
                  data-target="#collapseSeven"> 
                  <i class="fas fa-plus float-right ">
                </i>
                <p class="header-title "> 
                  النسخة 2.7.11 صدرت بتاريخ 01-06-2020
                </p> 
                </a> 
          <div id="collapseSeven" class="collapse"
                  data-parent="#accordion"> 
              <div class="card-body"> 
                <ol>:المُرتبات
                  <li>عُدلت قسيمة المرتبات لحساب الراتب الشهري للموظف بسهولة في حالة ما إن كان تاريخ مغادرته/ انضمامه للشركة واقع خلال الشهر وليس بنهايته.</li>
                  <li>لم تعد قسيمة المرتبات تتيح للمستخدم إضافة بنود استحقاق/استقطاع دون تحديد نوعها.</li>
                  <li>عُدلت مؤثرات الرواتب لتُمكن المستخدمين من التعامل مع الموظفين الذين تحتوي اسمائهم على الرمز “/”.</li>
                  <li>أثناء استخدامك لصفحة مدير الصلاحيات في الواجهة العربية، ستلاحظ تغيير اسم وثيقة تقرير سجل الراتب ليكون تقرير “مسير الرواتب” بدلاً من “سجل الرواتب”.</li>
                  <li>أُضيفت بعض التعديلات التي تربط بين طلب إجازة بدون راتب ومؤثرات الرواتب؛ فعند إضافة أكثر من إجازة في الشهر نفسه ستؤثر هذه الإجازات على مؤثرات الرواتب فور الموافقة عليها.</li>
                  <li>في حالة تقديم أحد موظفي الخدمة الذاتية وثيقة “مطالبة مصروف” ستُعرض الوثيقة تلقائيًا باسم المستخدم بناءًا على الكود الخاص به ليتمكن من اختيار “إضافة جديد”.</li>
                </ol>
                <ol>:الإجازات
                  <li>أصبح تحديد الإجازات لا يسمح للمستخدمين بعد الآن تخصيص أيام إجازات تساوي “0”.</li>
                  <li>بإمكانك الآن البحث عن رصيد إجازات الموظف باستخدام “اسم الموظف” في محرك البحث.</li>
                  <li>أصلحنا طلب الإجازة ليتوافق مع الحد الأقصى للإجازات المسموح بها شهريًا لكل موظف حسب نوع الإجازة.</li>
                  <li>يُمكنك الآن استخدام أداة تحديد الإجازات لتخصيص إجازات للسنة المالية المُمتدة خلال عامين مختلفين.</li>
                  <li>لم يعد بإمكان الموظفين ومُستخدمى النظام إنشاء طلب الإجازة لأيام ذات تاريخ سابق لتاريخ الانضمام للشركة.</li>
                  <li>يُمكنك الآن بسهولة تعديل رصيد الإجازات المُخصصة جديدًا بما لا يتعدى الحد الأقصى من الأيام المسموح بها لكل موظف.</li>
                  <li>من اليوم ستظهر لك رسالة إشعار تنبيهية في حالة تقاطع الإجازة المطلوبة مع تاريخ العطلة، لكنها لن تمنعك من حفظ أو اعتماد طلب الإجازة فى وثيقة نموذج إجازة.</li>
                </ol>
              </div> 
          </div> 
      </div> 


<div id="accordion"> 
<div class="card plus1"> 
    <a class="card-header collapsed card-link"
            data-toggle="collapse"
            data-target="#collapseOnee"> 
            <i class="fas fa-plus float-right ">
          </i>
          <p class="header-title "> 
            النسخة 2.7.10 صدرت بتاريخ 20-04-2020          </p> 
          </a> 
    <div id="collapseOnee" class="collapse"
            data-parent="#accordion"> 
        <div class="card-body"> 
         <ul>
           <li>تحسينات و إصلاحات عامة على النظام</li>
         </ul>
        </div> 
    </div> 
</div> 

<div id="accordion"> 
  <div class="card plus1"  > 
      <a class="card-header collapsed card-link"
              data-toggle="collapse"
              data-target="#collapseTwoo"> 
              <i class="fas fa-plus float-right ">
            </i>
            <p class="header-title "> 
              النسخة 2.7.9 صدرت بتاريخ 23-02-2020            </p> 
            </a> 
      <div id="collapseTwoo" class="collapse"
              data-parent="#accordion"> 
          <div class="card-body"> 
            <ul><li>تحسينات و إصلاحات عامة على النظام</li></ul>
          </div> 
      </div> 
  </div> 

<div id="accordion"> 
  <div class="card plus1" > 
      <a class="card-header collapsed card-link"
              data-toggle="collapse"
              data-target="#collapseThreee"> 
              <i class="fas fa-plus float-right ">
            </i>
            <p class="header-title "> 
              النسخة 2.7.8 صدرت بتاريخ 30-01-2020            </p> 
            </a> 
      <div id="collapseThreee" class="collapse"
              data-parent="#accordion"> 
          <div class="card-body"> 
            <ul><li>تحسينات و إصلاحات عامة على النظام</li></ul>
          </div> 
      </div> 
  </div> 

  <div id="accordion"> 
      <div class="card plus1"  > 
          <a class="card-header collapsed card-link"
                  data-toggle="collapse"
                  data-target="#collapseFivee"> 
                  <i class="fas fa-plus float-right ">
                </i>
                <p class="header-title "> 
                  النسخة 2.7.7 صدرت بتاريخ 29-01-2020                </p> 
                </a> 
          <div id="collapseFivee" class="collapse"
                  data-parent="#accordion"> 
              <div class="card-body"> 
                <ul><li>تحسينات و إصلاحات عامة على النظام</li></ul>              </div> 
          </div> 
      </div> 

<div id="accordion"> 
    <div class="card plus1" > 
        <a class="card-header collapsed card-link"
                data-toggle="collapse"
                data-target="#collapseSixx"> 
                <i class="fas fa-plus float-right ">
              </i>
              <p class="header-title "> 
                النسخة 2.7.6 صدرت بتاريخ 06-01-2020              </p> 
              </a> 
        <div id="collapseSixx" class="collapse"
                data-parent="#accordion"> 
            <div class="card-body"> 
              <ul><li>تحسينات و إصلاحات عامة على النظام</li></ul>            </div> 
        </div> 
    </div> 

    <div id="accordion"> 
        <div class="card plus1" > 
            <a class="card-header collapsed card-link"
                    data-toggle="collapse"
                    data-target="#collapseSevenn"> 
                    <i class="fas fa-plus float-right ">
                  </i>
                  <p class="header-title "> 
                    النسخة 2.7.5 صدرت بتاريخ 17-12-2019                  </p> 
                  </a> 
            <div id="collapseSevenn" class="collapse"
                    data-parent="#accordion"> 
                <div class="card-body"> 
                  <ul><li>تحسينات و إصلاحات عامة على النظام</li></ul>                   </div> 
            </div> 
        </div> 


  <div id="accordion"> 
      <div class="card plus1"> 
          <a class="card-header collapsed card-link"
                  data-toggle="collapse"
                  data-target="#collapseEight"> 
                  <i class="fas fa-plus float-right ">
                </i>
                <p class="header-title "> 
                  النسخة 2.7.4 صدرت بتاريخ 15-12-2019                </p> 
                </a> 
          <div id="collapseEight" class="collapse"
                  data-parent="#accordion"> 
              <div class="card-body"> 
                <ul><li>تحسينات و إصلاحات عامة على النظام</li></ul>                 </div> 
          </div> 
      </div> 



      <div id="accordion"> 
          <div class="card plus1"> 
              <a class="card-header collapsed card-link"
                      data-toggle="collapse"
                      data-target="#collapseTen"> 
                      <i class="fas fa-plus float-right ">
                    </i>
                    <p class="header-title "> 
                      النسخة 2.7.3 صدرت بتاريخ 23-10-2019                    </p> 
                    </a> 
              <div id="collapseTen" class="collapse"
                      data-parent="#accordion"> 
                  <div class="card-body"> 
                    <ul><li>تحسينات و إصلاحات عامة على النظام</li></ul>  
                  </div> 
              </div> 
          </div> 


<div id="accordion"> 
    <div class="card plus1" > 
        <a class="card-header collapsed card-link"
                data-toggle="collapse"
                data-target="#collapseEleven"> 
                <i class="fas fa-plus float-right ">
              </i>
              <p class="header-title "> 
                النسخة 2.7.2 صدرت بتاريخ 01-10-2019              </p> 
              </a> 
        <div id="collapseEleven" class="collapse"
                data-parent="#accordion"> 
            <div class="card-body"> 
              <ul><li>تحسينات و إصلاحات عامة على النظام</li></ul>              </div> 
        </div> 
    </div> 



<div id="accordion"> 
    <div class="card plus1"> 
        <a class="card-header collapsed card-link"
                data-toggle="collapse"
                data-target="#collapseTwelve"> 
                <i class="fas fa-plus float-right ">
              </i>
              <p class="header-title "> 
                النسخة 2.7.1 صدرت بتاريخ 25-09-2019              </p> 
              </a> 
        <div id="collapseTwelve" class="collapse"
                data-parent="#accordion"> 
            <div class="card-body"> 
              <ul><li>تحسينات و إصلاحات عامة على النظام</li></ul>             </div> 
        </div> 
    </div> 



        <div id="accordion"> 
            <div class="card plus1"> 
                <a class="card-header collapsed card-link"
                        data-toggle="collapse"
                        data-target="#collapseFirst"> 
                        <i class="fas fa-plus float-right ">
                      </i>
                      <p class="header-title "> 
                        النسخة 2.7.0 صدرت بتاريخ 24-09-2019                      </p> 
                      </a> 
                <div id="collapseFirst" class="collapse"
                        data-parent="#accordion"> 
                    <div class="card-body"> 
                      <ul><li>تحسينات و إصلاحات عامة على النظام</li></ul>                      </div> 
                </div> 
            </div> 






            <div id="accordion"> 
                <div class="card plus1" > 
                    <a class="card-header collapsed card-link"
                            data-toggle="collapse"
                            data-target="#collapseSecond"> 
                            <i class="fas fa-plus float-right ">
                          </i>
                          <p class="header-title "> 
                            النسخة 2.6.7 صدرت بتاريخ 19-08-2019                          </p> 
                          </a> 
                    <div id="collapseSecond" class="collapse"
                            data-parent="#accordion"> 
                        <div class="card-body"> 
                          <ul><li>تحسينات و إصلاحات عامة على النظام</li></ul>                          </div> 
                    </div> 
                </div> 
                



</div>
</div>
</div>
</div>
      </div>
  </div>
    </div>
</div>
  </div>
</div>
</div></div></div></div></div></div></div></div></div></div>
 


