<div class="footer py-5" >
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-3 right first">
                <div>
                    <img class="img-fluid d-flex logo" src="assets/img/logowhite.png" >
                    <p class="pt-3" >Dynamic هي خدمة توفر لك مجموعة نظم وبرامج مالية وإدارية سهلة وآمنة على الانترنت، وهي مشغلة ومدارة بالكامل باستخدام تقنيات الحوسبة السحابية، إضافة إلى أنها مصحوبة بخدمات الدعم الفني الوظيفي المتخصص (محاسبين متخصصين) ومتصلة بأنظمة الدفع والتحصيل الالكتروني.</p>
                </div>
               
            </div>
            <div class="col-md-9">
                <div class="container">
                    <div class="row no-gutters">

                        <div class="col-md-3 company ">
                            <h4 class="mr-4 pr-3">حول الشركة</h4>
                            <ul class="mt-3">
                                <li><a routerLink="contactus"><i class="fas fa-chevron-left"></i>الإتصال بنا</a></li>
                                <li><a routerLink="/jobs"><i class="fas fa-chevron-left"></i>الوظائف</a></li>
                                <li><a routerLink="/record"><i class="fas fa-chevron-left"></i>سجل التحديثات</a></li>
                                <li><a routerLink="agreement"><i class="fas fa-chevron-left" ></i>إتفاقية الشروط والأحكام</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 solution">
                            <h4 class="mr-4 pr-3">الحلول</h4>
                            <ul class="mt-3">
                                <li><a routerLink="/solutions"><i class="fas fa-chevron-left"></i>تجارة الجملة والتجزئة / التجارة الإلكترونية</a></li>
                                <li><a routerLink="/solutions"><i class="fas fa-chevron-left"></i>حلول المطاعم والمقاهي</a></li>
                                <li><a routerLink="/solutions#"><i class="fas fa-chevron-left"></i>حلول التصنيع</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 services">
                            <h4 class="mr-4 pr-3">الخدمات</h4>
                            <ul class="mt-3">
                                <li><a routerLink="/complete"><i class="fas fa-chevron-left"></i>الخدمات المحاسبية المتكاملة</a></li>
                                <li><a routerLink="/services"><i class="fas fa-chevron-left"></i>التدريب</a></li>
                                <li><a routerLink="/services"><i class="fas fa-chevron-left"></i>الإعداد والتهيئة</a></li>
                                <li><a routerLink="/services"><i class="fas fa-chevron-left"></i>التطبيق</a></li>
                                <li><a routerLink="/services"><i class="fas fa-chevron-left"></i>التخصيص</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 community">
                            <h4 class="mr-4 pr-3">مجتمعنا</h4>
                            <ul class="mt-3">
                                <li><a routerLink="/client"><i class="fas fa-chevron-left"></i>صوت العميل</a></li>
                                <li><a routerLink="/user"><i class="fas fa-chevron-left"></i>دليل الإستخدام</a></li>
                                <li><a routerLink="/partners"><i class="fas fa-chevron-left"></i>المطورون </a></li>
                                
                            </ul>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="py-3">
                    <h4>طرق الدفع</h4>
                    <img class="img-fluid d-flex mt-4 visa" src="assets/images/payments-2.png" >

                </div>
            </div>
            <div class="col-md-9">

            </div>
        

        </div>
    </div>
</div>
<footer class=" every1 py-4 ">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
        <div class="links">
            <a href="#"><i class="fab fa-linkedin-in rounded"></i></a>

            <a href="#"><i class="fab fa-twitter rounded"></i></a>
            <a href="#"><i class="fab fa-facebook-f rounded"></i></a>

            
        </div></div>
        <div class="col-md-4 every">
        <span>EPR جميع الحقوق محفوظة 2020 © | Dynamic </span></div>
    </div></div>
    
</footer>


