<div class="background">
    <img src="assets/images/advanced-analysis-cover.png">
    <div class="transbox">
    </div>
    <div class="transbox1">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12 lampa">
            <img style="width: 150px; height:150px;" src="assets/images/powerbi-logo-icon.png" class="img-fluid mt-3 man">

          </div>
          <div class="col-md-8 col-sm-12 dafater">
            <h3>دعم اتخاذ القرار ومناجم البيانات، الثروة الحقيقية</h3>
            <p class="py-2">لطالما شكلت عقبة تجميع و تحليل البيانات مشكلة كبرى أمام المدراء التنفيذين في اتخاذ وصناعة القرارات، إذ أن القدرة على النفوذ إلى البيانات وتمثيلها بصريا ورسم سيناريوهات التحليل العميقة يحتاج إلى تكامل أنظمة كثيرة وإلى بنى تحتية معقدة.</p>
             <p>تتيح وصلة باور بي آي PowerBI من Dynamic لعملائها قيمة حقيقية للشركات تمكنهم من خلالها من النفوذ المباشر دون تعقيدات لبياناتهم الحية على منصة Dynamic، مباشرة.</p>
          </div>

        </div>

      </div>
    </div>
  </div>
<section class="info py-5">
    <div class="container">
        <div class="row py-2">
            <div class="col-md-6">
                <h2 class="mt-4">ماهي التحليلات المتقدمة </h2>
                <hr>
                <p>تعرف التحليلات المتقدمة على أنها مجموعة من التقنيات التحليلية البرمجية المصممة لتقصي واستكشاف وتحليل البيانات من خلال تصوير البيانات المخزنة في أماكن متفرقة بشكل رسومي.</p>
                 <p>توفر هذه التقنيات أيضا القدرة على الغوص العشوائي في عمق البينات وربط أبعادها المختلفة ببعضها وتحليل العلاقات الخفية بين هذه الأبعاد، وكمثال على ذلك بإمكان مدراء المبيعات دراسة أكثر الأصناف مبيعا في المواسم المختلفة بحسب المنطقة أو الفرع أو المندوب واكتشاف الأصناف الأكثر رواجا أو الأكثر ربحية، أو تلك التي يرتبط نمو مبيعاتها بشكل مباشرة مع نمو مبيعات أصناف أخرى لخلق عروض ترويجية ذكية.</p>
                <p>من الأمثلة كذلك، ما يمكن لمدراء الشركات التنفيذيين من معرفته في العلاقة المرتبطة بين ربحية الشركة وأداء وحدات العمل المختلفة وتكلفة تشغليها المباشرة مما يساعد على اتخاذ قرارات مثل إقفال الفروع أو دراسة مصاريفها أو افتتاح أفرع جديدة وتغيير أنماط الإدارة.</p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="assets/images/inforgraphic-bi.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="microsoft px-5  py-5">
    <div class="container m-auto">
        <h2> ؟ MS PowerBI  ماهي مايكروسوفت باور بي آي</h2>
    <hr>
    <p>هي خدمة سحابية لتحليل بيات الأعمال والتي توفر نظرة شاملة وعريضة لبياناتك المهمة والحرجة في الشركة. بالاتصال بمصادر بياناتك المختلفة مهما كان نوعها تبسط لك خدمة باور بي (PowerBI) تحليل اليانات ومشاركتها من خلال لوحات قياس قوية ومرنة، وتقارير تفاعلية، ورسوميات مضمنة والكثير غيرها.</p>
     <p>يمكن الاستفادة الخدمة أيضا من خلال برامج يمكن تحميلها على أجهزة الحاسب المكتبي والأجهزة الذكية المحمولة.</p>
     <iframe width="700" height="400" src="https://www.youtube.com/embed/yKTSLffVGbk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</section>

<section class="challenge py-5">
    <div class="container">
        <div class="row">
            <div style="top: 70px;" class="col-md-6 text position-relative">
               <h2 >التحدي الحقيقي  </h2>
               <hr>
               <p>لطالما شكلت عقبة تجميع و تحليل البيانات مشكلة كبرى أمام المدراء التنفيذين في اتخاذ وصناعة القرارات، إذ أن القدرة على النفوذ إلى البيانات وتمثيلها بصريا ورسم سيناريوهات التحليل العميقة يحتاج إلى تكامل أنظمة كثيرة وإلى بنى تحتية معقدة.
                تتيح وصلة باور بي آي PowerBI من Dynamic لعملائها قيمة حقيقية للشركات تمكنهم من خلالها من النفوذ المباشر دون تعقيدات لبياناتهم الحية على منصة Dynamic، مباشرة.</p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="assets/images/graphic-bi2.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="py-5 give">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="assets/images/graphic-bi3.png" alt="">
            </div>
            <div style="top: 70px;" class="col-md-6 text position-relative">
                <h2>ما الذي تقدمه Dynamic </h2>
                <hr>
                <p>توفر Dynamic لعملائها القدرة على النفاذ الحي والمباشر لبياناتهم الحية في منصة Dynamic بدون تعقيدات وبدون بنى تحتية من خلال وصلة مايكروسوفت باور بي بحيث يتمكن المدراء التنفيذيون من تمثيل بياناتهم ودراستها وتحليلها رسوميا دون تعقيد أو تأخير، مما يمكن مدراء الأعمال والإدارات المختلفة من الدخول وتجهيز لوحات قياس لمتابعة أعمال الشركة بأي شكل كان.</p>
            </div>
        </div>
    </div>
</section>

<section  class="wasla text-center py-5">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="dash">-----------------------------------------------------------</div>
            <div>
                <h2>كيف تعمل وصلة Dynamic </h2>
            </div>
            <div class="dash">-----------------------------------------------------------</div>
        </div>
        <div class="row pt-5 py-3 ">
            <div class="col-md-6">
                <img class="img-fluid" src="assets/images/PowerBI-2.png" alt="">
                <p class="mt-3">أولاً: تحميل ملحق Dynamic بور بي آي – Dafater Power BI Extension</p>
                <hr>
                <button class="btn btn-info">تنزيل</button>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="assets/images/pdf.png" alt="">
                <p class="mt-3"> ثانياً: ركب الملحق باتباع التعليمات في الملف المرفق</p>
                <hr>
                <button class="btn btn-info">تنزيل</button>
            </div>
        </div>
    </div>
</section>
 