<main id="main_Content" >
  <div class="background">
    <img src="assets/image/tour.jpg">
    <div class="transbox">
    </div>
    <div class="transbox1">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12 lampa">
            <img style="width: 140px;" src="assets/image/manlamp.svg" class="img-fluid man">

          </div>
          <div class="col-md-9 col-sm-12 dafater">
            <h3>جولة في Dynamic</h3>
            <p>تساعد Dynamic المنشآت التجارية المتوسطة قبل الصغيرة في إدارة العمليات المالية والإدارية المختلفة بأقل جهد
              وتكلفة مقارنة بالأنظمة العالمية الأخرى</p>

          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="works">
    <h3>Dynamic منصة الأعمال التجارية بالمزايا والخواص الجديدة!</h3>
    <p>مجموعة برامج أعمال مترابطة ومتوافقة في خدمة المؤسسة التجارية ليصبح كل شيء أسهل</p>

  </div>
  <div class="brdr1">

  </div>
  <div class=" container vedio">
    <iframe src="https://www.youtube.com/embed/8CuYwfeI4c0" class="responsive-iframe"></iframe></div>


  <div class="sample">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1>واجهة بسيطة وسهلة وخيارات إحترافية</h1>
          <p>Dynamic نظام إحترافي بمعنى الكلمة، جميع برامج Dynamic مترابطة ومتوافقة مع بعضها البعض لتغطي جميع جوانب العمل
            الاداري والتجاري، هناك إعدادات وخيارات دقيقة جداً يحتويها Dynamic، أضف لذلك فهو محدّث بشكل متواصل، لا غنى عن
            Dynamic في أي مؤسسة تجارية، أدر وقتك وموظفيك وأعمالك ببساطة وسهولة!</p>
          <a href="/try" class="button_animated" style="top: 50px; position: relative; opacity: 1;"> جرب مجانا الان</a>
        </div>
        <div class="col-md-6 col-sm-12">
          <img class="img-fluid" src="assets/image/3.png">


        </div>

      </div>

    </div>
  </div>

  <div class="speed container">
    <h1>واجهة جديدة بسيطة، خيارات كثيرة! ، وصول سريع</h1>
    <p> واجهة المستخدمة بسيطة وصديقة للمستخدم وخيارات وصول سريعة، بحيث يمكنك من الواجهة الرئيسية للنظام الوصول إلى أي
      شيء بنقرة!، العديد من القوائم يوفرها نظام Dynamic لتتناسب مع العمل الخاص بك، قوائم المهام، الشريط العلوي ، الرسائل،
      القائمة الرئيسية، الملف الشخصي، الأعمال وكل شيء!.</p>

    <div class="brdr1">

    </div>
    <img src="assets/images/4.png" class="img-fluid">
  </div>
  <div class="gawla">
    <h1>جولة سريعة على شاشات نظام Dynamic</h1>
    <p class="container">مجموعة برامج Dynamic في لقطات بسيطة يمكنك مشاهدة شاشات Dynamic بشكل واقعي لا تنس طلب تجربة وسيقوم
      فريق الدعم بتسهيل الامر عليك
      طلب التجربة من خلال النقر على زر “طلب تجربة”</p>

  </div>
  <div class="triangle-down"></div>




  <div class="container">
    <div class="row d3m">
      <div class="col-md-4 col-sm-12 model3 third">

        <div class="model2">
          <!-- Button trigger modal -->
          <button type="button" class="m-btn" data-toggle="modal" data-target="#exampleModal1">
            <img src="assets/image/image1.jpg" class="img-fluid">
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">

              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <img src="assets/image/image1.jpg" class="img-fluid">
            </div>

          </div>



          <h5>دفتر الشراء</h5>
          <p>كل ما يتعلق بدورة المشتريات، من بيانات الموردين، مستحقاتهم، ماتم دفعه لهم وما تبقى، كل ما قمت بشراءه يتم
            تقييده وتصنيفه هنا</p>
        </div>
      </div>



      <div class="col-md-4 col-sm-12 model3 second">
        <div class="model2">
          <!-- Button trigger modal -->
          <button type="button" class="m-btn" data-toggle="modal" data-target="#exampleModal2">
            <img src="assets/image/image2.jpg" class="img-fluid">
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">

              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body1">
                <img src="assets/image/image2.jpg" class="img-fluid"></div>
            </div>
          </div>

        </div>

        <h5>دفتر البيع</h5>
        <p>أدر دورة البيع من التسعير إلى الفوترة، واربط ما تم تسديده لك بالفواتير الصادرة أو قيد ما تبقى لك على عملائك
          مع كامل بياناتهم وبيانات تواصلك معهم</p>
      </div>



      <div class="col-md-4 col-sm-12 model3 first" (click)="openModal(template)">
        <div class="model2">
          <!-- Button trigger modal -->
          <button type="button" class="m-btn" data-toggle="modal" data-target="#exampleModal3">
            <img src="assets/image/image3.jpg" class="img-fluid">
          </button>

          <!-- Modal -->

          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">دفتر الحسابات</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="assets/image/image3.jpg" class="img-fluid">
            </div>
          </ng-template>

       <!--    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">

              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <img src="assets/images/41.png" class="img-fluid">
            </div>

          </div> -->
        </div>


        <h5> دفتر الحسابات</h5>
        <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك
          وإيراداتك</p>
      </div>
    </div>


    <div class="row d3m">
      <div class="col-md-4 model3">

        <div class="model2">
          <!-- Button trigger modal -->
          <button type="button" class="m-btn" data-toggle="modal" data-target="#exampleModal4">
            <img src="assets/image/image4.jpg" class="img-fluid">
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">

              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <img src="assets/image/image4.jpg" class="img-fluid">
            </div>

          </div>



          <h5> دفتر المشاريع</h5>
          <p>هذا البرنامج يساعد المنشآت الخدمية، كشركات المقاولات وخدمات الصيانة من تقييد عدد المهام وساعات العمل على
            المشاريع وربطها بالعملاء</p>
        </div>
      </div>



      <div class="col-md-4 model3">
        <div class="model2">
          <!-- Button trigger modal -->
          <button type="button" class="m-btn" data-toggle="modal" data-target="#exampleModal5">
            <img src="assets/image/image1.jpg" class="img-fluid">
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">

              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body1">
                <img src="assets/image/image1.jpg" class="img-fluid"></div>
            </div>
          </div>

        </div>

        <h5>دفتر الموارد البشرية </h5>
        <p>من الحضور والانصراف إلى الرواتب، والاجازات، وكل وثائق الموظفين، برنامج موارد بشرية متوافق مع أنظمة وزارة
          العمل السعودية بالكامل</p>
      </div>



      <div class="col-md-4 model3">
        <div class="model2">
          <!-- Button trigger modal -->
          <button type="button" class="m-btn" data-toggle="modal" data-target="#exampleModal6">
            <img src="assets/image/image2.jpg" class="img-fluid">
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">

              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <img src="assets/image/image2.jpg" class="img-fluid">
            </div>

          </div>
        </div>


        <h5> دفتر المخزون</h5>
        <p>
          متابعة رصيد المخزون وحركة الأصناف، وعمليات الجرد أصبحت سهلة جدا، كل أصنافك مصورة ومرقمة بشكل دقيق ومربوطة
          بمتجرك الالكتروني</p>
      </div>
    </div>




    <div class="row d3m">
      <div class="col-md-4 model3">

        <div class="model2">
          <!-- Button trigger modal -->
          <button type="button" class="m-btn" data-toggle="modal" data-target="#exampleModal7">
            <img src="assets/image/image3.jpg" class="img-fluid">
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">

              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <img src="assets/image/image3.jpg" class="img-fluid">
            </div>

          </div>



          <h5> قائمة الوصول</h5>
          <p>قائمة الوصول السريع، قائمة جديدة في Dynamic الشكل الجديد تسهل عليك العديد من العمليات والمهام من خلال نقرة
            زر!</p>
        </div>
      </div>



      <div class="col-md-4 model3">
        <div class="model2">
          <!-- Button trigger modal -->
          <button type="button" class="m-btn" data-toggle="modal" data-target="#exampleModal8">
            <img src="assets/image/image4.jpg" class="img-fluid">
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">

              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body1">
                <img src="assets/image/image4.jpg" class="img-fluid"></div>
            </div>
          </div>

        </div>

        <h5>دفتر البيع</h5>
        <p>أدر دورة البيع من التسعير إلى الفوترة، واربط ما تم تسديده لك بالفواتير الصادرة أو قيد ما تبقى لك على عملائك
          مع كامل بياناتهم وبيانات تواصلك معهم</p>
      </div>



      <div class="col-md-4 model3">
        <div class="model2">
          <!-- Button trigger modal -->
          <button type="button" class="m-btn" data-toggle="modal" data-target="#exampleModal9">
            <img src="assets/image/image1.jpg" class="img-fluid">
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">

              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <img src="assets/image/image1.jpg" class="img-fluid">
            </div>

          </div>
        </div>


        <h5> الدعم والمساندة </h5>
        <p>قيد شكاوى العملاء والرد عليها، وجداول الصيانة ومعلومات الضمان وزيارات العملاء بشكل سلس ومركزي</p>
      </div>
    </div>

  </div>



  <div class="triangle-up"></div>
  <div class="momyzat">
    <h1> الجديدDynamic إستعراض بسيط لأهم ميزات  
    
      </h1>
    <div class="brdr">

    </div>
    <div class="container">
      <div class="row ">
        <div class="col-md-4 showw">
          <div><i class="fas fa-circle"></i>
            <span>سيرفرات خاصة</span>
          </div>
          <div><i class="fas fa-circle"></i>
            <span>نسخ إحتياطي متواصل </span>
          </div>
          <div><i class="fas fa-circle"></i>
            <span> تنبيهات عبر البريد</span>
          </div>
          <div><i class="fas fa-circle"></i>
            <span> نظام سحابي</span>
          </div>
          <div><i class="fas fa-circle"></i>
            <span> تقنيات متطورة</span>
          </div>

        </div>

        <div class="col-md-4 showw">
          <div><i class="fas fa-circle"></i>
            <span> آمن ومحمي</span>
          </div>
          <div><i class="fas fa-circle"></i>
            <span> نظام متكامل </span>
          </div>
          <div><i class="fas fa-circle"></i>
            <span> كلمة مرور OTP</span>
          </div>
          <div><i class="fas fa-circle"></i>
            <span> نظام موّحد </span>
          </div>
          <div><i class="fas fa-circle"></i>
            <span> تخصيصات موّسعة </span>
          </div>

        </div>

        <div class="col-md-4 showw">
          <div><i class="fas fa-circle"></i>
            <span>سهولة الإستخدام </span>
          </div>
          <div><i class="fas fa-circle"></i>
            <span>خيارات مخصصة </span>
          </div>
          <div><i class="fas fa-circle"></i>
            <span> وصول سريع</span>
          </div>
          <div><i class="fas fa-circle"></i>
            <span> محدث بشكل متواصل</span>
          </div>
          <div><i class="fas fa-circle"></i>
            <span> متوافق </span>
          </div>

        </div>

      </div>

    </div>
  </div>


  <div class="purple">
    <div class="container">
      <div class="row">
        <div class="col-md-3 second">
          <button type="button" class="btn py-3 mt-3 btn-light">جرب مجانا الان</button>

        </div>
        <div class="col-md-9 first">
          <h4>لديك أسئلة؟ احجز مستشارك الخاص لمدة نصف ساعة مجانا الآن</h4>
          <p>فضلاً، قم بتعبئة النموذج وسيتم الترتيب لاستعراض Dynamic معك والاجابة على كل أسئلتك. سيتصل بك أحد مستشارينا
            وجميعهم محاسبون أخصائيون في تقديم الحلول المحاسبية و يحملون خبرة تتجاوز العشر سنوات، وسيسعدون حتماً بتقديم
            النصح لك لحل مشاكل منشأتك مجاناً</p>

        </div>

      </div>

    </div>

  </div>
 

</main>