<header class="d-flex justify-content-around align-items-center">
            
    <div class="text-white header-caption">
        <p class="p-clor">شهادات العملاء</p>
        <p>في هذه الصفحة نستعرض لكم بعض من عملاءنا المميزين الذين أدلو بأراءهم
             حول خدمة Dynamic، هناك الكثير أيضاً من العملاء<br> المعجبين بالخدمة ولكن في هذه المقام سنعرض بعض من كل،
              يمكنك تصفح الأراء ومشاهدة رأي كل عميل من عملاءنا حول <br> خدماتنا المميزة في Dynamic
        </p>
    </div>
    <img src="assets/images/man.png" class="img-fluid" alt="man">

</header>
<!--end header-->  

<!--start section blog--> 
<section class="container pt-5 blog">
   <div class="row">

    <div class="col-lg-4 mb-4 text-center">
        <div class="blog-brdr">
            <img src="assets/images/rozan.png" class="img-fluid" alt="qiam">
        </div>
        <div>
             <h6 class="pt-4">عبدالله</h6>
             <p class="blog-clor">المالك، روازان الدولية</p>
             <img src="assets/images/zkhrafa.png" class="img-fluid" alt="zkhrafa">
             <p class="text-secondary">خدمة ممتازة جدا ودعم فني على أعلى مستوى</p>
        </div>   
    </div>
    
    <div class="col-lg-4 col-md-12 mb-4 text-center">
        <div class="blog-brdr">
            <img src="assets/images/qiam.png" class="img-fluid" alt="qiam">
        </div>
        <div>
            <h6 class="pt-4">مشاري السليمان</h6>
            <p class="blog-clor">المدير العام، قيم العقارية</p>
            <img src="assets/images/zkhrafa.png" class="img-fluid" alt="zkhrafa">
            <p class="text-secondary">تحية طيبة الخدمة وان كانت في بدايتها الا انها متميزة وسهلة الاستخدام خصوصا
               دفتر الحسابات لبساطة عرض التقارير وبناء الأدلة كذلك، اما بقية الDynamic لم نستخدمها بشكل كبير 
               ونحن بصدد اعتماد دفتر الموارد البشرية.تمنياتنا لكم بالتوفيق والتطوير المستمر
            </p>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-12 mb-4 text-center">
        <div class="blog-brdr">
            <img src="assets/images/akhween-comp.png" class="img-fluid" alt="qiam">
        </div>
        <div> 
             <h6 class="pt-4">فارس محمد الكندي</h6>
             <p class="blog-clor">المدير التنفيذي، مجموعة المتطورة</p>
             <img src="assets/images/zkhrafa.png" class="img-fluid" alt="zkhrafa">
             <p class="text-secondary">خدمة Dynamic خدمة ممتازه ورائعه من ناحية انها متكامله</p>
        </div>    
    </div>
    <div class="col-lg-4 col-md-12 mb-4 text-center">
        <div class="blog-brdr">
            <img src="assets/images/bahja-assharq.png" class="img-fluid" alt="qiam">
        </div>
        <div> 
             <h6 class="pt-4">محمد احمد مصطفى</h6>
             <p class="blog-clor">محاسب، بهجة الشرق</p>
             <img src="assets/images/zkhrafa.png" class="img-fluid" alt="zkhrafa">
             <p class="text-secondary">خدمة Dynamic خدمة مميزه تتيح لك ادارة موسستك بطريقة السليمة 
                 والصحيحة ومتابعة حسابتك في مكان واي زمان وهذا من اهم الميزات
             </p>
        </div>    
    </div>
    <div class="col-lg-4 col-md-12 mb-4 text-center">
        <div class="blog-brdr">
            <img src="assets/images/cash-wash.png" class="img-fluid" alt="qiam">
        </div>
        <div> 
             <h6 class="pt-4">عبد الله سليمان السعيد</h6>
             <p class="blog-clor">محاسب، CARWASH</p>
             <img src="assets/images/zkhrafa.png" class="img-fluid" alt="zkhrafa">
             <p class="text-secondary">السلام عليكم ورحمة الله وبركاته برنامج مميز 
                 وفريق اكثر تميز عبدالله سليمان السعيد من مغسلة الآلة المتخصصة للسيارات EMCW
             </p>
        </div>    
    </div>
    <div class="col-lg-4 col-md-12 mb-4 text-center">
        <div class="blog-brdr">
            <img src="assets/images/bab-araziz.png" class="img-fluid" alt="qiam">
        </div>
        <div> 
             <h6 class="pt-4">هشام الكناني</h6>
             <p class="blog-clor">محاسب، باب الرزيز لتجارة السيارات</p>
             <img src="assets/images/zkhrafa.png" class="img-fluid" alt="zkhrafa">
             <p class="text-secondary">Dynamic خدمة رائعة ساعدتني علي ادارة عملي بسهولة وربط الفروع المختلفة 
                 ومتابعتها من اي مكان. خدمة الدعم الفني مميزة جداشكرا Dynamic علي ما تقدمونه لنا وفي انتظار مزيد من العطاء
             </p>
        </div>    
    </div>
    <div class="col-lg-4 col-md-12 mb-4 text-center">
        <div class="blog-brdr">
            <img src="assets/images/iwe.png" class="img-fluid" alt="qiam">
        </div>
        <div> 
             <h6 class="pt-4">أحمد صلاح</h6>
             <p class="blog-clor">مدير العلميات، مؤسسة المياه العالمية</p>
             <img src="assets/images/zkhrafa.png" class="img-fluid" alt="zkhrafa">
             <p class="text-secondary">برنامج ممتاز ويعتبر من افضل البرامج الموجودة الان بالسوق من حيث تقديم خدمة 
                 (Online) وايضا من ناحية السعر , فسعر الباقات يتناسب مع الشركات او المؤسسة التي تعتبر صغيرة او متوسطة.واكثر شي عجبني 
                 الخدمات والتفاعل المقدم من خلالهم , حيث اني طلبت بعض الاضافات للنظام للتوافق مع نمط العمل
                  لدينا والحمد لله تمت الاضافات و التعديل بالشكل المطلوب وباسعار مناسبة جداً.شكرا لكم على هذا 
                 البرنامج الرائع وايضاً اخص بالشكر السيد / محمد الامير الذي كان ومازال يتواصل معي خطوة بخطوة
                  , ومتابعة جيدة منه , وشكرا لقسم البرمجة لاضافة ميزة الطباعة الحرارية ( ايبسون )

             </p>
        </div>    
    </div>
    <div class="col-lg-4 col-md-12 mb-4 text-center">
        <div class="blog-brdr">
            <img src="assets/images/tech-signal.png" class="img-fluid" alt="qiam">
        </div>
        <div> 
             <h6 class="pt-4">حسان الصديق</h6>
             <p class="blog-clor">محاسب، Tec Signal</p>
             <img src="assets/images/zkhrafa.png" class="img-fluid" alt="zkhrafa">
             <p class="text-secondary">بداية احب ان اشكر فريق Dynamic على البرنامج المميز والخدمة المميزة
                  المقدمة والتي ابهرتنا والتي جعلتنا لا نفكر باستخدام اي برنامح اخر غير Dynamic خصوصا بعد استخدامنا للعديد 
                  من البرمجات المتوفرة بالسوق ، لكن Dynamic هو الافضل بعد التجارب التي قمنا بها 
                  ، الشيء الذي يميز Dynamic عن غيرها من شركات برمجيات المحاسبة هو فريق العمل الرائع 
                  ، اشخاص مثل عبد الرحيم ، وسيد عبد القادر ومحمد عاطف ، دائما مايدموا لنا النصح والارشادات 
                  اللازمة لاستخدام البرنامج بطريقة فعالة ، بالاضافة الى التحديثات المميزة التي تصدر للنظام 
                  بشكل دوري وشهري جعلتنا من عشاق هذا النظام ، نتمنى لكم المزيد من التقدم
             </p>
        </div>    
    </div>
    <div class="col-lg-4 col-md-12 mb-4 text-center">
        <div class="blog-brdr">
            <img src="assets/images/almohaded.png" class="img-fluid" alt="qiam">
        </div>
        <div> 
             <h6 class="pt-4">محمد نبيل خليل ابراهيم</h6>
             <p class="blog-clor">رئيس حسابات، المحدد للإستشارات الهندسية</p>
             <img src="assets/images/zkhrafa.png" class="img-fluid" alt="zkhrafa">
             <p class="text-secondary">برنامج واضح وسهل في ادخال القيود اليومية واستخراج تقارير 
                 المحاسبية بدقة ويسر ويحتوى علي تقرير التحليلات المالية للمركز التكلفة الذى يساعد علي 
                 تحديد الموقف المالي من ربح اوخسارة سواء شهري او سنوى واستخراج القوائم المالية 
                 شهريا او سنوية يساعد علي عمل مقارنة شهريه اوسنوية للارباح او خسارة الدعم الفني 
                 ممتاز لو يوجد اي مشكله في برنامج او استشارة محاسبية يتم حلها باسرع وقت 
                 يوجد تحديثات باستمراربرنامج اون لين يساعدك علي دخول عليه من اي مكان
             </p>
        </div>    
    </div>
    
   </div>
</section>
<!--end section blog-->  

<!--start bg-->
<section class="container bg mb-5 d-flex align-items-center justify-content-center">
   <img src="assets/images/testimonials2.png" alt="testimonials2">
</section>
<!--end bg-->

<!--start section service-->
<section class="service container py-4 text-center">
   <div class="text-center pb-5">
       <h4 class="service-head pb-3">المزيد من العملاء</h4>
   </div>
   <div class="row">


    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/the-business-sloutions.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/taqnia.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/tanmia.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/tam.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/Chemya-western-speciality-chemicals-CO.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/supportlines-1.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/sls.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/silah-1.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/shawrma.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/shakkel-1.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/saudi-projects.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/rqmnh.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/ROYALTY.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/raya.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/qaf.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/nayef.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>

    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/naif.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/wqaya.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/Unique-Pioneer.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/media.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/mandad-new.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/Multi-Business.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/MRSOOL.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/land-supply.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/Kinan.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/i-content-1.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/ITTIHAD.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/hadeed.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/gadwa.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/frinzy.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/fox.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/WATHEER.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/family-ac.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/meem-ean.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/Joa-Energy.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/m-elajy.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/Ezhalha.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/EFISSE.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/endeavor.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/doitc.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/dar-alrakiza.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/Chemya-western-speciality-chemicals-CO.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/copperchandni.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/Bayt-Al-Qoot.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/blue-plate.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/baselat.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/axies-1.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/amaz.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/alyousfiah.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/alwataniah.png" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/alshegrey.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/alhytham.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/aflaa.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/athat-estate.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/alkhurayef-for-cars.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/adel-legal-training.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/advanced-industrial.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/dar-alrakiza.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/iluba.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="service-brdr">
            <img src="assets/images/LS.jpg" class="img-fluid" alt="qiam">
        </div>
    </div>






   </div>

   <div class="service-footer py-5">
       <p>والكثير ….</p>
   </div>
</section>
<!--start section service-->
