<section >
  
    <div class="background">
        <img src="assets/image/partners-cover.jpg"> 
        <div class="transbox">
        </div>
        <div class="transbox1">
        <div class="container">
          <div class="row">
            
            <div class="col-md-10 col-sm-12 dafater">
              <h3 class="mt-4"> ابحث عن أقرب موزع لتحصل على الخدمة  </h3>
           </div>
           <div class="col-md-2 col-sm-12">
            <img src="assets/image/stamp.png" class="img-fluid man">

          </div>

          </div>

        </div>
      </div></div>





</section>
<section class="info py-5">
    <div class="container">
        <div class="row row1 pb-4">
            <div class="col-md-4 section py-3">
                <select class="custom-select custom-select-lg  ">
                    <option selected>-- أختر الدولة / المدينة --</option>
                    <option value="1">البحرين</option>
                    <option value="2">السعودية</option>
                  </select>
            </div>
            <div class="col-md-4 section py-3">
                <select class="custom-select custom-select-lg">
                    <option selected>-- أختر نوع النشاط --</option>
                    <option value="1">بائع أجهزة</option>
                    <option value="2">شريك قيمة مضافة</option>
                    <option value="3">مقدم خدمات</option>
                  </select>
            </div>
            <div class="col-md-4 section py-3">
                <input type="email" placeholder="أدخل أي كلمات بحث" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div class="mt-4">
                    <a class="delete py-2  ml-3 px-4 rounded" href="#">مسح البحث</a>
                    <a class="sea py-2  py-2 px-3 rounded" href="#">أبحث..</a>
                </div>
            </div>            
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="item pt-4  px-3">
                    <div class="pb-5 ">
                        <img class="img-fluid" src="assets/images/keen.png">
                        <h3 class="mt-3">كين للاستشارات المالية</h3>
                        <div class="pt-2 pb-4">
                            <i class=" ml-1 fas fa-briefcase"></i>
                            <a href="#">مقدم خدمات </a>/
                            <i class=" ml-1 fas fa-map-marker-alt"></i>
                            <a href="#">الرياض</a>                     
                        </div>
                        <p>معلومات الاتصال</p>
                        <hr>
                        <div class="ul">
                            <i class="fas fa-phone-alt"></i>
                            <a href="#">0553297046</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-envelope"></i>
                            <a href="#"> info@keenc.com</a>
                        </div>
                        <div class="ul" style="margin-bottom: 21px;">
                            <i class="fas fa-globe-americas"></i>
                            <a href="#"> http://www.keenc.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item pt-4  px-3">
                    <div class="pb-5">
                        <img class="img-fluid" src="assets/images/loop-logo.png">
                        <h3 class="mt-3">مؤسسة الكون للخدمات التجارية</h3>
                        <div class="pt-2 pb-4">
                            <i class=" ml-1 fas fa-briefcase"></i>
                            <a href="#">مقدم خدمات </a>/
                            <i class=" ml-1 fas fa-map-marker-alt"></i>
                            <a href="#">سيهات</a>                     
                        </div>
                        <p>معلومات الاتصال</p>
                        <hr>
                        <div class="ul">
                            <i class="fas fa-phone-alt"></i>
                            <a href="#">0509273594</a>
                        </div>
                        <div class="ul mb-4">
                            <i class="fas fa-envelope"></i>
                            <a href="#">waelalyhya@hotmail.com</a>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item pt-4 px-3">
                    <div class="pb-5">
                        <img class="img-fluid" src="assets/images/integral-platform2.jpg">
                        <h3 class="mt-3">المنصة المتكاملة للاتصالات وتقنية المعلومات</h3>
                        <div class="pt-2 pb-4">
                            <i class=" ml-1 fas fa-briefcase"></i>
                            <a href="#">مقدم خدمات </a>/
                            <i class=" ml-1 fas fa-map-marker-alt"></i>
                            <a href="#">الرياض</a>                     
                        </div>
                        <p>معلومات الاتصال</p>
                        <hr>
                        <div class="ul">
                            <i class="fas fa-phone-alt"></i>
                            <a href="#"> 0538165841</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-envelope"></i>
                            <a href="#">  hallo@iPlatform.com</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-globe-americas"></i>
                            <a href="#"> https://www.iplatform.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item pt-4  px-3">
                    <div class="pb-5">
                        <img class="img-fluid" src="assets/images/ltechpro.png">
                        <h3 class="mt-3">محترف التقنية الأحدث لتقنية المعلومات</h3>
                        <div class="pt-2 pb-4">
                            <i class=" ml-1 fas fa-briefcase"></i>
                            <a href="#">مقدم خدمات </a>/
                            <i class=" ml-1 fas fa-map-marker-alt"></i>
                            <a href="#"> الدمام</a>                     
                        </div>
                        <p>معلومات الاتصال</p>
                        <hr>
                        <div class="ul">
                            <i class="fas fa-phone-alt"></i>
                            <a href="#"> 0505783362</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-envelope"></i>
                            <a href="#"> hassan@ltechpro.com</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-globe-americas"></i>
                            <a href="#"> https://www.ltechpro.com</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row mt-3">
            <div class="col-md-3">
                <div class="item pt-4  px-3">
                    <div class="pb-4 ">
                        <img class="img-fluid" src="assets/images/AccBest.png">
                        <h3 class="mt-3">آكبست لاستشارات الأعمال والإدارة</h3>
                        <div class="pt-2 pb-4">
                            <i class=" ml-1 fas fa-briefcase"></i>
                            <a href="#">شريك قيمة مضافة</a>/
                            <i class=" ml-1 fas fa-map-marker-alt"></i>
                            <a href="#">البحرين</a>                     
                        </div>
                        <p>معلومات الاتصال</p>
                        <hr>
                        <div class="ul">
                            <i class="fas fa-phone-alt"></i>
                            <a href="#"> 0097339911210</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-envelope"></i>
                            <a href="#"> tahir@accbest.com</a>
                        </div>
                        <div class="ul" style="margin-bottom: 21px;">
                            <i class="fas fa-globe-americas"></i>
                            <a href="#">http://www.accbest.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item pt-4  px-3">
                    <div class="pb-5">
                        <img class="img-fluid" src="assets/images/High-Source.png">
                        <h3 class="mt-3">High Source</h3>
                        <div class="pt-2 pb-4">
                            <i class=" ml-1 fas fa-briefcase"></i>
                            <a href="#">مقدم خدمات </a>/
                            <i class=" ml-1 fas fa-map-marker-alt"></i>
                            <a href="#">الرياض</a>                     
                        </div>
                        <p>معلومات الاتصال</p>
                        <hr>
                        <div class="ul">
                            <i class="fas fa-phone-alt"></i>
                            <a href="#"> 0555001059</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-envelope"></i>
                            <a href="#"> ziad@high-s.com</a>
                        </div>
                        <div class="ul " style="margin-bottom: 20px;">
                            <i class="fas fa-globe-americas"></i>
                            <a href="#">https://high-s.com</a>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item pt-4 px-3">
                    <div class="pb-5">
                        <img class="img-fluid" src="assets/images/malath12.png">
                        <h3 class="mt-3">مؤسسة ملاذ المتطورة للخدمات التجارية</h3>
                        <div class="pt-2 pb-4">
                            <i class=" ml-1 fas fa-briefcase"></i>
                            <a href="#">مقدم خدمات </a>/
                            <i class=" ml-1 fas fa-map-marker-alt"></i>
                            <a href="#">الرياض</a>                     
                        </div>
                        <p>معلومات الاتصال</p>
                        <hr>
                        <div class="ul">
                            <i class="fas fa-phone-alt"></i>
                            <a href="#"> 0542089989</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-envelope"></i>
                            <a href="#">info@malath-advanced.com</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-globe-americas"></i>
                            <a href="#">/https://malath-advanced.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item pt-4  px-3">
                    <div class="pb-5">
                        <img class="img-fluid" src="assets/images/corgate.jpg">
                        <h3 class="mt-3">شركة النواة الرقمية للاتصالات وتقنية المعلومات</h3>
                        <div class="pt-2 pb-4">
                            <i class=" ml-1 fas fa-briefcase"></i>
                            <a href="#">شريك قيمة مضافة</a>/
                            <i class=" ml-1 fas fa-map-marker-alt"></i>
                            <a href="#">جدة</a>                     
                        </div>
                        <p>معلومات الاتصال</p>
                        <hr>
                        <div class="ul">
                            <i class="fas fa-phone-alt"></i>
                            <a href="#">  0500331345</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-envelope"></i>
                            <a href="#"> info@corgate.com</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-globe-americas"></i>
                            <a href="#">  http://corgate.com</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row mt-3 ">
            <div class="col-md-3">
                <div class="item pt-4  px-3">
                    <div class="pb-4 ">
                        <img class="img-fluid" src="assets/images/aecoc.jpg">
                        <h3 class="mt-3">الخبراء للاستشارات المالية و الادارية</h3>
                        <div class="pt-2 pb-4">
                            <i class=" ml-1 fas fa-briefcase"></i>
                            <a href="#">مقدم خدمات</a>/
                            <i class=" ml-1 fas fa-map-marker-alt"></i>
                            <a href="#">الدمام</a>                     
                        </div>
                        <p>معلومات الاتصال</p>
                        <hr>
                        <div class="ul">
                            <i class="fas fa-phone-alt"></i>
                            <a href="#"> 0557489986</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-envelope"></i>
                            <a href="#"> a.bawazeer@aecoc.com.sa</a>
                        </div>
                        <div class="ul" style="margin-bottom: 21px;">
                            <i class="fas fa-globe-americas"></i>
                            <a href="#">http://aecoc.com.sa</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item pt-4  px-3">
                    <div class="pb-4">
                        <img class="img-fluid" src="assets/images/shoraf-logo.jpg">
                        <h3 class="mt-3">مكتب شرف للاستشارات في مجال الزكاه</h3>
                        <div class="pt-2 pb-4">
                            <i class=" ml-1 fas fa-briefcase"></i>
                            <a href="#">مقدم خدمات </a>/
                            <i class=" ml-1 fas fa-map-marker-alt"></i>
                            <a href="#">الرياض</a>                     
                        </div>
                        <p>معلومات الاتصال</p>
                        <hr>
                        <div class="ul">
                            <i class="fas fa-phone-alt"></i>
                            <a href="#"> 00966501509009</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-envelope"></i>
                            <a href="#"> dafater@shoraf.sa</a>
                        </div>
                        <div class="ul" style="margin-bottom: 22px;">
                            <i class="fas fa-globe-americas"></i>
                            <a href="#"> http://shoraf.sa</a>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item pt-4 px-3">
                    <div class="pb-5">
                        <img class="img-fluid" src="assets/images/ltech.jpg">
                        <h3 class="mt-3">LTECH LUXURY TECHNOLOGY</h3>
                        <div class="pt-2 pb-4">
                            <i class=" ml-1 fas fa-briefcase"></i>
                            <a href="#">مقدم خدمات </a>/
                            <i class=" ml-1 fas fa-map-marker-alt"></i>
                            <a href="#">الرياض</a>                     
                        </div>
                        <p>معلومات الاتصال</p>
                        <hr>
                        <div class="ul">
                            <i class="fas fa-phone-alt"></i>
                            <a href="#">00966115118123</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-envelope"></i>
                            <a href="#"> support@Ltech.sa</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-globe-americas"></i>
                            <a href="#">http://ltech.sa</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item pt-4  px-3">
                    <div class="pb-5">
                        <img class="img-fluid" src="assets/images/masaratco.jpg">
                        <h3 class="mt-3">مؤسسة مسارات حديثة التجارية</h3>
                        <div class="pt-2 pb-4">
                            <i class=" ml-1 fas fa-briefcase"></i>
                            <a href="#">بائع أجهزة</a>/
                            <i class=" ml-1 fas fa-map-marker-alt"></i>
                            <a href="#">مكه المكرمه</a>                     
                        </div>
                        <p>معلومات الاتصال</p>
                        <hr>
                        <div class="ul">
                            <i class="fas fa-phone-alt"></i>
                            <a href="#">0535822970</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-envelope"></i>
                            <a href="#">aseer.333@gmail.com</a>
                        </div>
                        <div class="ul">
                            <i class="fas fa-globe-americas"></i>
                            <a href="#"> http://masarat.com</a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class=" position-relative py-3" >
            <div class="d-flex position-absolute" style="top: 20px; left: 0;">
                <div class="links text-center ">
                    <ul class="d-flex text-center mt-3 ">
                        <li><a class="not-active"   href="#">»</a> </li>
                        <li> <a class="not-active"   href="#">2</a></li>
                        <li> <a class="active text-white" href="#">1</a></li>

                    </ul>     
                </div>
                <span class="note ">Page 1 of 2</span>
                
            </div>
        </div>
    </div>
</section>
 