<main>
    <div class="background">
        <img src="assets/images/customer-voice.jpg"> 
        <div class="transbox">
        </div>
        <div class="transbox1">
        <div class="container">
          <div class="row row1 py-3">
            <div class="col-md-8 col-sm-12 dafater">
                <h3> صوت العميل </h3>
                <p>يمكن للعملاء من هذا المكان التقدم بإقتراحاتهم حول نظام Dynamic وإقتراح ميزات جديدة وتحسينات على النظام كذلك يمكن تقييم الإقتراحات الاخرى والإدلاء بالآراء والتصويتات، جميع هذه الإقتراحات محل إهتمامنا ومتابعتنا يتم فرز رقم مخصص للمتابعة ومتابعتها من قبل فريق تطوير النظام بشكل دوري.</p>

             </div>
            <div class="col-md-4 col-sm-12">
              <img style="width: 180px;" src="assets/images/call-person2.png" class="img-fluid man">

            </div>
            

          </div>
          <div class="row py-5">
            <div class="col-md-8 col-sm-12 dafater2 text-white">
                <p>هل لديك فكرة أو إقتراح جديد حول Dynamic، لا تردد في تقديم إقتراحك الآن!</p>
            </div>
            <div class="col-md-4 col-sm-12 link">
                <a class="px-4 rounded py-3 text-white ">إرسال إقتراح</a>
            </div>
          </div>

        </div>
      </div></div>

    <div class="container selector py-5">
      <select name="cars" id="cars">
        <option value="">اختيار القسم</option>
        <option value="">النظام ككل</option>
        <option value="">دفتر الاعدادات</option>
        <option value="">دفتر التصنيع</option>
      </select>
    
    
    
      <select name="cars" id="cars">
        <option value="">حاله الميزه</option>
        <option value="">الكل</option>
        <option value="">مفتوح</option>
        <option value="">موافق عليه</option>
      </select>
    
    
    
      <a class="text-white" style="background-color: #515151;" href="/common">الاكثر شعبية</a>
      <a href="/upper">الأعلى</a>
      <a href="/new">جديد</a>
      
    
    </div>
  
  
  
    <div class="container tanseq">
      <div class="row">
    
      <div class="col-md-2">
    <div class="avfr-controls">
      <div class="avfr-totals">
        
        
    <strong class="avfr-totals-num">0</strong><br>
    <span class="avfr-totals-label">تصويت</span>
    </div>
    </div>
    <div class="avfr-status">
      <span class="avfr-status-approved">موافق عليه</span></div>
    </div>
     
    <div class="col-md-10 print">
      <h4 class="entry-title" data-fontsize="20" data-lineheight="33"><a href="#">إضافة اصول متداولة لأنواع الحسابات في دليل الحسابات
      </a></h4>
      <p>إضافة اصول متداولة لأنواع الحسابات في دليل الحسابات
  
      </p>
      <div class="avfr-short-group"> <i class="far fa-folder"></i> <a href="#" rel="tag">النظام ككل</a><i class="fas fa-wrench"></i> <span> رقم التطوير: <strong>4840</strong> </span>
      <i class="fas fa-comment"></i><a href="#">لا تعليقات  </a>
    
      </div>
    </div>
    
    </div>
    
    
    </div>
  
  
    <div class="container tanseq bg-color">
      <div class="row">
    
      <div class="col-md-2">
    <div class="avfr-controls">
      <div class="avfr-totals">
        
        
    <strong class="avfr-totals-num">0</strong><br>
    <span class="avfr-totals-label">تصويت</span>
    </div>
    </div>
    <div class="avfr-status">
      <span class="avfr-status-approved">موافق عليه</span></div>
    </div>
     
    <div class="col-md-10 print">
      <h4 class="entry-title" data-fontsize="20" data-lineheight="33"><a href="#">المطابقة الآلية للحسابات البنكية</a></h4>
      <div class="avfr-short-group"> <i class="far fa-folder"></i> <a href="#" rel="tag">النظام ككل</a><i class="fas fa-wrench"></i> <span> رقم التطوير: <strong>4840</strong> </span>
      <i class="fas fa-comment"></i><a href="#">لا تعليقات  </a>
    
      </div>
    </div>
    
    </div>
    
    
    </div>
    
  
  
  
    <div class="container tanseq ">
      <div class="row">
    
      <div class="col-md-2">
    <div class="avfr-controls">
      <div class="avfr-totals">
        
        
    <strong class="avfr-totals-num">0</strong><br>
    <span class="avfr-totals-label">تصويت</span>
    </div>
    </div>
    <div class="avfr-status">
      <span class="avfr-status-approved">موافق عليه</span></div>
    </div>
     
    <div class="col-md-10 print">
      <h4 class="entry-title" data-fontsize="20" data-lineheight="33"><a href="#">ادارة السلف للموظفين</a></h4>
      <div class="avfr-short-group"> <i class="far fa-folder"></i> <a href="#" rel="tag">النظام ككل</a><i class="fas fa-wrench"></i> <span> رقم التطوير: <strong>4840</strong> </span>
      <i class="fas fa-comment"></i><a href="#">لا تعليقات  </a>
    
      </div>
    </div>
    
    </div>
    
    
    </div>
    
  
  
  
    <div class="container tanseq bg-color">
      <div class="row">
    
      <div class="col-md-2">
    <div class="avfr-controls">
      <div class="avfr-totals">
        
        
    <strong class="avfr-totals-num">0</strong><br>
    <span class="avfr-totals-label">تصويت</span>
    </div>
    </div>
    <div class="avfr-status">
      <span class="avfr-status-approved">موافق عليه</span></div>
    </div>
     
    <div class="col-md-10 print">
      <h4 class="entry-title" data-fontsize="20" data-lineheight="33"><a href="#">التكامل مع زابير</a></h4>
      <div class="avfr-short-group"> <i class="far fa-folder"></i> <a href="#" rel="tag">النظام ككل</a><i class="fas fa-wrench"></i> <span> رقم التطوير: <strong>4840</strong> </span>
      <i class="fas fa-comment"></i><a href="#">لا تعليقات  </a>
    
      </div>
    </div>
    
    </div>
    
    
    </div>
  
  
  
    
  
  
  
    <div class="container tanseq ">
      <div class="row">
    
      <div class="col-md-2">
    <div class="avfr-controls">
      <div class="avfr-totals">
        
        
    <strong class="avfr-totals-num">0</strong><br>
    <span class="avfr-totals-label">تصويت</span>
    </div>
    </div>
    <div class="avfr-status">
      <span class="avfr-status-approved">موافق عليه</span></div>
    </div>
     
    <div class="col-md-10 print">
      <h4 class="entry-title" data-fontsize="20" data-lineheight="33"><a href="#">الحسابات – دليل الحسابات – حول منطقة التلميحات</a></h4>
      <div class="avfr-short-group"> <i class="far fa-folder"></i> <a href="#" rel="tag">النظام ككل</a><i class="fas fa-wrench"></i> <span> رقم التطوير: <strong>4840</strong> </span>
      <i class="fas fa-comment"></i><a href="#">لا تعليقات  </a>
    
      </div>
    </div>
    
    </div>
    
    
    </div>
  
  
  
  
  
  
  
    <div class="container tanseq bg-color ">
      <div class="row">
    
      <div class="col-md-2">
    <div class="avfr-controls">
      <div class="avfr-totals">
        
        
    <strong class="avfr-totals-num">0</strong><br>
    <span class="avfr-totals-label">تصويت</span>
    </div>
    </div>
    <div class="avfr-status">
      <span class="avfr-status-approved">موافق عليه</span></div>
    </div>
     
    <div class="col-md-10 print">
      <h4 class="entry-title" data-fontsize="20" data-lineheight="33"><a href="#">وحدة الحسابات – دليل الحسابات – حول تحويل حساب الدين ليصبح تحت حساب الدائن الرئيسي
      </a></h4>
      <div class="avfr-short-group"> <i class="far fa-folder"></i> <a href="#" rel="tag">النظام ككل</a><i class="fas fa-wrench"></i> <span> رقم التطوير: <strong>4840</strong> </span>
      <i class="fas fa-comment"></i><a href="#">لا تعليقات  </a>
    
      </div>
    </div>
    
    </div>
    
    
    </div>
  
  
  
    <div class="container tanseq ">
      <div class="row">
    
      <div class="col-md-2">
    <div class="avfr-controls">
      <div class="avfr-totals">
        
        
    <strong class="avfr-totals-num">0</strong><br>
    <span class="avfr-totals-label">تصويت</span>
    </div>
    </div>
    <div class="avfr-status">
      <span class="avfr-status-approved">موافق عليه</span></div>
    </div>
     
    <div class="col-md-10 print">
      <h4 class="entry-title" data-fontsize="20" data-lineheight="33"> تقرير استاذ عام مع مراكز التكلفة<a href="#">
      </a></h4>
      <div class="avfr-short-group"> <i class="far fa-folder"></i> <a href="#" rel="tag">النظام ككل</a><i class="fas fa-wrench"></i> <span> رقم التطوير: <strong>4840</strong> </span>
      <i class="fas fa-comment"></i><a href="#">لا تعليقات  </a>
    
      </div>
    </div>
    
    </div>
    
    
    </div>
    
  
  
  
  
  
  
  
    <div class="container tanseq ">
      <div class="row bg-color">
    
      <div class="col-md-2">
    <div class="avfr-controls">
      <div class="avfr-totals">
        
        
    <strong class="avfr-totals-num">0</strong><br>
    <span class="avfr-totals-label">تصويت</span>
    </div>
    </div>
    <div class="avfr-status ">
      <span class="avfr-status-canceled "> ملغى</span></div>
    </div>
     
    <div class="col-md-10 print">
      <h4 class="entry-title" data-fontsize="20" data-lineheight="33"> تحسينات على تقرير شركاء المبيعات<a href="#">
      </a></h4>
      <div class="avfr-short-group"> <i class="far fa-folder"></i> <a href="#" rel="tag">النظام ككل</a><i class="fas fa-wrench"></i> <span> رقم التطوير: <strong>4840</strong> </span>
      <i class="fas fa-comment"></i><a href="#">  تعليق واحد </a>
    
      </div>
    </div>
    
    </div>
    
    <div class="more mb-4">
      <p class="avfr-loadmore fix"><a class="avfr-button" href="#">تحميل المزيد...</a></p>
      </div>
    </div>
    
  
  </main>
  
  