
	<nav class="navbar navbar-expand-lg navbar-light px-4 py-3 ">
		<a routerLink="home" class="navbar-brand" ><img class="img-fluid" src="assets/img/logoDd.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="line"></span> 
			<span class="line"></span> 
			<span class="line"></span>
		</button>
		
		<div class="collapse navbar-collapse " id="navbarNav">
			
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item ">
			  <a routerLink="tour" class="nav-link" >جولة <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a routerLink="advantages" class="nav-link" >المميزات</a>
			</li>
			<li class="nav-item">
			  <a routerLink="services" class="nav-link" >الخدمات</a>
			</li>
			<li class="nav-item">
				<a routerLink="solutions" class="nav-link" >الحلول</a>
			  </li>
			  <li class="nav-item">
				<a routerLink="prices" class="nav-link" >الأسعار و الباقات</a>
			  </li>
			  <li class="nav-item">
				<div class="dropdown">
					<a class="dropbtn nav-link btn">الشركاء و الموزعين</a>
					<div class="dropdown-content">
					  <a routerLink="be-distributer" > كن موزعًا</a>
					  <a routerLink="nearest-distributor" >أقرب موزع</a>
					  <a routerLink="partners" >سفراء Dynamic</a>
					</div>
				  </div>
				  
				  
			  </li>
			  <li class="nav-item">
				<div class="dropdown">
					<a class="dropbtn nav-link">الدعم</a>
					<div class="dropdown-content">
					  <a routerLink="order-support" >طلب دعم فني</a>
					  <a routerLink="user" >دليل الإستخدام</a>
					  <a routerLink="commonquestions" >الأسئلة الشائعة</a>
					</div>
				  </div>
			  </li>
			
		  </ul>
		  <ul class="navbar-nav">
			  <li> <span > <i class="ml-3 fas fa-phone-alt"></i> 920008996</span></li>
		  </ul>
		  <ul class="navbar-nav">
			<li>
				 <form class="form-inline mr-auto for-free">
				<a class="try text-white py-2 px-3 rounded" href="/try">جرب الآن مجانا</a>
				
			  </form></li>
		</ul>
		 
		
		</div>
	  </nav>


