
      <main>
        <div class="login pb-5">
          <a href="/home"><img src="assets/img/logoDd.png" class='img-fluid'></a>
          <div class="account">
            
          <form  style="max-width:500px;margin:auto">
            <h2>الدخول على الحساب</h2>
            <p>ادخل اسم المستخدم وكلمة المرور للدخول على لوحة التحكم بحسابك .</p>
            <p>بإمكانك استرداد كلمة المرور عند نسيانها من خلال البريد الالكتروني. قم بإدخال اسم المستخدم فقط في هذه الحالة.
            </p>
            <div class="input-container">
              <i class="fa fa-user icon"></i>
              <input class="input-field" type="text" placeholder="اسم المستخدم" name="usrnm">
            </div>
          
           
            
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" placeholder="كلمة السر" name="psw">
            </div>
          
            <button type="submit" class="btn">الدخول لحسابى</button>
            <a href="/forget"> هل نسيت كلمة السر؟</a>
          </form></div>
          
        </div>
       

      

      </main>