


    <main>
        <div class="background">
            <img class="img-fluid back" src="assets/image/crm-software-cover-1.jpg"> 
            <div class="transbox">
            </div>
            <div class="transbox1">
            <div class="container">
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <img style="width: 180px;" src="assets/image/MEASURINF.svg" class="img-fluid man">  
                </div>
                <div class="col-md-8 col-sm-12 dafater">
                  <h3>إتفاقية الشروط والأحكام</h3>
                  <p class="mt-3">تغطي هذه الاتفاقية جميع المشتركين بخدمة Dynamic والموقع الخاص بها والمملوكة والمشغلة بواسطة سحب الأعمال لتقنية المعلومات . إن استعمال الخدمة يعني الموافقة على ما في هذه الاتفاقية من بنود بالإضافة إلى أي تعديلات مستقبلية لهذه الاتفاقية والتي ستنشر من وقت لآخر.</p>
  
               </div>
  
              </div>
  
            </div>
          </div>
        </div>

      <div class="container">
        <div class="row py-5">
          <div class="col-md-6 qanon">
            <h4>التعريفات</h4>
            <ol type="none" style="list-style-type: none;">
              <li><p>أ. “سحب الأعمال لتقنية المعلومات” ويشار لها لاحقا بـ (“مزود الخدمة“)، هي مؤسسة قائمة وتعمل وفقا لقوانين المملكة العربية السعودية ومقرها الرئيس في الرياض وعنوانها: 6875 شارع الشيخ حسن بن حسين بن علي –اشبيلية الرياض 13225 – 2502 المملكة العربية السعودية.</p></li>
            <li><p>ب. “Dynamic” ويشار لها لاحقا بـ (“الخدمة“) وهي خدمة برنامج إدارة موارد المؤسسات المبنية على نموذج الحوسبة السحابية والمذكورة خصائصها وميزاتها في الموقع الرسمي للخدمة.</p></li>
            <li><p>ج. “المشترك” هو الفرد أو الجهة (سواء كانت تجارية أو حكومية أو غير ربحية) التي توفر لها “الخدمة“.</p></li>
            <li><p>د. “موقع Dynamic” ويشار له لاحقا بالـ “الموقع” هو موقع على الإنترنت يحوي معلومات وملفات مرئية وصوتية للتعريف بالخدمة وشرح لميزاتها وطرق استخدامها وطريقة الاشتراك بها بالإضافة إلى صفحة الدخول الخاصة بالمشترك.</p></li>
            <li><p>هـ. “الخدمات الاختيارية” هي أي خدمة إضافية تابعة لخدمة Dynamic ومنصوص عليها في الموقع مثل خدمة المحاسب عن بعد أو التركيب والتدريب.</p></li>
            <li><p>و. “المحاسبة عن بعد” هي جزء اختياري من خدمة Dynamic يمكن للمشترك طلبه كما هو مذكور في الموقع.</p></li>
            <li><p>ز. “المحاسب” هو شخص مؤهل لممارسة مهنة المحاسبة يقوم بتقديم خدمة المحاسبة عن بعد للمشترك إذا رغب بالشروط المذكورة في الموقع.</p></li>
            <li><p>ح. “استخدام” تعني دخول المشترك إلى الخدمة لغرض استخدام الوظائف الموجودة بها على سبيل المثال لا الحصر المحاسبة وإدارة الموارد البشرية والبيع والشراء والمشمولة في الباقة التي اختارها المشترك.</p></li>
            
            </ol>

          </div>



          <div class="col-md-6 qanon">
            <h4>تمهيد</h4>
            <p>تغطي هذه الاتفاقية جميع المشتركين بخدمة Dynamic والموقع الخاص بها والمملوكة والمشغلة بواسطة سحب الأعمال لتقنية المعلومات . إن استعمال الخدمة يعني الموافقة على ما في هذه الاتفاقية من بنود بالإضافة إلى أي تعديلات مستقبلية لهذه الاتفاقية والتي ستنشر من وقت لآخر.</p>
            <p>الرجاء قراءة هذه الاتفاقية جيدا قبل الاشتراك بخدمة Dynamic أو أي أجزاء منها حيث أن الاشتراك يعني الموافقة على الشروط والأحكام الواردة فيها وفي حال عدم موافقتكم على جميع الشروط والأحكام الواردة في هذه الاتفاقية أو أي نسخ محدثة منها فيجب عدم استخدام الخدمة أو أي جزء منها حيث أن هذه الاتفاقية بينك وبين سحب الأعمال محصورة فقط بالشروط والأحكام المذكورة في هذه الاتفاقية.

            </p>
            <img src="assets/image/legal-1.svg" class="img-fluid position-relative">

          </div>

        </div>
        <div class="shroot">
        <h4>الشروط</h4>
        <img src="assets/image/agreement2.svg" class="img-fluid">
        </div>

        <div class="or-list">
          <ol type="1">
            <li> <b>مدة الاتفاقية</b>
            <p>تبدأ من الإقرار بمحتوى هذه الاتفاقية وتظل سارية طالما أن المشترك يلتزم بتسديد رسوم الاشتراك المذكورة في الموقع. وفي حال الإخلال ببنود هذه الاتفاقية فيحق لمزود الخدمة إلغاء الاشتراك وحذف بيانات المشترك كما هو مذكور في المادة ‏7 .
            </p>
            </li>
            <li>
              <b>الدفع والتجديد</b>
              <p>الخدمة أو الخدمات الاختيارية المدفوعة مثل المحاسب عن بعد أو التركيب أو التدريب تتطلب من قبل المشترك الدخول إلى الموقع واختيار “اشتراك” أو “إضافة” وفي حال قيامه بذلك فإن المشترك يوافق على الدفع لمزود الخدمة الرسوم المذكورة لتلك الخدمة سنويا حسب ما هو مشار إليه في وصف الخدمة. سيتم خصم رسوم الخدمات مقدما في اليوم الذي يتم فيه الاشتراك أو الترقية لتغطية استخدام الخدمة للفترة المنصوص عليها ولا يتم التعويض عن المدة المتبقية إلا إذا نص على ذلك في وصف الخدمة.</p>
            </li>
            <li>
              <b>التجديد التلقائي</b>
              <p>مالم يقم المشترك بإخطار مزود الخدمة عن طريق الموقع قبل نهاية فترة الاشتراك المطبقة برغبته بإلغاء الاشتراك أو الترقية، فإن الاشتراك سيجدد تلقائيا بخصائصه الحالية ويخول مزود الخدمة بتحصيل رسوم الاشتراك سواء بشكل سنوي حسب ما هو مشار إليه في وصف الخدمة باستخدام البطاقات الائتمانية أو أي طريقة دفع مسجلة بواسطة المشترك لدى موفر الخدمة. يمكن للمشترك تعديل خصائص الاشتراك من خلال الموقع.

              </p>
            </li>

            <li>
              <b>الاحتياطات الأمنية</b>
              <p>يجب على المشترك أخذ الاحتياطات الأمنية لمنع الوصول إلى الخدمة من قبل الأشخاص غير المرخص لهم. ويتضمن ذلك عدم مشاركة رابط الدخول واسماء وكلمات سر المستخدم مع أيا كان حيث لا يضمن مزود الخدمة أي ضرر بسبب عدم اتخاذ المشترك الاحتياطات اللازمة لحماية معلومات الدخول الخاصة به.</p>
           <p>يجب على المشترك عدم محاولة الدخول غير المشروع إلى الموقع، أو نسخ أو تعديل أو تسريب بيانات الموقع أو تغيير تصاميمه، أو إتلافه، أو تعديله، أو شغل عنوانه أو إعاقة الوصول إلى الموقع أو تشويشه أو تعطيله.</p>
            </li>
            <li>
              <b>الدعم</b>
              <p>أثناء فترة الاشتراك، سيقوم مزود الخدمة بتوفير الدعم الفني للمشترك كما هو موضح في هذا البند خلال فترات العمل المعلنة في الموقع وحسب ما يراه مزود الخدمة ملائما، فإن الدعم يشمل: (1) الهاتف أو الوسائل الإلكترونية لأجل مساعدة المشترك وفهم المشكلة ومساعدته على حلها (2) القيام بالتحديثات أو التحسينات أو غيرها من التغييرات المتعلقة بالخدمة دون تكاليف إضافية على المشترك.</p>
            </li>
            <li>
              <b>الصيانة</b>
              <p>يوافق المشترك على أن يقوم مزود الخدمة بعمل الصيانة اللازمة من فترة إلى أخرى من أجل الترقية أو إضافة ميزات جديدة أو النسخ الاحتياطي أو سد الثغرات الأمنية إن وجدت وقد يصاحب ذلك توقف عن الخدمة بما لا يتجاوز يوم ونصف في السنة وفي حال زيادة الفترة عن المدة المذكورة يعوض المشترك بتمديد اشتراكه بما يوازي ضعف عدد أيام توقف الخدمة.</p>
            </li>
            <li>
              <b>حفظ بالبيانات</b>
              <p>يقر المشترك بأنه في حال توقفه عن استخدام الخدمة سواء كان ذلك بسبب طلبه أو بسبب التوقف عن تسديد رسوم الاشتراك، فإن مزود الخدمة سيقوم بإعطاء مهلة لمدة ثلاثة (3) أيام للسداد مع إتاحة المشترك الاستفادة من جميع إمكانيات الخدمة والوصول إلى بياناته. وفي حال عدم سداد الرسم المستحق بعد انقضاء الفترة السابقة فإنه يحق لمزود الخدمة إيقاف الاشتراك، كما يتم بعدها بسبعة (7) أيام إلغاء الإشتراك وما يترتب على ذلك من محو لجميع بيانات المشترك، ويقر المشترك بأنه في حال استئنافه للاشتراك بعد الفترات المذكورة فإنه لا يوجد أي ضمانات لاستعادة البيانات السابقة. أما في حال اشتراك المشترك بالباقة التجريبية فإن البيانات يتم محوها مباشرة بعد انتهاء فترة التجربة.</p>
            </li>
            <li>
              <b>مخالفات قوانين الملكية الفكرية</b>
              <p>يحترم مزود الخدمة حقوق الملكية ويطلب من المشترك والزائر مراعاة تلك الحقوق. إذا تبين للمشترك أو الزائر أن هناك محتوى متعلق به مخالف لقوانين الملكية الفكرية فله أن يرسل إشعار لمزود الخدمة وسيقوم مزود الخدمة بالاستجابة بإزالة المحتوى أو أي رابط يؤدي إليه داخل الموقع.</p>
             <p> هذه الاتفاقية لا تنقل للمشترك أو الزائر من قبل مزود الخدمة أي حقوق ملكية فكرية متعلقة بمزود الخدمة أو الخدمة أو أي طرف ثالث حيث يحتفظ مزود الخدمة بحقوقه بها. إن “Dynamic.السعودية” ، “Dafater.biz” ، “Dafater.sa” ، “BusinessClouds.biz” بما في ذلك الشعارات والرسومات والعلامات التجارية المستعملة في الخدمة هي مسجله لـمزود الخدمة أو أطراف أخرى. إن استخدام الخدمة من قبل المشترك أو الزائر لا يعطي الحق أو الترخيص لإعادة إنتاج أو استعمال أي من العلامات التجارية الخاصة بمزود الخدمة.
          </p>
            </li>
            
            <li>
              <b>إخلاء المسئولية</b>
              <p>الخدمة مقدمة “كما هي” ولا يقدم مزود الخدمة ومورديه أية ضمانات صريحة أو ضمنية للأداء الناتج عن استخدام الخدمة أو الموقع ويشمل على سبيل المثال لا الحصر، الجودة أو الملاءمة لأي غرض محدد أو التكامل أو عدم الاختراق أو ضياع وفقد البيانات. كما أن المزود غير مسؤول عن أي خسارة أو ضرر للمشترك أو أي طرف ثالث تسببت بها الخدمة أو الموقع بموجب هذه الاتفاقية أو أي أضرار مباشرة أو غير مُباشرة أو خاصة أو عرضية أو تبعية سواء كانت مُستندة على هذه الاتفاقية أو على أي نظرية قانونية أُخرى تنشأ عن استخدام الخدمة أو الموقع أو العمل بموجب هذه الاتفاقية.

              </p>
            </li>
            <li>
              <b>التعويض</b>
              <p>يوافق المشترك على عدم الإضرار بمزود الخدمة أو ممتلكاته، أو المتعاقدين معه، أو مرخصيه، أو مدراءه وموظفيه وممثليه ووكلائه ويتحمل جميع تكاليف المطالبات والنفقات المترتبة في حال اثبات الضرر وخرق الاتفاقية، بما في ذلك أتعاب المحاماة.</p>
            </li>

            <li>
              <b>الاتفاقية غير قابلة للتحويل</b>
              <p>هذه الاتفاقية حصرية للمشترك ويجب عليه عدم تخصيص أو نقل أي حقوق أو التزامات بموجب هذه الاتفاقية إلى أي طرف ثالث.

              </p>
            </li>
            <li>
              <b>التعديل</b>
              <p>يحق لمزود الخدمة وحسب ما يراه مناسبا، أن يقوم بتعديل أو استبدال أي جزء من هذه الاتفاقية، وتقع المسؤولية على المشترك بالاطلاع على أي تحديثات على هذه الاتفاقية بشكل دوري حيث أن المزود سيقوم بالنشر والإعلان عن التغييرات في الموقع وعن البريد الإلكتروني المسجل من قبل المشترك ويمثل استمرار المشترك أو الزائر بالدخول على الموقع أو استخدام الخدمة موافقه ضمنية على التعديلات. قد يقوم مزود الخدمة مستقبلا بإضافة بعض الخصائص الإضافية والميزات للموقع أو الخدمة نفسها مثل وظائف أو أدوات أو محتوى أو تقارير جديدة. جميع هذه الخصائص والميزات تخضع للشروط والأحكام الواردة في هذه الاتفاقية.</p>
            </li>

            <li>
              <b>فسخ الاتفاقية</b>
              <p>إذا رغب المشترك بإيقاف الخدمة فيمكنه ذلك ببساطة عن طريق عدم تسديد الاشتراك أو إبلاغ مزود الخدمة مباشرة عن طريق الموقع. وفي هذه الحالة سيتم محو البيانات الخاصة بالمشترك حسب ما هو منصوص عليه في المادة (‏7). يحق لمزود الخدمة أيضا إبلاغ المشترك بإيقاف الخدمة وإعطاءه مهلة شهر كي يتسنى له نسخ بياناته دون إبداء أسباب. جميع مواد العقد التي تستمر بسبب طبيعتها تظل سارية بعد فسخ الاتفاقية على سبيل المثال لا الحصر التعويضات والضمانات وإخلاء المسؤولية.</p>
            </li>
            <li>
              <b>الخصوصية</b>
              <ul>
                <li><p>فيما يخص الخدمة فإن مزود الخدمة يحرص على احترام خصوصية المشترك وجميع بياناته التي قام بإدخالها أثناء استخدامه للخدمة وعدم الدخول على حسابه أو الاطلاع عليه أو نسخ البيانات التي قام بإدخالها إلا بناء على طلبه لغرض تسهيل عمله أو تدريبه أو كما هو مذكور في (مادة المحاسب عن بعد) أو (الاحتفاظ بالبيانات).</p></li>
                <li><p>فيما يخص الموقع فإن مزود الخدمة يجمع البيانات التي لا تعرف بالمشترك أو الزائر والتي ترسلها متصفحات الإنترنت عادة مثل نوع المتصفح واللغة المفضلة ونوع نظام التشغيل ووقت وتاريخ الطلب وذلك لغرض معرفة كيفية تفاعل المشتركين أو الزوار مع الموقع بالإضافة إلى نشر إحصاءات عامة ملخصة عن الاستخدام والتي لا ترتبط بأحد بعينة.</p></li>
              <li><p>يقوم مزود الخدمة بتسجيل عناوين الإنترنت للزوار أو المشتركين والتي قد تعرف بهويتهم ولكن لا يقوم بالإفصاح بها إلا كما هو مذكور في بقية المادة أدناه.

              </li>
              <li><p>يحتفظ مزود الخدمة بالبيانات اللازمة للاشتراك بالخدمة والتي يقوم بإدخالها المشترك أثناء عملية التسجيل مثل اسم المشترك وبريده الإلكتروني ومعلومات الاتصال والدفع أو البيانات الأخرى ويمكن لمزود الخدمة إطلاع أصحاب العلاقة التابعين لمزود الخدمة من موظفين أو متعاقدين أو المنظمات التابعة (1) والذين يحتاجون لتلك البيانات لأجل معالجتها نيابة عن مزود الخدمة أو تقديم الخدمة المطلوبة للمشترك (2) وقد أقروا بعدم إفشاء تلك المعلومات للغير. بعض الموظفين أو المتعاقدين أو المنظمات التابعة قد يكونون خارج بلد المشترك أو الزائر واستخدام الخدمة يعني القبول بنقل تلك البيانات للخارج. سوف لن يقوم مزود الخدمة بتأجير أو بيع أي من بيانات الزوار أو المشتركين لأي جهة عدا ما ذكر أعلاه أو امتثالا لأمر قضائي أو أمر حكومي رسمي.</p></li>
            
              <li><p>يحتفظ مزود الخدمة بحق إرسال رسائل بريد إلكتروني للمشترك من فترة إلى أخرى وذلك لاطلاعه بالخصائص الجديدة أو معلومات مهمة تتعلق بالخدمة أو الموقع أو مزود الخدمة أو لطلب مرئياته حول الخدمة. كذلك يحتفظ مزود الخدمة بنشر بعض ردوده أو الاستفسارات التي ترد إليه بخصوص الخدمة أو الموقع (مثل طلبات الدعم الفني) لغرض مساعدة بقية المشتركين بعد إزالة كل المعلومات التي قد تؤدي إلى معرفة المشترك.</p></li>
            <li><p>الكوكيز هي ملف نصي تخزنه المواقع في جهاز المستخدم يقوم المتصفح بإتاحته للموقع كل مرة تتم زيارته وذلك للتعرف على الزائر وحفظ تفضيلاته. يستخدم مزود الخدمة الكوكيز في الموقع لغرض معرفة الصفحات الأكثر زيارة من قبل المشترك أو الزائر وحفظ تفضيلاته وفي حال عدم رغبة المشترك أو الزائر بملف الكوكيز يمكنه منع ذلك عن طريق إعدادات المتصفح مع الأخذ بالاعتبار بأن بعض أجزاء الموقع أو الخدمة قد لا تعمل بصورة كاملة.</p></li>
            </ul>
            </li>

            <li>
              <b>انتقال الأعمال</b>
             <ul>
               <li><p>إذا تم الاستحواذ على مزود الخدمة أو أجزاء من عمله من قبل جهة ثالثة (شركة أخرى مثلا) أ فإن معلومات المشتركين أو الزوار تعتبر من الأصول التي تنتقل إلى الجهة الثالثة. يقر المشترك بأن هذا شيء وارد وأن الطرف الثالث بإمكانه أن يستخدم معلومات المشترك كما هو مذكور في هذه الاتفاقية.
              </p>
              </li>
              <li><p>وفي حال إفلاس المزود أو خروجه من السوق فإن مزود الخدمة ملتزم بإعطاء الصلاحية للمشترك للوصول إلى خادمه المخصص وذلك لنسخ بياناته بالإضافة إلى الشفرة المصدرية للنظام لمدة شهر كامل من تاريخ الإفلاس أو الخروج.
                 </p>
              </li>
             </ul>
            </li>


            <li>
              <b>المحاسبة والمراجعة عن بعد</b>
              <ul>
                <li><p>في حال طلب هذه الخدمة الاختيارية من قبل المشترك فسيتم تعيين محاسب متخصص من قبل مزود الخدمة لتقديم الخدمات المحاسبة أو المراجعة للمشترك كما هو مذكور في وصف الخدمة في الموقع.</p></li>
               <li><p>يوافق المشترك على تزويد المحاسب عن بعد بكل المعلومات الضرورية للقيام بعمله وتحضير التقارير اللازمة مثل ميزان المراجعة وحسابات الربح والخسارة وغيرها وفي حال تأخر المشترك في تزويد المحاسب عن بعد بتلك المعلومات أو أي معلومات مالية أخرى مهمة فلا يتحمل مزود الخدمة أي تقصير ناتج من ذلك التأخير كتباين النتائج عن الواقع.</p></li>
             <li><p>يعي المشترك بأن جزءاً من عمل المحاسب عن بعد هو الدخول للخادم الخاص بالمشترك لإدخال القيود (في حال طلب هذا الخيار) وعمل التقارير المالية والمحاسبية الخاصة بالمشترك، ولذا يتعين على المشترك إنشاء اسم مستخدم خاص وإعطاء الصلاحية اللازمة للمحاسب عن بعد لأجل القيام بأعماله المتعلقة بالخدمات الاختيارية.</p></li>
             <li><p>يعي المشترك بأن وسيلة التواصل الأساسية والمعتمدة لخدمة المحاسب تعتمد على البريد الإلكتروني لإرسال نسخ من الإيصالات والفواتير كما يمكن استخدام الهاتف رغبة المشترك الاستفسار أو طلب بعض الإيضاحات حول التقارير المحاسبية. ولكن في حال رغبة العميل بالاجتماع مع المحاسب أو جدولة زيارات دورية فإن ذلك يمكن توفيره برسوم إضافية وبحسب الفراغ المتاح في جدول المحاسب.</p></li>
            
            <li><p>يمكن استخدام البريد المسجل أو شركات توصيل الوثائق المعتمدة لإرسال صور من المستندات حين أن مزود الخدمة لا يتحمل أي ضياع للمستندات وتقع مسؤولية حفظ الأصول على المشترك بالإضافة إلى تكاليف إرسال المستندات وإرجاعها.</p></li>
            
            <li><p>يوافق المشترك بأن مواعيد التواصل مع المحاسب المختص به هي أيام العمل من الأحد وحتى الخميس من الساعة التاسعة صباحا حتى الخامسة مساءا عدا العطل والأعياد الرسمية.</p></li>
           
          <li><p>يعي المشترك بأن التقارير المالية والمحاسبية المجهزة بواسطة هذه الخدمة هي لغرض المحاسبة والمراجعة الداخلية وليست تقارير محاسبة قانونية معتمدة وأن دقتها وملائمتها تعتمد على دقة وصحة المعلومات التي يزودها المشترك للمحاسب الخاص بالخدمة.</p></li>
          <li><p>يلتزم المشترك بالحد الأعلى للقيود المحاسبية كما هو مذكور في وصف الخدمة وفي حال الوصول للحد الأعلى فسيقوم المحاسب بإبلاغ المشترك لطلب الاشتراك بحزمة إضافية وذلك من خلال الموقع كي يتسنى للمحاسب تغطية الإدخالات الإضافية.
</p>
          </li>

          <li><p>يحق لمزود الخدمة تعيين محاسب بديل للمشترك وذلك لظروف يراها مزود الخدمة –بسبب إجازة أو مرض المحاسب الحالي مثلا-دون أن يعتبر ذلك إخلالا بهذه الاتفاقية.
</p>
          </li>

          <li><p>يوافق المشترك بأنه في حال وجود أخطاء بسيطة في إدخالات المحاسب عن بعد، وهذا وارد في نطاق ضيق، فإن مزود الخدمة ملتزم بتصحيحها ودون أي تعويضات كما أن مسؤولية مزود الخدمة عن الأضرار في حال أنها كانت ناجمة عن الإهمال الجسيم أو سوء تصرف متعمد من قبل المحاسب فإن التعويض لا يتجاوز المبلغ الإجمالي الذي دفعه المشترك للحصول على الخدمات الموصوفة للخدمة الاختيارية.</li>
          

          <li><p>يوافق المشترك بأن الاستشارات أو التوصيات التي يقدمها المحاسب حول التقارير الناتجة هي للفائدة والمشورة ولا يترتب على مزود الخدمة أو المحاسب المختص أي أضرار في حال تطبيق المشترك لها وعدم الحصول على النتائج المتوقعة كما هو مفصل في (9).
</p>
          </li>
          </ul>
            </li>

<li>
<b>التدريب</b>
<ul>
  <li><p>في حال طلب هذه الخدمة الاختيارية فسيتم جدولة الجلسات التدريبية بواقع أربع جلسات مدة كل جلسة ساعة ونصف تقسم على عدة أيام حسب نوع التدريب كما هو مفصل في الموقع</p></li>
<li><p>يوافق المشترك بأنه في حال عدم قدرته على حضور الجلسة التدريبية في الوقت المتفق عليه، فإن عليه إبلاغ مزود الخدمة بطلب تغيير موعد التدريب قبل الموعد المتفق عليه بأربع وعشرين ساعة على الأقل وفي حال عدم التزام المشترك بالوقت المحدد، فيتم احتساب الموعد من ضمن الجلسات التدريبية التي تم استيفاؤها.</p></li>
<li><p>قد لا تتوفر خدمة “التدريب في مقر العميل” في جميع المناطق ويحق لمزود الخدمة رفض تقديم التدريب في الأماكن الجغرافية التي خارج تغطيته.</p></li>

</ul>
</li>
<li>
<b>القوانين المعمول بها</b>
<p>يتم فض النزاعات أو دعاوى انتهاك هذه الاتفاقية بحسب القوانين المعمول بها في المملكة العربية السعودية.</p>
</li>
           
          </ol>


          <ul>
          <b>سجل التغييرات</b>
          <li><p>النسخة الأولى 1\5\2014م</p></li>
          <li><p>إيضاح في بند انتقال الأعمال – 24\8\2014م</p></li>
          <li><p>إيضاح في بند المحاسبة عن بعد – 03\11\2014م</p></li>
          <li><p>إيضاح في بند حفظ البيانات – 17\06\2015م</p></li>
          <li><p>إضافة شروط وأحكام التدريب والتجهيز 13\01\2016 م</p></li>
          <li><p>إيضاح في بند إخلاء المسؤولية وبند التعويض وحفظ البيانات – 20\04\2016م</p></li>
          <li><p>إيضاح في بند حفظ البيانات – 24\10\2018م</p></li>
          </ul>
         
        </div>

      </div>




   
        

    </main>
     

