<section class="background text-center position-relative">
    <img src="assets/image/2.jpg" class="img-fluid back">
    <div class="caption position-absolute">
        <p>موظفة خدمة عملاء – Customer Service Officer</p>
    </div>
</section>
<section class="home py-5">
    <div class="container">
        <div>
            <h3>المهام</h3>
            <hr>
            <ul>
                <li>استقبال مكالمات العملاء الحاليين والإجابة على استفساراتهم، أو توجيهها للقسم المختص.</li>
                <li>الحصول على المعلومات اللازمة من العملاء.</li>
                <li>إدخال بيانات العملاء على الأنظمة المستخدمة داخلياً.</li>
                <li>شرح الإجراءات الخاصة بالخدمة للعميل.</li>
                <li>رفع الطلبات للقسم المسؤول وجدولة مواعيد التدريب.</li>
                <li>دراسة ووصف الخدمة بشكل جيد يلقى قبول العملاء.</li>
            </ul>
        </div>
        <div class="pt-4">
            <h3>الخبرات والمهارات المطلوبة</h3>
            <hr>
            <ul>
                <li>مهارات اتصال عالية.</li>
                <li> القدرة على ادارة الوقت والالتزام بالمواعيد.</li>
                <li> القدرة على العمل بالحد الأدنى من الإشراف.</li>
                <li>الإلمام باللغة الإنجليزية تحدثاً وكتابة.</li>
                <li>القدرة على بناء علاقة ودية مع العملاء الحاليين والمحتملين.</li>
                <li>إلمام تام باستخدام الحاسب والانترنت.</li>
                <li>القدرة على البحث وايجاد الاجوبة.</li>
                <li>شخصية ودودة.</li>
                <li>القدرة على توفير بيئة العمل المنزلية (جهاز حاسب، إنترنت عالي السرعة، سماعة رأس، مكان هادئ وخالي من الضجيج خلال ساعات العمل).</li>
            </ul>
        </div>
        <div class="pt-4">
            <h3>الشهادات والمؤهلات</h3>
            <hr>
            <ul>
                <li>دبلوم إدارة علاقات العملاء أو بكالوريوس في التخصصات: تسويق/ حاسب/ لغة انجليزية.</li>
            </ul>
        </div>
        <div class="pt-4">
            <h3> الأجر الشهري و المميزات</h3>
            <hr>
            <ul>
                <li>يحدد بعد المقابلة الشخصية</li>
            </ul>
        </div>
        <div class="text-center mt-5">
            <p>في حال كانت لديك الرغبة والإمكانية للعمل بهذه الوظيفة يرجى تعبئة الطلب وإرفاق السيرة الذاتية على الرابط أدناه</p>
            <a class="btn text-white py-3 px-5" href="/submit"> تقديم الطلب</a>
        </div>
    </div>
</section>
 