<section class="home py-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-5 position-relative text">
                <h2>برنامج محاسبة متكامل</h2>
                <div class="line my-3"></div>
                <p class="text-white  pb-4">برنامج محاسبي متكامل يساعدك على ادارة كافة حساباتك العامة وكل ما يتعلق بعملياتك المحاسبية والمالية بغض النظر عن نوع ونشاط شركتك خدميا كان أو تجاريا أو حتى صناعيا. بإمكان محاسبك استخدام دفتر الحسابات لإدارة كافة شؤونك المحاسبية من ادخل اول قيد وحتى استخراج ميزانية متكاملة .</p>
                 <a href="/try" class="text-white py-3 my-5 px-5 rounded">جرب مجانًا الآن</a>
            </div>
            <div class="col-md-7 video">
              <iframe width="560" height="400" src="https://www.youtube.com/embed/Q2JgNR53ZfI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<section class="text-center adva py-5">
    <h2 class="mb-3">مميزات برنامج المحاسبة</h2>
    <div class="line m-auto"></div>
    <div class="container">
        <div class="row py-5">
            <div class="col-md-3">
              <i class="fas fa-cog"></i>
                <h3>قيود يومية متعددة الخيارات</h3>
                <p>إدخال 
          <span>                    القيود اليومية
               </span>                     اصبح اكثر سهولة مع تعدد خيارات الادخال والقدرة على رفع المرفقات بالقيد لتصبح الدورة المستندية موثقة بالكامل
                </p>
            </div>
            <div class="col-md-3">
              <i class="fas fa-money-check-alt"></i>
                <h3>دليل حسابات مرن جدا</h3>
                <p>التعديل على دليل الحسابات بحسب احتياجك وأكثر من دليل لأكثر من شركة و انشاء حسابات فرعية بعمق غير محدود</p>
            </div>
            <div class="col-md-3">
              <i class="fas fa-file-invoice"></i>
                <h3>تقارير متعددة</h3>
                <p>قوالب تقارير جاهزة تناسب كافة احتياجاتك ودعم التقارير المتخصصة والمتقدمة مع إمكانية التصدير لأي صيغة
                </p>
            </div>
            <div class="col-md-3">
              <i class="fas fa-wallet"></i>
                <h3>تعدد السنوات المالية</h3>
                <p>     
                    امكانية العمل على عدة سنوات مالية وامكانية ابقاء كل فتره مالية مفصولة تماما عن الفترات الاخرى                </p>
            </div>
        </div>
    </div>
</section>
<section class="more text-center py-5">
    <h2>مزايا إضافية عديدة ستحصل عليها</h2>
    <p class="pt-2">يشمل برنامج المحاسبة السحابي العديد من المزايا والخيارات وسنعرض لك مجموعة منها بحيث يمكنك التأكد من مطابقة خيارات هذا البرنامج الى متطلبات عملك ونظامك الإداري</p>
     <img class="mt-4" src="assets/images/accounting-software-screenshot.jpg" alt="">
    <div class="container-fluid">
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
              <i class="fas fa-calculator"></i>
                <p>دليل حسابات مرن</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-file-invoice"></i>
                <p>طباعة الاحصائيات والبيانات والفواتير</p>
            </div>
            <div class="col-md-2 ">
                <i class="far fa-money-bill-alt"></i>
                <p>تسويات بنكية سريعة ومتقدمة</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-chart-area"></i>
                <p>  تحليلات مالية ببيانات رسومية</p>
            </div>
            <div class="col-md-2  ">
              <i class="fas fa-list"></i>
                <p>  توفر شاشة نقاط البيع للإدخال السريع</p>
            </div>
        </div>
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
              <i class="fas fa-external-link-alt"></i>
                <p>امكانية استيراد وتصدير البيانات من والى البرامج الاخرى  </p>
            </div>
            <div class="col-md-2 ">
              <i class="fas fa-sticky-note"></i>
                <p>قيود يومية</p>
            </div>
            <div class="col-md-2 ">
              <i class="fas fa-user"></i>
                <p>الاستاذ العام</p>
            </div>
            <div class="col-md-2 ">
                <i class="far fa-money-bill-alt"></i>
                <p> متعدد العملات</p>
            </div>
            <div class="col-md-2  ">
              <i class="fas fa-certificate"></i>
                <p>صالح للاستخدام لأي نشاط تجاري</p>
            </div>
        </div>
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
              <i class="fas fa-folder-open"></i>
                <p>أرشفة إلكترونية</p>
            </div>
            <div class="col-md-2 ">
                <i class="far fa-money-bill-alt"></i>
                <p>مراكز التكلفة</p>
            </div>
            <div class="col-md-2 ">
              <i class="fas fa-pen-square"></i>
                <p>سند صرف</p>
            </div>
            <div class="col-md-2 ">
              <i class="fas fa-paste"></i>
                <p>  سند قبض</p>
            </div>
            <div class="col-md-2  ">
              <i class="fas fa-book"></i>
                <p>الموازنة التقديرية</p>
            </div>
        </div>
    </div>
</section>

<section class="suitable pt-5">
   <div class="container">
       <div class="row">
           <div class="col-md-4">
               <img class="img-fluid" src="assets/images/man-floded.png" alt="">
           </div>
           <div class="col-md-8">
               <h2 class="py-3 mt-4">هل برنامج حسابات Dynamic مناسب لشركتي؟</h2>
               <p>هذا البرنامج مفيد للشركات التي لديها إدارة محاسبة مكونة من موظف واحد فأكثر وبصلاحيات مختلفة، وهو مثالي للإدارات التي يتوفر فيها مدير مالي، ورئيس أو عدة رؤساء حسابات و مجموعة من المحاسبين و التي بالتالي تحتاج لمستويين أو أكثر من الاعتمادات الإدارية وذلك لسهولة ضبط تدفق العمليات والأذونات المختلفة في Dynamic مما يعطيكم القوة اللازمة لضبط الحسابات المالية للشركة.</p>
               <p class="pb-4">إذا كانت شركتكم كذلك فننصح بجدولة عرض خاص بك مع أحد استشاريينا وذلك للحديث في كل التفاصيل الأخرى.</p>
                <a class="text-white py-3 rounded px-5" href="/try">جرب برنامج المحاسبة مجانا الأن</a>
            </div>
       </div>
   </div>
</section>
<section class="info p-5">
    <div class="container mb-5 py-3">
        <h2 class="text-center">جرّب مجاناً الآن</h2>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputText4">الاسم الكريم <span>*</span></label>
                <input type="text" class="form-control" id="inputText4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4"> إسم المنشأة <span>*</span></label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
            </div>
           
          </form>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputText4">بريدك الإلكتروني الخاص بالعمل <span>*</span></label>
                <input type="text" class="form-control" id="inputText4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">  رقم الهاتف + البلد <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">0100 123 4567</option>
                    <option>Egypt</option>
                    <option>Ecuador</option>
                    <option>Domainiance</option>
                    <option>Seria</option>

                  </select>              </div>
            </div>
           
          </form>
  
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="validationCustom04"> المنصب <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                  <option selected disabled value="">---</option>
                  <option>صاحب العمل</option>
                  <option> المدير التنفيذي</option>
                  <option> المدير التقني</option>
                  <option> المدير المالي</option>
                  <option>مدير التشغيل </option>
                  <option> محاسب  </option>
                  <option> مدير الموارد البشرية</option>
                  <option>مدير التسويق </option>
                  <option>مدير المشروع </option>
                  <option>مدير المبيعات </option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="validationCustom04">نوع النشاط <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">---</option>
                    <option> دعاية وإعلان</option>
                    <option>  خدمات تسويق</option>
                    <option>  زراعة</option>
                    <option> تجزئه </option>
                    <option> شركة تقنية </option>
                    <option> تعليم  </option>
                    <option>   طاقة</option>
                    <option>خدمات  </option>
                    <option>هندسة  </option>
                    <option> مالية </option>
                    <option> مواد غذائية (مصنع) </option>
                    <option> مواد غذائية (توزيع) </option>
                    <option> حكومة </option>
                    <option> خدمات طبيه </option>
                    <option> عقار </option>
                    <option> غير ربحي </option>
                    <option> خدمات لوجيستيه ونقل </option>
                    <option> مطاعم   </option>
                    <option> اتصالات   </option>
 
                  </select>
              </div>
            </div>
           
          </form>

          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="validationCustom04"> عدد الموظفين <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                  <option selected disabled value="">---</option>
                  <option> 1 - 5</option>
                  <option> 6 - 49 </option>
                  <option> 50 -  249 </option>
                  <option>  أكثر من 250</option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="validationCustom04"> كيف سمعت عنا <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">---</option>
                    <option>  إعلان على الأنترنت</option>
                    <option>  المطبوعات </option>
                    <option>  بريد إلكتروني</option>
                    <option> معرض / مؤتمر </option>
                    <option> الأصدقاء والأقارب  </option>
                    <option> مدونة Dynamic  </option>
                    <option>   الأخبار والصحف</option>
                    <option>البرامج الاذاعية  </option>
                    <option>محركات البحث  </option>
                    <option> الشبكات الإجتماعية </option>
                    <option> مذود الخدمة / موزع   </option>
                    <option> ويبينار </option>
                    <option> عروض تجارية </option>
                     
                  </select>
              </div>
            </div>
           
          </form>

          <form >
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="mb-4 pb-2" for="validationCustom04"> هل لديك حساب  <span>*</span></label>
                <select class="custom-select " id="validationCustom04" >
                  <option selected disabled value="">نعم</option>
                  <option> نعم</option>
                  <option> لا</option>
                  
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputText4"> اكتب رمز التحقق الظاهر في الصورة <span>*</span></label><br>
                <img src="assets/images/3050360142.png" alt="">
                <input type="text" class="form-control" id="inputText4">
              </div>
            
            </div>
           
          </form>
          <a class="text-white py-3 rounded position-relative px-5" href="#">إرسال</a>
          
    </div>
</section>

<section class="programs text-center text-white py-4">
    <h2 class="mt-3"> تعرف ايضا على البرامج الأخرى من Dynamic</h2>
    <div class="container">
      <div class="row no-gutters my-5">
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/accounting">
            <i class="far fa-money-bill-alt"></i>
            <h3 class="my-3"> <a  href="/accounting">برنامج محاسبة</a></h3>
            <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك وإيراداتك</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/employees">
            <i class="fa fa-users circle-no"></i>
            <h3 class="my-3"><a href="/employees">برنامج شؤون الموظفين</a></h3>
            <p>من الحضور والانصراف إلى الرواتب، والاجازات، وكل وثائق الموظفين، برنامج موارد بشرية متوافق مع أنظمة وزارة العمل السعودية بالكامل</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/sales">
            <i class="fa fa-tag circle-no"></i>
            <h3 class="my-3"><a href="/sales">برنامج مبيعات</a></h3>
            <p>أدر دورة البيع من التسعير إلى الفوترة، واربط ما تم تسديده لك بالفواتير الصادرة أو قيد ما تبقى لك على عملائك مع كامل بياناتهم وبيانات تواصلك معهم</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/mushtrayat">
            <i class="fa fa-shopping-cart circle-no"></i>
            <h3 class="my-3"><a href="/mushtrayat"> نظام المشتريات</a></h3>
            <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك وإيراداتك</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/customers-service ">
            <i class="fa fa-phone circle-no"></i>
            <h3 class="my-3"><a href="/customers-service ">برنامج خدمة العملاء</a></h3>
            <p>قيد شكاوى العملاء والرد عليها، وجداول الصيانة ومعلومات الضمان وزيارات العملاء بشكل سلس ومركزي</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/dafater-projects">
            <i class="fa fa-puzzle-piece circle-no"></i>
            <h3 class="my-3"><a href="/dafater-projects"> دفتر المشاريع</a></h3>
            <p>هذا البرنامج يساعد المنشآت الخدمية، كشركات المقاولات وخدمات الصيانة من تقييد عدد المهام وساعات العمل على المشاريع وربطها بالعملاء</p>
          </a>
        </div>
    
        
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/manufacturing-program">
            <i class="fa fa-cogs circle-no"></i>
            <h3 class="my-3"><a href="/manufacturing-program">برنامج التصنيع</a></h3>
            <p>إدارة كامل عملية التصنيع للورش والمصانع الصغيرة ومحطات العمل وتدفق المواد الخام والهدر، بكل وضوح وسلاسة</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/Stores">
            <i class="fa fa-truck circle-no"></i>
            <h3 class="my-3"><a href="/Stores"> برنامج مخازن ومستودعات </a></h3>
            <p>متابعة رصيد المخزون وحركة الأصناف، وعمليات الجرد أصبحت سهلة جدا، كل أصنافك مصورة ومرقمة بشكل دقيق ومربوطة بمتجرك الالكتروني</p>
          </a>
        </div>
      </div>
    </div>
   
</section>
  