<section class="home py-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-5 position-relative text">
                <h2 class="pb-3">برنامج إدارة شؤون الموظفين</h2>
                <div class="line "></div>
                <p class="text-white pt-3 pb-4">
                    بامكانك إدارة كل مايتعلق بموظفيك بسهولة ، من بيانات موظفيك الشخصية الى ما يتعلق بالرواتب وسجل موظفيك داخل الشركة وخارجها والوثائق الخاصة بهم ، لا حاجة للرجوع للوثائق الورقية بعد الان ، بامكانك الرجوع لبيانات اي موظف وملفاته باي وقت، بالاضافة الى ان برنامج إدارة شؤون الموظفين من Dynamic متوافق مع أنظمة وزارة العمل السعودية بالكامل</p>
                 <a href="/try" class="text-white py-3 my-5 px-5 rounded">جرب مجانًا الآن</a>
            </div>
            <div class="col-md-7 video">
                <iframe width="560" height="400" src="https://www.youtube.com/embed/_R-wwOwLLOQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</section>
<section class="text-center adva py-5">
    <h2 class="mb-2">مميزات برنامج إدارة شؤون الموظفين</h2>
    <div class="line m-auto"></div>
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-3">
                <i class="fas fa-sitemap"></i>
                <h3> انشئ الهيكل الاداري لمنشأتك  </h3>
                <p>عرف الهيكل الاداري والمسميات الوظيفة واعرض الفرص الوظيفية المتاحه والوظائف الشاغرة</p>
            </div>
            <div class="col-md-3">
                
                <i class="fas fa-briefcase"></i>
                <h3>ادارة اجازات الموظفين</h3>
                <p>ادارة ايام الاجازة للموظف بناءً على الرصيد المتاح وتحديد أوقات منح الأجازات وأوقات منعها</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-star"></i>
                <h3>قيم اداء موظفيك</h3>
                <p>حدد الاهداف السنوية لكل موظف على حده وحدد وزن كل هدف من اجل توفير تقييم دقيق وشامل لكل موظف     </p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-database"></i>
                <h3>قاعدة بيانات كاملة للموظف  </h3>
                <p> المعلومات الشخصية – الشهادات – تاريخ الانضمام – الحساب البنكي – البريد الالكتروني .. وبيانات التدرج الوظيفي قبل التوظيف وبعده   
                      </p>
            </div>
        </div>
    </div>
</section>
<section class="more text-center py-5">
    <h2>مزايا إضافية عديدة ستحصل عليها</h2>
    <p class="pt-2">يشمل برنامج إدارة شؤون الموظفين السحابي العديد من المزايا والخيارات وسنعرض لك مجموعة منها بحيث يمكنك التأكد من مطابقة خيارات هذا البرنامج إلى متطلبات عملك ونظامك الإداري</p>
     <img class="mt-4" src="assets/images/accounting-software-screenshot.jpg" alt="">
    <div class="container-fluid">
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
                <i class="fas fa-share-square"></i>
                <p>استخراج قوائم الرواتب وتصديرها للأنظمة البنكية</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-credit-card"></i>
                <p>رفع المطالبات والمصاريف من قبل الموظفين</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-briefcase"></i>
                <p>إمكانية التقديم على الأجازة من قبل الموظف</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-sitemap"></i>
                <p>  هيكل رواتب مرن بأصناف استحقاق وخصم</p>
            </div>
            <div class="col-md-2  ">
                <i class="far fa-money-bill-alt"></i>
                <p>  إمكانية استخراج الرواتب بشكل متوافق مع نظام حماية الأجور</p>
            </div>
        </div>
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
                <i class="fas fa-envelope"></i>
                <p>إمكانية توزيع قسائم الرواتب للموظفين بالبريد الالكتروني آلي  </p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-users"></i>
                <p> رفع قوائم الحضور والانصراف وربطها بالرواتب</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-folder-open"></i>
                <p>إدارة عملية التوظيف كاملة من فتح الوظيفة إلى التسكين عليها</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-file-invoice"></i>
                <p> إدارة النماذج</p>
            </div>
            <div class="col-md-2  ">
                <i class="fas fa-sitemap"></i>
                <p>هيكل وظيفي وسلم درجات مرن</p>
            </div>
        </div>
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
                <i class="fas fa-database"></i>
                <p>قاعدة بيانات الموظفين</p>
            </div>
            <div class="col-md-2 ">
                <i class="far fa-check-square"></i>
                <p>
                    معالج مؤثرات الرواتب</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-folder-open"></i>
                <p>أرشفة إلكترونية للوثائق</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-list"></i>
                <p>  كشف الرواتب</p>
            </div>
            <div class="col-md-2  ">
                <i class="fas fa-calculator"></i>
                <p>حساب مستحقات نهاية الخدمة</p>
            </div>
        </div>
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
                <i class="fas fa-check"></i>
                <p> أداة تحديد الإجازات </p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-paper-plane"></i>
                <p>
                    إدارة أنواع الإجازات</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-star"></i>
                <p>إدارة قوائم العطل الرسمية</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-times-circle"></i>
                <p>إدارة فترات حظر الإجازات</p>
            </div>
            <div class="col-md-2  ">
                <i class="fas fa-file-invoice"></i>
                <p>إدارة أنواع البدلات والاقتطاعات</p>
            </div>
        </div>
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
                <i class="far fa-money-bill-alt"></i>
                <p> إدارة أنواع المصاريف</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-blender-phone"></i>
                <p>
                    الربط بأجهزة ضبط الحضور  </p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-star"></i>
                <p>معالج تقييم الأداء</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-users"></i>
                <p>
                    إدارة المسميات الوظيفية</p>
            </div>
            <div class="col-md-2  ">
                <i class="fas fa-list"></i>
                <p>إدارة الإدارات / الأقسام / الدرجات</p>
            </div>
        </div>
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
                <i class="far fa-clock"></i>
                <p> سجل التاريخ الوظيفي   </p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-check"></i>
                <p>
                    الخدمة الذاتية للموظفين</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-users"></i>
                <p>منصة التعاون والتشارك   </p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-search"></i>
                <p>محرك التوظيف</p>
            </div>
            <div class="col-md-2  ">
                <i class="fas fa-star"></i>
                <p>إدارة قوالب التقييم</p>
            </div>
        </div>
    </div>
</section>

<section class="connections text-center">
    <h2 class="mb-2">الإتصالات الادارية</h2>
    <div class="line m-auto"></div>
    <div class="container">
        <p class="mt-3">نظام الإتصالات الإدارية هو أحد مخرجات قسم التطوير Dynamic, يهدف نظام الاتصالات الإدارية المطور من قبل Dynamic الى اتمتة إدارات وأقسام الاتصالات الإدارية في المنشأة وتحويل تعاملات المنشآت الى تعاملات لا ورقية؛ حيث يقوم النظام بمتابعة المراسلات الصادرة والواردة من مختلف الجهات ومتابعتها من خلال تنفيذ الإجراءات اللازمة عليهامن عمليات العرض و متابعة المعاملات عن طريق اسنادها كمهام للموظفين من خلال النظام.</p>

        <div class="row py-4">
            <div class="col-md-3">
                <i class="fas fa-pen-square"></i>
                <p>امكانية إنشاء خطاب الصادر من خلال النظام</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-sync-alt"></i>
                <p>
                    إمكانية إرسال وإستقبال ومعالجة المعاملات من أي مكان طوال 24 ساعة.</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-chart-area"></i>
                <p> من أي مكان طوال 24 ساعة.
                    تلقي ومعاجلة وإرسال المعاملات إلكترونياً دون الحاجة الى الورق</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-folder"></i>
                <p>أرشفة المعاملات إلكترونياً    </p>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-3">
                <i class="fas fa-share"></i>
                <p>سهولة تتبع مسار المعاملة حتى إنهاء إجراءاتها</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-download"></i>
                <p>
                    نسخ احتياطي دوري للمعاملات</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-cog"></i>
                <p> 
                    معايير أمان عالية للحفاظ على سرية المعاملات</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-file-invoice"></i>
                <p>إمكانية طباعة تقارير إحصائية من النظام</p>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-3">
                <i class="fas fa-search"></i>
                <p>إمكانية البحث عن المعاملات بأكثر من طريقة, مثل: رقم المعاملة, تاريخها, المرسل, طبيعة المعاملة , أهمية المعاملة , المرفقات</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-building"></i>
                <p>
                    امكانية طباعة المعاملات على النموذج الخاص بالمنشأة                </p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-envelope"></i>
                <p> امكانية ارسالها من خلال النظام عن طريق البريد الإلكتروني                </p>
            </div>
            <div class="col-md-3">
                <i class="far fa-bell"></i>
                <p> البريد الإلكتروني
                    محرك إشعارات وتنبيهات على تاريخ المعاملة</p>
            </div>
        </div>
    </div>
</section>

<section class="work py-5 text-center">
    <img class="img-fluid" src="assets/images/inc-oug.png" alt="">
</section>

<section class="library py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid" src="assets/images/manage-3.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h2>مكتبة الإجراءات الإدارية</h2>
                <div class="line"></div>
                <p class="py-3">سلسلة فيها 22 نموذجا لأفضل الممارسات في الشؤون الإدارية موضحة بالتفصيل، و هي جزء من مكتبة الإجراءات المالية و الإدارية التي يمكنك طلب ميكنتها من Dynamic. المكتبة هي من إعداد فريق استشارات إدارية متخصص.</p>
                 <a class="py-3 px-5 text-white rounded" href="#">تنزيل مكتبة الاجراءات الادارية </a>
            </div>
        </div>
    </div>
</section>

<section class="suitable pt-5">
   <div class="container">
       <div class="row">
           <div class="col-md-4">
               <img class="img-fluid" src="assets/images/man-floded.png" alt="">
           </div>
           <div class="col-md-8 position-relative " style="bottom: 50px;">
               <h2 class="py-3 mt-4">هل برنامج حسابات Dynamic مناسب لشركتي؟</h2>
               <p>هذا البرنامج يناسب بشكل أكبر الشركات المتوسطة والكبرى التي تجاوز فيها عدد الموظفين الخمسين موظف، أو أي شركة يعاني طاقم شؤون الموظفين فيها من ازدحام الأعمال، مع الحاجة لإدارة إجراءات شؤون الموظفين باستفاضة بدءً من فتح الوظيفة إلى التعيين ثم تقييم الموظف أو خروجه من المنظمة، أو لديها إدارة شؤون موظفين تعتمد بشكل كبير على تفاعل الموظفين من خلال النماذج للتقديم بشكل ذاتي على الخدمات التي يرغبون فيها. هو مناسب أيضا بشكل أكبر من غيره لبيئات العمل التي تحتاج لتسيير إجراءاتها ونماذجها الخاصة بها بشكل إلكتروني والتي قد لا تكون شائعة في الأنظمة الأخرى وإنما تحتاج لتوفيرها بشكل خاص، وتحتاج معها لأرشفة ملفات الموظفين وصور وثائقهم بشكل إلكتروني.</p>
               <p class="pb-3">إذا كانت هذه الصفات تنطبق على شركتكم فننصحك بجدولة عرض خاص بك مع أحد استشاريينا وذلك للحديث في كل التفاصيل الأخرى.</p>
                <a class="text-white py-3 rounded px-5" href="/try">جرب برنامج شؤون الموظفين مجانا الأن</a>
            </div>
       </div>
   </div>
</section>
<section class="info p-5">
    <div class="container mb-5 py-3">
        <h2 class="text-center">جرّب مجاناً الآن</h2>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputText4">الاسم الكريم <span>*</span></label>
                <input type="text" class="form-control" id="inputText4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4"> إسم المنشأة <span>*</span></label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
            </div>
           
          </form>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputText4">بريدك الإلكتروني الخاص بالعمل <span>*</span></label>
                <input type="text" class="form-control" id="inputText4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">  رقم الهاتف + البلد <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">0100 123 4567</option>
                    <option>Egypt</option>
                    <option>Ecuador</option>
                    <option>Domainiance</option>
                    <option>Seria</option>

                  </select>              </div>
            </div>
           
          </form>
  
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="validationCustom04"> المنصب <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                  <option selected disabled value="">---</option>
                  <option>صاحب العمل</option>
                  <option> المدير التنفيذي</option>
                  <option> المدير التقني</option>
                  <option> المدير المالي</option>
                  <option>مدير التشغيل </option>
                  <option> محاسب  </option>
                  <option> مدير الموارد البشرية</option>
                  <option>مدير التسويق </option>
                  <option>مدير المشروع </option>
                  <option>مدير المبيعات </option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="validationCustom04">نوع النشاط <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">---</option>
                    <option> دعاية وإعلان</option>
                    <option>  خدمات تسويق</option>
                    <option>  زراعة</option>
                    <option> تجزئه </option>
                    <option> شركة تقنية </option>
                    <option> تعليم  </option>
                    <option>   طاقة</option>
                    <option>خدمات  </option>
                    <option>هندسة  </option>
                    <option> مالية </option>
                    <option> مواد غذائية (مصنع) </option>
                    <option> مواد غذائية (توزيع) </option>
                    <option> حكومة </option>
                    <option> خدمات طبيه </option>
                    <option> عقار </option>
                    <option> غير ربحي </option>
                    <option> خدمات لوجيستيه ونقل </option>
                    <option> مطاعم   </option>
                    <option> اتصالات   </option>
 
                  </select>
              </div>
            </div>
           
          </form>

          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="validationCustom04"> عدد الموظفين <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                  <option selected disabled value="">---</option>
                  <option> 1 - 5</option>
                  <option> 6 - 49 </option>
                  <option> 50 -  249 </option>
                  <option>  أكثر من 250</option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="validationCustom04"> كيف سمعت عنا <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">---</option>
                    <option>  إعلان على الأنترنت</option>
                    <option>  المطبوعات </option>
                    <option>  بريد إلكتروني</option>
                    <option> معرض / مؤتمر </option>
                    <option> الأصدقاء والأقارب  </option>
                    <option> مدونة Dynamic  </option>
                    <option>   الأخبار والصحف</option>
                    <option>البرامج الاذاعية  </option>
                    <option>محركات البحث  </option>
                    <option> الشبكات الإجتماعية </option>
                    <option> مذود الخدمة / موزع   </option>
                    <option> ويبينار </option>
                    <option> عروض تجارية </option>
                     
                  </select>
              </div>
            </div>
           
          </form>

          <form >
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="mb-4 pb-2" for="validationCustom04"> هل لديك حساب  <span>*</span></label>
                <select class="custom-select " id="validationCustom04" >
                  <option selected disabled value="">نعم</option>
                  <option> نعم</option>
                  <option> لا</option>
                  
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputText4"> اكتب رمز التحقق الظاهر في الصورة <span>*</span></label><br>
                <img src="assets/images/1565025460.png" alt="">
                <input type="text" class="form-control" id="inputText4">
              </div>
            
            </div>
           
          </form>
          <a class="text-white py-3 rounded position-relative px-5" href="#">إرسال</a>
          
    </div>
</section>

<section class="programs text-center text-white py-4">
    <h2 class="mt-3"> تعرف ايضا على البرامج الأخرى من Dynamic</h2>
    <div class="container">
      <div class="row no-gutters my-5">
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/accounting">
            <i class="far fa-money-bill-alt"></i>
            <h3 class="my-3"> <a  href="/accounting">برنامج محاسبة</a></h3>
            <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك وإيراداتك</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/employees">
            <i class="fa fa-users circle-no"></i>
            <h3 class="my-3"><a href="/employees">برنامج شؤون الموظفين</a></h3>
            <p>من الحضور والانصراف إلى الرواتب، والاجازات، وكل وثائق الموظفين، برنامج موارد بشرية متوافق مع أنظمة وزارة العمل السعودية بالكامل</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/sales">
            <i class="fa fa-tag circle-no"></i>
            <h3 class="my-3"><a href="/sales">برنامج مبيعات</a></h3>
            <p>أدر دورة البيع من التسعير إلى الفوترة، واربط ما تم تسديده لك بالفواتير الصادرة أو قيد ما تبقى لك على عملائك مع كامل بياناتهم وبيانات تواصلك معهم</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/mushtrayat">
            <i class="fa fa-shopping-cart circle-no"></i>
            <h3 class="my-3"><a href="/mushtrayat"> نظام المشتريات</a></h3>
            <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك وإيراداتك</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/dafater-projects">
            <i class="fa fa-phone circle-no"></i>
            <h3 class="my-3"><a href="/dafater-projects">برنامج خدمة العملاء</a></h3>
            <p>قيد شكاوى العملاء والرد عليها، وجداول الصيانة ومعلومات الضمان وزيارات العملاء بشكل سلس ومركزي</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/manufacturing-program">
            <i class="fa fa-puzzle-piece circle-no"></i>
            <h3 class="my-3"><a href="/manufacturing-program"> دفتر المشاريع</a></h3>
            <p>هذا البرنامج يساعد المنشآت الخدمية، كشركات المقاولات وخدمات الصيانة من تقييد عدد المهام وساعات العمل على المشاريع وربطها بالعملاء</p>
          </a>
        </div>
    
        
        <div class="col-md-3 mt-2">
          <a class="big-link" href="#">
            <i class="fa fa-cogs circle-no"></i>
            <h3 class="my-3"><a href="#">برنامج التصنيع</a></h3>
            <p>إدارة كامل عملية التصنيع للورش والمصانع الصغيرة ومحطات العمل وتدفق المواد الخام والهدر، بكل وضوح وسلاسة</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="#">
            <i class="fa fa-truck circle-no"></i>
            <h3 class="my-3"><a href="#"> برنامج مخازن ومستودعات </a></h3>
            <p>متابعة رصيد المخزون وحركة الأصناف، وعمليات الجرد أصبحت سهلة جدا، كل أصنافك مصورة ومرقمة بشكل دقيق ومربوطة بمتجرك الالكتروني</p>
          </a>
        </div>
      </div>
    </div>
   
</section>
 