
<section class="hello py-4 px-5">
    <div class="paragraphs">
        <div class="container-fluid">
            <div class="row p-3">
                <div class="col-md-8">
                    <div class="mb-5">
                        <h3>أهلا بك في برنامج سفراء Dynamic</h3>
                        <p class="mt-3">هذا البرنامج مجاني وبإمكانك أن تصبح سفيرا دون أي تكاليف وبكل سهولة، كما أنه لا يتطلب منك أي معرفة تقنية معقدة، وستحصل على التدريب اللازم من داخل حسابك من خلال المكتبة التدريبية. سفراء Dynamic هو برنامج تسويقي يهدف لتسجيل وإدارة شبكة من الأفراد المهتمين الذين يرغبون في تحقيق دخل إضافي بالقيام بعملية التسويق لمنتجات وخدمات Dynamic. هذه الطريقة فيها تحقيق للمصلحة المشتركة بين الطرفين، ونتمنى أن تجد في التفاصيل ما يشجعك على العمل معنا.
                        </p>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <h3>ماهي آلية العمل؟</h3>
                            <p class="mt-3">عند تسجيلك كسفير لDynamic، سنزودك بالعديد من المواد التسويقية مثل الروابط النصية والرايات الإعلانية (البانرات)، و التي يمكنك استخدمها لجلب العملاء. وهي روابط خاصة بحسابك أنت فقط وتحتوي على رقم يميزك من بين بقية السفراء. عندما يقوم العميل بالضغط عليها تقوم أنظمة إدارة السفراء بتسجيل هذه الزيارة باسمك، وتقوم الصفحة بتنزل ملفات ارتباط (Cookies) في جهاز الزائر، يعطى بعدها فرصة قدرها 90 يوما للاشتراك، وإذا ما اشترك فستحصل أنت على عمولة اشتراكه بحسب النسبة أو المبلغ المحدد لك في لوحة التحكم الرئيسية.</p>
                            <p>هذه الآلية تحفظ حقك حتى لولم يقم العميل بالاشتراك حين اتصالك به أو ارسالك الرابط له، وإنما قام بزيارة موقع Dynamic ومن ثم اشترك بعد أسابيع مثلا، إذ أننا سنقوم بتقييد هذا الاشتراك لحسابك وستحصل على عمولتك بإذن الله.</p>
                        </div>
                        <div class="col-md-7">
                            <img class="img-fluid" src="assets/images/main-pic.png">
                        </div>
                    </div>
                    <h3>تقارير إحصائية فورية في أي وقت</h3>
                    <p class="mt-3">بإمكانك الدخول في أي وقت من اليوم للتأكد من مبيعاتك ومراجعة العملاء الذين قمنا بتسجيلهم باسمك بعدما قامو بزيارة موقع Dynamic نتيجة لجهودك التسويقية، كما بإمكانك مراجعة العديد من الأمور الأخرى التي تتعلق بكمية العمولات التي قمت بتحقيقها وتواريخ دفعها وغير ذلك الكثير.</p>
                </div>
                <div class="col-md-4 ">
                   <div class="form pb-4">
                       <div class="w-100 inter text-white p-3">تسجيل الدخول</div>
                       <div class="input-group m-auto">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="أسم المستخدم" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group m-auto my-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="كلمة السر" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      <div class="link text-center pt-4 ">
                          <a class="rounded link1 text-white px-5 py-2" href="/home">دخول</a>
                      </div>
                      <div class="link text-center pt-4">
                        <a class="rounded link2 text-white py-2 px-5" href="#">سجل معنا</a>
                      </div>
                
                   </div>
                </div>    
            </div>
        </div>
    </div>

    <div class="detailes mt-3">
        <div class="slide">
            
                <div class="w-100 program text-white p-2">تفاصيل البرنامج <i class="fas fa-chevron-down float-left mt-2 ml-2" style="font-size:12px"></i></div>
           
           <div class="px-4 py-3 slider">
            <table class="w-100 table ">
                <tbody>
                    <tr class="active">
                        <th class="w-25" scope="row">نوع العمولة</th>
                        <td>عمولة على المبيعات المحققة SAR500.00 SAR لكل عملية بيع تقوم بتحقيقها.</td>
                      </tr>
                      <tr>
                        <th scope="row">متطلبات دفع العمولة</th>
                        <td>SAR5,000.00 SAR - الحد الأدنى لصافي حساب العمولة قبل دفعه.</td>
                      </tr>
                      <tr class="active">
                        <th scope="row">فترة الدفع</th>
                        <td>الدفع يتم شهريا عن كل شهر سابق.</td>
                      </tr>
                </tbody>
            </table>
           </div>
        </div>
    </div>
    
</section>


