<div class="background">
    <img class="back img-fluid" src="assets/image/hr-cover2-1.jpg">
    <div class="transbox">
    </div>
    <div class="transbox1">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-12 lampa">
            <img src="assets/image/search.svg" class="img-fluid mt-2 man">

          </div>
          <div class="col-md-10 col-sm-12 dafater">
            <h3> وظائف Dynamic</h3>
            <p class="pt-2">أمامك فرصة جيّدة لتكون أحد أعضاء فريقنا، نعرض لك في هذه الصفحة الوظائف الشاغرة لدينا بحيث يمكنك الاطلاع على كل وظيفة بشكل منفرد والتقديم عليها من خلال النموذج المتاح.</p>

          </div>

        </div>

      </div>
    </div>
  </div>

  <section class="home py-5">
      <div class="container">
          <div class="row">
              
              <div class="col-md-8">
                  <h2>Dynamic الإنضمام إلى فريق </h2>
                  <hr>
                  <p>أمامك فرصة جيّدة لتكون أحد أعضاء فريقنا، نعرض لك في هذه الصفحة الوظائف الشاغرة لدينا بحيث يمكنك الاطلاع على كل وظيفة بشكل منفرد والتقديم عليها من خلال النموذج المتاح.</p>
                  <p>سنقوم بمراجعة جميع الطلبات لدينا وفرزها وتصنيفها، ومن ثم اختيار المرشحين للمقابلات الشخصية، ربما تكون مرشحاً للحصول على وظيفة معنا، لا تتردد وقدم طلبك الآن.</p>
                  <p>إن جميع الطلبات المرسلة تؤخذ بعين الإعتبار ويتم فرزها من فريق متخصص لدينا، والأولوية لمن تنطبق عليه شروط الوظيفه المتاحة، نشكر ثقتكم بنا وإرسال طلباتكم التي هي محط إحترامنا وتقديرنا</p>
                </div>
                <div class="col-md-4">
                  <img style="width: 180px;" class="img-fluid" src="assets/image/career-2.svg">
              </div>
          </div>
          <h2 style="color: #253C8C;" class="text-center mt-5">قائمة الوظائف المتاحة</h2>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">الوظيفة</th>
                <th scope="col">مقر الوظيفة</th>
                <th scope="col">الرابط</th>
           
         
              </tr>
            </thead>
            <tbody>
              <tr>
               
         
                <td>موظفة خدمة عملاء – Customer Service Officer Remotely</td>
                     
                <td>عن بعد</td>
                <td><a style=" color:  #14A9DE; text-decoration: none;" href="/contact">
                  معلومات الوظيفة
              </a></td>
              </tr>
            
            </tbody>
          </table>
      </div>
  </section>
 