
      <main>
        <div class="background">
          <img class="img-fluid back" src="assets/image/projects-management-1.jpg"> 
          <div class="transbox">
          </div>
          <div class="transbox1">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <img style="width: 140px;" src="assets/image/manlamp.svg" class="img-fluid man">

              </div>
              <div class="col-md-8 col-sm-12 dafater">
                <h3> الحلول المتكاملة </h3>
                <p> التطبيقات البرمجية هي جزء من الصورة، ماذا عن بقية أجزاء المنظومة التقنية التي تحقق التكامل في عملياتك وتزيد من كفاءتها الانتاجية؟ هذه مجموعة من الحلول المتكاملة لأنشطة مخصصة نهتم بها في Dynamic.</p>

             </div>

            </div>

          </div>
        </div></div>
        <div class="ecommerce-s">
         <div class="container">
          <img src="assets/image/ecommerce-s.svg" class="img-fluid">
          <h2>تجارة الجملة و التجزئة / التجارة الإلكترونية</h2>
          <p class="mt-3">يشكل نظام Dynamic لإدارة تجارة الجملة والتجزئة حلا متكاملا فيه كل ما تحتاج لإدارة متاجرك ومستودعاتك ومخزون بضائعك و علاقتك بمناديب المبيعات وشركاء التوزيع. يوفر النظام لك آلية سهلة جاهزة لربط أجهزة نقاط البيع في المتاجر بالمستودعات ومنظومة المشتريات والمدفوعات في المنشأة.</p>
         
         </div>
        </div>
        <div class="triangle-down8"></div>
        <div class="text-center">
          <img src="assets/images/ecommerce-soultion-png-1.png" class="img-fluid">
        </div>
       
        <div class="container">
          <h3 class="organization">المنظومات المشمولة</h3>
          <div class="row manzoma pb-5">
            <div class="col-md-3">
              <div class="card"  [routerLink]="['/calculations']">
                <div class="card-body "  >
                  <a href="" [routerLink]="['/calculations']">
                    <img style="width: 39%;" src="assets/image/20.svg" class="img-fluid"><p>منظومة الحسابات و المالية</p>
                  </a>
                </div>
              </div>

            </div>


            <div class="col-md-3">
              <div class="card"  [routerLink]="['/calculations']">
                <div class="card-body" >
                  <a href="" [routerLink]="['/calculations']">
                    <img style="width: 42%;" src="assets/image/Capture.svg" class="img-fluid"><p>منظومة الانتاج</p>
                  </a>
                </div>
              </div>

            </div>


            <div class="col-md-3">
              <div class="card"  [routerLink]="['/calculations']">
                <div class="card-body">
                  <a href="" [routerLink]="['/calculations']">
                    <img style="width: 50%;"   src="assets/image/Captureff.png" class="img-fluid"><p>
                      منظومة كاملة لإدارة المشتريات النقدية والآجله
                       </p>
                  </a>
                </div>
              </div>

            </div>


            <div class="col-md-3">
              <div class="card"  [routerLink]="['/calculations']">
                <div class="card-body"  >
                  <a href=""  [routerLink]="['/calculations']">
                    <img style="width: 54%;" src="assets/image/ecommerce-s.svg" class="img-fluid"><p>منظومة الحسابات و المالية</p>
                  </a>
                </div>
              </div>

            </div>

          </div>

        </div>


        <div class="ecommerce-s">
          <div class="container">
            <img style=" width: 160px;" src="assets/image/restaurant coffe.svg" class="img-fluid">
          <h2>حلول المطاعم والمقاهي</h2>
          <p class="mt-3">توفر لك Dynamic حلا كاملا فيه مجموعة من الأدوات التقنية والبرامج المترابطة لإعطائك قراءة دقيقة لتكلفة الوجبات والأطعمة المقدمة، بدءً من تكلفة المكونات المباشرة إلى تكاليف تشغيل المطعم بالكامل، كما أن Dynamic يمكنها الربط والتكامل مع التقنيات المشهورة التي تسهل العمليات التشغيلية في منشآت تقديم الأطعمة والمشروبات كسلاسل المطاعم والكافيهات كنقاط البيع العالمية وأجهزة العرض ومتابعة الطلبات في المطابخ.</p>
         
          </div>
        </div>
        <div class="triangle-down8"></div>
        <div class="text-center">
          <img src="assets/images/coffee-res-soultion-png-1.png" class="img-fluid">
        </div>





        <div class="container">
          <h3 class="organization">المنظومات المشمولة</h3>
          <div class="row manzoma pb-5">
            <div class="col-md-3">
              <div class="card"  [routerLink]="['/calculations']">
                <div class="card-body "  >
                  <a href="" [routerLink]="['/calculations']">
                    <img style="width: 39%;" src="assets/image/20.svg" class="img-fluid"><p>منظومة الحسابات و المالية</p>
                  </a>
                </div>
              </div>

            </div>


            <div class="col-md-3">
              <div class="card"  [routerLink]="['/calculations']">
                <div class="card-body" >
                  <a href="" [routerLink]="['/calculations']">
                    <img style="width: 42%;" src="assets/image/Capture.svg" class="img-fluid"><p>منظومة الانتاج</p>
                  </a>
                </div>
              </div>

            </div>


            <div class="col-md-3">
              <div class="card"  [routerLink]="['/calculations']">
                <div class="card-body">
                  <a href="" [routerLink]="['/calculations']">
                    <img style="width: 50%;"  src="assets/image/Captureff.png" class="img-fluid"><p>                      منظومة كاملة لإدارة المشتريات النقدية والآجله
                    </p>
                  </a>
                </div>
              </div>

            </div>


            <div class="col-md-3">
              <div class="card"  [routerLink]="['/calculations']">
                <div class="card-body"  >
                  <a href="" [routerLink]="['/calculations']">
                    <img style="width: 54%;" src="assets/image/ecommerce-s.svg" class="img-fluid"><p>منظومة الحسابات و المالية</p>
                  </a>
                </div>
              </div>

            </div>

          </div>

        </div>



        <div class="ecommerce-s">
        <div class="container">
          <img src="assets/images/manufacturing-2.png" class="img-fluid">
          <h2>حلول التصنيع</h2>
          <p class="mt-3">تساعد Dynamic الشركات الصناعية في إدارة عملياتها التشغيلية والإدارية والمالية بحيث يتمكن مدراء الإنتاج من التخطيط له بتعريف محطات العمل وتحديد التكاليف التقديرية الثابتة والمتغيرة شاملا تكلفة الساعة الإنتاجية وتكاليف المواد المتوفرة وتلك التي تحتاج لتوريد وشراء، إضافة إلى تحديد التكاليف غير المباشرة كالكهرباء والايجار .. إلخ، ثم إدارة وتتبع أوامر الإنتاج ونسب إنهائها.</p>
         
        </div>
        </div>
        <div class="triangle-down8"></div>
        <div class="text-center">
          <img src="assets/images/manf-soultion-png-2.png" class="img-fluid">
        </div>


        <div class="container">
          <h3 class="organization">المنظومات المشمولة</h3>
          <div class="row manzoma pb-5">
            <div class="col-md-3">
              <div class="card"  [routerLink]="['/calculations']">
                <div class="card-body "  >
                  <a href=""  [routerLink]="['/calculations']">
                    <img style="width: 39%;" src="assets/image/20.svg" class="img-fluid"><p>منظومة الحسابات و المالية</p>
                  </a>
                </div>
              </div>

            </div>


            <div class="col-md-3">
              <div class="card"  [routerLink]="['/calculations']">
                <div class="card-body" >
                  <a href="" [routerLink]="['/calculations']">
                    <img style="width: 42%;" src="assets/image/Capture.svg" class="img-fluid"><p>منظومة الانتاج</p>
                  </a>
                </div>
              </div>

            </div>


            <div class="col-md-3">
              <div class="card"  [routerLink]="['/calculations']">
                <div class="card-body">
                  <a href="" [routerLink]="['/calculations']">
                    <img style="width: 50%;"   src="assets/image/Captureff.png" class="img-fluid"><p>                        منظومة كاملة لإدارة المشتريات النقدية والآجله
                    </p>
                  </a>
                </div>
              </div>

            </div>


            <div class="col-md-3">
              <div class="card"  [routerLink]="['/calculations']">
                <div class="card-body"  >
                  <a href="" [routerLink]="['/calculations']">
                    <img style="width: 54%;" src="assets/image/ecommerce-s.svg" class="img-fluid"><p>منظومة الحسابات و المالية</p>
                  </a>
                </div>
              </div>

            </div>

          </div>

        </div>


 
       
       
       
      </main>

     
