<div class="background" >
    <img class="img-fluid back" src="assets/image/projects-management-1.jpg">
    <div class="transbox">
    </div>
    <div class="transbox1">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-12 lampa">
            <img src="assets/images/apps.png" class="img-fluid mt-2 man">

          </div>
          <div class="col-md-10 col-sm-12 dafater">
            <h3>برامج Dynamic</h3>
            <p class="pt-2">تحتوي Dynamic على العديد من البرامج والنظم المتكاملة فيما بينها، تشكل في مجموعها حلا شاملا لأغلب احتياجات المنشأة المالية <br> والإدارية، تعرف على أهم هذه البرامج والنظم هنا</p>

          </div>

        </div>

      </div>
    </div>
  </div>
  <section class="programs py-5">
      <div class="container">
        <div class="row no-gutters py-4 ">

            <div class="col-md-3 mt-2">
              <a class="big-link" href="/accounting">
                <i class="far fa-money-bill-alt"></i>
                <h3 class="my-3">برنامج محاسبة</h3>
                <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك وإيراداتك</p>
              </a>
            </div>
        
            <div class="col-md-3 mt-2">
              <a class="big-link" href="/employees">
                <i class="fa fa-users circle-no"></i>
                <h3 class="my-3">برنامج شؤون الموظفين</h3>
                <p>من الحضور والانصراف إلى الرواتب، والاجازات، وكل وثائق الموظفين، برنامج موارد بشرية متوافق مع أنظمة وزارة العمل السعودية بالكامل</p>
              </a>
            </div>
        
            <div class="col-md-3 mt-2">
              <a class="big-link" href="/sales">
                <i class="fa fa-tag circle-no"></i>
                <h3 class="my-3">برنامج مبيعات</h3>
                <p>أدر دورة البيع من التسعير إلى الفوترة، واربط ما تم تسديده لك بالفواتير الصادرة أو قيد ما تبقى لك على عملائك مع كامل بياناتهم وبيانات تواصلك معهم</p>
              </a>
            </div>
        
            <div class="col-md-3 mt-2">
              <a class="big-link" href="/mushtrayat">
                <i class="fa fa-shopping-cart circle-no"></i>
                <h3 class="my-3"> نظام المشتريات</h3>
                <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك وإيراداتك</p>
              </a>
            </div>
        
            <div class="col-md-3 mt-2">
              <a class="big-link"  href="/customers-service ">
                <i class="fa fa-phone circle-no"></i>
                <h3 class="my-3">برنامج خدمة العملاء</h3>
                <p>قيد شكاوى العملاء والرد عليها، وجداول الصيانة ومعلومات الضمان وزيارات العملاء بشكل سلس ومركزي</p>
              </a>
            </div>
        
            <div class="col-md-3 mt-2">
              <a class="big-link" href="/dafater-projects">
                <i class="fa fa-puzzle-piece circle-no"></i>
                <h3 class="my-3"> دفتر المشاريع</h3>
                <p>هذا البرنامج يساعد المنشآت الخدمية، كشركات المقاولات وخدمات الصيانة من تقييد عدد المهام وساعات العمل على المشاريع وربطها بالعملاء</p>
              </a>
            </div>
        
            
            <div class="col-md-3 mt-2">
              <a class="big-link" href="/manufacturing-program">
                <i class="fa fa-cogs circle-no"></i>
                <h3 class="my-3">برنامج التصنيع</h3>
                <p>إدارة كامل عملية التصنيع للورش والمصانع الصغيرة ومحطات العمل وتدفق المواد الخام والهدر، بكل وضوح وسلاسة</p>
              </a>
            </div>
        
            <div class="col-md-3 mt-2">
              <a class="big-link" href="/Stores">
                <i class="fa fa-truck circle-no"></i>
                <h3 class="my-3"> برنامج مخازن ومستودعات </h3>
                <p>متابعة رصيد المخزون وحركة الأصناف، وعمليات الجرد أصبحت سهلة جدا، كل أصنافك مصورة ومرقمة بشكل دقيق ومربوطة بمتجرك الالكتروني</p>
              </a>
            </div>
          </div>
      </div>
  </section>