

      <main id="main_Content">

<div class="fusion-page-title-bar fusion-page-title-bar-none fusion-page-title-bar-center top">
    <div class="fusion-page-title-row" style="margin: auto ;">
        <div class="col-md-12 fusion-page-title-bar">

            <div class="fusion-page-title-wrapper">
                <div class="fusion-page-title-captions">

                    <h1 class="entry-title">
                        مقدمة
                    </h1>
                </div>
               
            </div>
        
        </div>
    </div>
</div>

<div id="main" class="clearfix ">

    <div class="fusion-row">
        <div id="content" style=" float: left;">
           <div  id="post-1306" class="post-1306 page type-page status-publish hentry">

            <div class="post-content">
                <p></p>
                <h5 data-fontsize="22" data-lineheight="29">ما هو نظام “تخطيط موارد المؤسسات (ERP)” ولم الاهتمام؟</h5>

                <p dir="RTL">إذا كنت مقتنعا بحاجتك إلى نظام متكامل ومترابط تدير من خلاله منشأتك التجارية، فيمكنك تخطي هذا القسم، أما إذا كنت تقوم بتشغيل شركة صغيرة توظف عددا قليلا من الموظفين، وترى أنه من الصعب عليك إدارة الطبيعة الديناميكية للأعمال التجارية، وفكرت سابقا في استخدام –أو حتى كنت تستخدم فعلا- برنامجا ما للمحاسبة، بالإضافة إلى بعض البرامج الأخرى لإدارة مخزونك ومبيعاتك (أو إدارة علاقات العملاء)، فإنك بحاجة إلى نظام <b>تخطيط موارد المؤسسات </b>أو ما يرمز له اختصارا بـ<b>(</b>ERP)، وهذا النظام أولى مهامه هو أن يضع بين يديك كل هذه الأشياء معا في مكان واحد.</p>
              
                <p dir="RTL">إذا كنت مقتنعا بحاجتك إلى نظام متكامل ومترابط تدير من خلاله منشأتك التجارية، فيمكنك تخطي هذا القسم، أما إذا كنت تقوم بتشغيل شركة صغيرة توظف عددا قليلا من الموظفين، وترى أنه من الصعب عليك إدارة الطبيعة الديناميكية للأعمال التجارية، وفكرت سابقا في استخدام –أو حتى كنت تستخدم فعلا- برنامجا ما للمحاسبة، بالإضافة إلى بعض البرامج الأخرى لإدارة مخزونك ومبيعاتك (أو إدارة علاقات العملاء)، فإنك بحاجة إلى نظام <b>تخطيط موارد المؤسسات </b>أو ما يرمز له اختصارا بـ<b>(</b>ERP)، وهذا النظام أولى مهامه هو أن يضع بين يديك كل هذه الأشياء معا في مكان واحد.</p>

                <p dir="RTL">إذا كنت مقتنعا بحاجتك إلى نظام متكامل ومترابط تدير من خلاله منشأتك التجارية، فيمكنك تخطي هذا القسم، أما إذا كنت تقوم بتشغيل شركة صغيرة توظف عددا قليلا من الموظفين، وترى أنه من الصعب عليك إدارة الطبيعة الديناميكية للأعمال التجارية، وفكرت سابقا في استخدام –أو حتى كنت تستخدم فعلا- برنامجا ما للمحاسبة، بالإضافة إلى بعض البرامج الأخرى لإدارة مخزونك ومبيعاتك (أو إدارة علاقات العملاء)، فإنك بحاجة إلى نظام <b>تخطيط موارد المؤسسات </b>أو ما يرمز له اختصارا بـ<b>(</b>ERP)، وهذا النظام أولى مهامه هو أن يضع بين يديك كل هذه الأشياء معا في مكان واحد.</p>

                <h5 data-fontsize="22" data-lineheight="29">ما هي دفـاتــر؟</h5>


                <p dir="RTL" style="text-align: right;"><b>دفـاتــر</b> هي خدمة تتيح لك الوصول لنظام إدارة موارد المؤسسات والذي سيساعدك على إدارة كافة معلومات عملك التجاري من خلال تطبيق واحد ممكنا إياك بذلك من إدارة العمليات المختلفة، كتلك المتعلقة بالبيع والشراء والمحاسبة وعمليات المخزون أو الانتاج والتصنيع، بشكل مترابط يسهل عليك اتخاذ القرارات بناء على بيانات متكاملة لمنشأتك، بكل يسر وأمان ومن كل مكان، سواءا أكنت في المنزل أم في المكتب أم في نزهة مع أسرتك، وذلك عن طريق أجهزة الحوسبة العادية كالمحمول والهاتف الذكي والكمبيوتر اللوحي (كالآيباد مثلا).</p>
           
                <div id="attachment_5337" style="width: 679px" class="wp-caption aligncenter"><a href="https://dafater.sa/wp-content/uploads/sites/4/2017/11/main-dafater-screen-6.jpg" target="_blank"><img aria-describedby="caption-attachment-5337" class="wp-image-5337 size-large" src="https://dafater.sa/wp-content/uploads/sites/4/2017/11/main-dafater-screen-6.jpg" alt="ما هو نظام “تخطيط موارد المؤسسات (ERP)" width="669" height="323"></a><p id="caption-attachment-5337" class="wp-caption-text">ما هو نظام “تخطيط موارد المؤسسات (ERP)</p></div>
           
                <p dir="RTL">وعلى سبيل المثال لا الحصر، سوف تساعدك <b>دفـاتــر</b> أيضا على:</p>
                <ul dir="RTL"><li>تتبع جميع الفواتير والمدفوعات.</li><li> معرفة الكمية المتاحة من منتج ما في المخازن.</li><li> التعرف على استفسارات العملاء المفتوحة.</li><li> إدارة الرواتب.</li><li> تعيين المهام ومتابعتها.</li><li> الحفاظ على قاعدة بيانات لجميع العملاء والموردين وبيانات الاتصال بهم.</li><li> إعداد قوائم الأسعار.</li><li> الحصول على تذكيرات بشأن مواعيد الصيانة.</li><li>نشر موقعك على شبكة الانترنت.</li></ul>
           
            </div>
           </div>
        </div>
        
        <div id="sidebar" class="sidebar fusion-widget-area fusion-content-widget-area side-nav-right">

            <ul class="side-nav" style="text-align: right;">

                <li>
                    <a href="#" title="Back to Parent Page">دليل الإستخدام</a>
                </li>

                <li class="page_item page-item-1306 current_page_item">
                    <a href="#" aria-current="page" class="acticve">مقدمة</a>
                </li>

                <li class="page_item page-item-1308 page_item_has_children ">
                    <a aria-haspopup="true" class=" a_parent" (click)="toggle()"> <i class=" arrow fas fa-arrow-left"></i> إعداد الخمس أيام</a>
                    <ul class="children" style="display: block;" *ngIf="sub_ul == true">

                        <li class="page_item page-item-1310">
                            <a href="">اليوم الأول: إعدادات العميل والصنف والمورد</a>
                        </li>
                        <li class="page_item page-item-1310">
                            <a href="">اليوم الأول: إعدادات العميل والصنف والمورد</a>
                        </li>
                        <li class="page_item page-item-1310">
                            <a href="">اليوم الأول: إعدادات العميل والصنف والمورد</a>
                        </li>
                        <li class="page_item page-item-1310">
                            <a href="">اليوم الأول: إعدادات العميل والصنف والمورد</a>
                        </li>
                        <li class="page_item page-item-1310">
                            <a href="">اليوم الأول: إعدادات العميل والصنف والمورد</a>
                        </li>
                    </ul>
                </li>
                <li class="page_item page-item-1306 current_page_item">
                    <a href="#" aria-current="page" class="">مقدمة</a>
                </li>
                <li class="page_item page-item-1306 current_page_item">
                    <a href="#" aria-current="page" class="">مقدمة</a>
                </li>
                <li class="page_item page-item-1306 current_page_item">
                    <a href="#" aria-current="page" class="">مقدمة</a>
                </li>
                <li class="page_item page-item-1306 current_page_item">
                    <a href="#" aria-current="page" class="">مقدمة</a>
                </li>
                <li class="page_item page-item-1306 current_page_item">
                    <a href="#" aria-current="page" class="">مقدمة</a>
                </li>

            </ul>

        </div>
    </div>
</div>
      </main>