
<section class="back  ">
    <div class="container d-flex position-relative align-items-center">
        <div class="row mt-5">
            <div class="col-md-8">
                <h2>الشراكة مع Dynamic</h2>
                <p class="text-white pt-3">افتح لك آفاقا جديدة لزيادة إيراداتك بالانضمام معنا في برنامج شركاء Dynamic. نحن نبحث باستمرار عن شركاء توزيع متخصصين، فإذا كنت أحد الشركات المتخصصة في تقديم حلول الأعمال الصغيرة، كأجهزة نقاط البيع، أجهزة الحضور والانصراف، أجهزة الحاسب الآلي والشبكات أو تلك المتخصصة في الحلول السحابية فسنسعد بالحديث معك واستكشاف فرص النمو سويا.</p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid man float-left" src="assets/image/group-2.png">
            </div>
        </div>
    </div>
</section>
<main class="py-5">
        
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12 text-center first">
          <img src="assets/image/pic-grahpics2-2.png" class="img-fluid">

       </div>
        <div class="col-md-5 col-sm-12 model">
            <div class="text d-flex justify-content-between">
                <div>-------------</div>
                <h2>نموذج التسجيل</h2>
                <div>-------------</div>
            </div>

         <form>
           <div class="form-group">
             <label for="exampleInputText1"><span>*</span>الاسم</label>
             <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textlHelp">
           </div>

           <div class="form-group">
             <label for="exampleInputText1">اسم الشركة / المؤسسه</label>
             <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textlHelp">
           </div>

           <div class="form-group">
             <label for="exampleInputText1"><span>*</span>العنوان</label>
             <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textlHelp">
           </div>

           <label for="exampleInputText1"><span>*</span>رقم الإتصال + البلد</label>
           <div class="input-group mb-3">
             <div class="input-group-prepend">
               <select class="custom-select" id="inputGroupSelect01">
                 <option selected>Choose...</option>
                 <option value="1">One</option>
                 <option value="2">Two</option>
                 <option value="3">Three</option>
               </select>
             </div>
             <input type="text" class="form-control" aria-label="Text input with dropdown button">
           </div>


           <div class="form-group">
             <label for="exampleInputEmail1"><span>*</span>بريدك الإلكتروني</label>
             <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            
           </div>



           <div class="form-group">
             <label for="exampleFormControlSelect1"><span>*</span> عدد الموظفين</label>
             <select class="form-control" id="exampleFormControlSelect1">
               <option>1</option>
               <option>2</option>
               <option>3</option>
               <option>4</option>
               <option>5</option>
             </select>
           </div>



           <div class="form-group">
             <label for="exampleFormControlTextarea1"> رؤيتك</label>
             <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
           </div>



           <div class="form-group">
             <label for="exampleInputText1"><span>*</span>اكتب رمز التحقق الظاهر في الصورة </label><br>
             <img src="assets/image/3466227143.png" class="img-fluid">
             <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textlHelp">
           </div>
           <div class="text-center">
           <input type="submit" value="سجّل إهتمامك" class="wpcf7-form-control wpcf7-submit">

           </div>
          
         </form>

        </div>

    

      </div>

    </div>
 

   </main>
    

