
      <main >
        <div class="background">
          <img src="assets/image/services22.jpg"> 
          <div class="transbox">
          </div>
          <div class="transbox1">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <img style="width: 170px; " src="assets/image/services.svg" class="img-fluid man position-relative">

              </div>
              <div class="col-md-8 col-sm-12 dafater">
                <h3> حقق الفائدة القصوى من Dynamic ERP من خلال خدماتنا الاحترافية </h3>
                <p> لقد صممت Dynamic لتكون سهلة الاستخدام والتطبيق، وفرنا لك معها دليلا للإعداد والتهيئة بالإضافة لدليل مستفيض للاستخدام، وذلك حتى تقوم بتجهيزها بنفسك واستخدامها كما يروق لك، ولكن لأننا ندرك وجود فئة من العملاء تريد توفير الوقت والجهد، قمنا بتوفير هذه الخدمات الإضافية.</p>

             </div>

            </div>

          </div>
        </div></div>

        <div class="container">
          <div class="row gears">
          <div class="col-md-2">
            <img src="assets/image/gears.svg" class="img-fluid">

          </div>
          <div class="col-md-4 gears2 container">
            <div class="card ccard">
              <div class="card-body">
                <h2> خدمة الإعداد والتهيئة</h2>
            <p>نقوم فيها بضبط الإعدادات القياسية لبرامج الخدمة ورفع معلوماتك الأساسية في مختلف البرامج التي اشتركت فيها بحسب معطياتك وذلك لتتمكن من الشروع في استخدام Dynamic مباشرة.</p>

                
              </div>
            </div>
          </div>
         
          <div class="col-md-4 gears1 container">
            <div class="card ccard">
              <div class="card-body">
            <h2> خدمة التدريب</h2>
            <p> نوفر لك خيارات تدريبية متنوعة لاحتراف إستخدام خدمة Dynamic في حال إختيارك لخيار التدريب عن بعد ، يرجى منك تحميل آخر اصدار من برنامج التدريب عن بعد المعتمد لدينا Team Viewer من خلال النقر على الزر التالي</p>

</div></div>
          </div>
          <div class="col-md-2">
            <img src="assets/image/pages-title-icons-erp..svg" class="img-fluid">

          </div>

        </div></div>


        <div class="choice"><h3>خيارات التدريب على استخدام خدمة Dynamic للعملاء المشتركين</h3></div>



        <div class="container">
          <div class="row">
            <div class="col-md-4 map">
              <img src="assets/images/map.png" class="img-fluid">
              <h4>تدريب في مقركم</h4>
              <p>يوم تدريبي كامل ( لمدة 6 ساعات ) بدون حد أقصى من الموظفين في مقر شركتكم ، يشمل اليوم التدريبي تعلم كيفية استخدام كل اجزاء الخدمة التي اشتركت فيها وكيفية تجهيزها ورفع البيانات الخاصة بك.</p>
              <span>للعملاء داخل السعودية *</span>
            </div>

            <div class="col-md-4 map">
              <img src="assets/images/users.png" class="img-fluid">
              <h4>  تدريب شخصي</h4>
              <p> يوم تدريبي لعدد 6 موظفين كحد أقصى في مركز Dynamic بعدد جلستين تدريبيتين في يومين مختلفين مدة كل جلسة 3 ساعات . التدريب يشمل تعلم كيفية استخدام كل اجزاء الخدمة التي اشتركت فيها وكيفية تجهيزها ورفع البيانات الخاصة بك.</p>
              <span> التدريب يتم بمقر Dynamic بمدينة الرياض *</span>
            </div>


            <div class="col-md-4 map">
              <img src="assets/images/way.png" class="img-fluid">
              <h4> تدريب عن بعد</h4>
              <p>تدريبك أو أي من موظفيك على استخدام كل أجزاء الخدمة التي اشتركت بها ومساعدتك على معرفة طريقة تجهيز الخدمة ورفع البيانات بواقع 4 جلسات تدربيبية في اربعة ايام متفرقة لمدة ساعة ونصف لكل جلسة.​</p>
                  <span>مناسبة لجميع العملاء من اي مكان *</span>

            </div>
          </div>
        </div>
        <div class="role">
          <h3>الشروط والأحكام الخاصة بالتدريب</h3>
          <p> يمكنك الإطلاع على ملف الشروط والاحكام الخاصة بالتدريب من خلال تحميل ملف الشروط والاحكام <a href="#">من هنا</a></p>
        </div>

        <div class="container">
          <div class="row gears pb-5">
          <div class="col-md-2">
            <img src="assets/image/DEVICES.svg" class="img-fluid">

          </div>
          <div class="col-md-4 gears2 container">
            <div class="card ccard">
              <div class="card-body">
                <h2>خدمة التخصيص</h2>
            <p>نقوم فيها بضبط الإعدادات القياسية لبرامج الخدمة ورفع معلوماتك الأساسية في مختلف البرامج التي اشتركت فيها بحسب معطياتك وذلك لتتمكن من الشروع في استخدام Dynamic مباشرة.</p>

                
              </div>
            </div>
          </div>
         
          <div class="col-md-4 gears1 container">
            <div class="card ccard">
              <div class="card-body">
            <h2>خدمة التطبيق </h2>
            <p> نوفر لك خيارات تدريبية متنوعة لاحتراف إستخدام خدمة Dynamic في حال إختيارك لخيار التدريب عن بعد ، يرجى منك تحميل آخر اصدار من برنامج التدريب عن بعد المعتمد لدينا Team Viewer من خلال النقر على الزر التالي</p>

</div></div>
          </div>
          <div class="col-md-2">
            <img src="assets/image/screen.svg" class="img-fluid">

          </div>

        </div></div>


 
       
       
      </main>

     