
<section class="back  ">
    <div class="container d-flex position-relative align-items-center">
        <div class="row mt-5">
            <div class="col-md-8">
                <h2>ابحث عن أقرب موزع لتحصل على الخدمة</h2>
                <p class="text-white pt-3">نحرص في Dynamic على أن نتأكد من أن Dynamic ستحقق لك ما ترجوه، وأن تقوم بالتجربة الكاملة والحصول على إجابة كل استفساراتك بشكل شخصي قبل أن تبدأ معنا. بإمكانك تجربة الخدمة وأنظمتها بشكل كامل من خلال مشروع تجريبي مصغر (PoC) أو حساب مجاني يجهز لك لتجري عليه عمليات تجريبية أو حتى حجز أحد استشاريي الحلول المحاسبية المتوفرين لدينا للإجابة على ما تشاء، وذلك بعد إدخال بياناتك أدناه.</p>
            </div>
            <div class="col-md-4">
                <img style="width: 170px;" class="img-fluid man float-left" src="assets/image/call.svg">
            </div>
        </div>
    </div>
</section>
<section class="info p-5">
    <div class="container">
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputText4">الاسم الكريم <span>*</span></label>
                <input type="text" class="form-control" id="inputText4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4"> إسم المنشأة <span>*</span></label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
            </div>
           
          </form>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputText4">بريدك الإلكتروني الخاص بالعمل <span>*</span></label>
                <input type="text" class="form-control" id="inputText4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">  رقم الهاتف + البلد <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">0100 123 4567</option>
                    <option>Egypt</option>
                    <option>Ecuador</option>
                    <option>Domainiance</option>
                    <option>Seria</option>

                  </select>              </div>
            </div>
           
          </form>
  
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="validationCustom04"> المنصب <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                  <option selected disabled value="">---</option>
                  <option>صاحب العمل</option>
                  <option> المدير التنفيذي</option>
                  <option> المدير التقني</option>
                  <option> المدير المالي</option>
                  <option>مدير التشغيل </option>
                  <option> محاسب  </option>
                  <option> مدير الموارد البشرية</option>
                  <option>مدير التسويق </option>
                  <option>مدير المشروع </option>
                  <option>مدير المبيعات </option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="validationCustom04">نوع النشاط <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">---</option>
                    <option> دعاية وإعلان</option>
                    <option>  خدمات تسويق</option>
                    <option>  زراعة</option>
                    <option> تجزئه </option>
                    <option> شركة تقنية </option>
                    <option> تعليم  </option>
                    <option>   طاقة</option>
                    <option>خدمات  </option>
                    <option>هندسة  </option>
                    <option> مالية </option>
                    <option> مواد غذائية (مصنع) </option>
                    <option> مواد غذائية (توزيع) </option>
                    <option> حكومة </option>
                    <option> خدمات طبيه </option>
                    <option> عقار </option>
                    <option> غير ربحي </option>
                    <option> خدمات لوجيستيه ونقل </option>
                    <option> مطاعم   </option>
                    <option> اتصالات   </option>
 
                  </select>
              </div>
            </div>
           
          </form>

          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="validationCustom04"> عدد الموظفين <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                  <option selected disabled value="">---</option>
                  <option> 1 - 5</option>
                  <option> 6 - 49 </option>
                  <option> 50 -  249 </option>
                  <option>  أكثر من 250</option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="validationCustom04"> كيف سمعت عنا <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">---</option>
                    <option>  إعلان على الأنترنت</option>
                    <option>  المطبوعات </option>
                    <option>  بريد إلكتروني</option>
                    <option> معرض / مؤتمر </option>
                    <option> الأصدقاء والأقارب  </option>
                    <option> مدونة Dynamic  </option>
                    <option>   الأخبار والصحف</option>
                    <option>البرامج الاذاعية  </option>
                    <option>محركات البحث  </option>
                    <option> الشبكات الإجتماعية </option>
                    <option> مذود الخدمة / موزع   </option>
                    <option> ويبينار </option>
                    <option> عروض تجارية </option>
                     
                  </select>
              </div>
            </div>
           
          </form>

          <form >
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="validationCustom04"> هل لديك حساب  <span>*</span></label>
                <select class="custom-select " id="validationCustom04" >
                  <option selected disabled value="">نعم</option>
                  <option> نعم</option>
                  <option> لا</option>
                  
                </select>
              </div>
            
            </div>
           
          </form>
          <form>
              <div class="form-row check">
                  <div class="form-group col-md-12">
                      <p>نوع إحتياجك <span>*</span></p>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">محاسبة ومالية</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">إدارة علاقات العملاء</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">تجارة الكترونية</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">إدارة موارد الشركة لديك</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">الموارد البشرية/شؤون الموظفين</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">إدارة الطلبات</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">نقاط البيع</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">أتمتة الخدمات الإحترافية</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">ضريبة القيمة المضافة</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">إدارة المخزون والمستودعات</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">ربط الفروع</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">الفوترة وإدارة المبيعات</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">نقاط البيع وربطها بالنظام المالي</label>
                      </div>
                  </div>
              </div>
          </form>
          <form >
            <div class="form-row pb-5">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">  اكتب رمز التحقق الظاهر في الصورة <span>*</span></label>
                    <div>
                        <img class="img-fluid" src="assets/images/2397937474.png" >
                    </div>
                    <input type="text" class="form-control" id="inputEmail4">
                    <a class="py-3 px-5 position-relative" href="#">إرسال</a>
                  </div>
            
            </div>
           
          </form>
    </div>
</section>
 