<main>

  <div class="background">
    <img class="img-fluid" src="assets/image/crm-software-cover-1.jpg"> 
    <div class="transbox">
    </div>
    <div class="transbox1">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <img style="width: 140px;" src="assets/image/manlamp.svg" class="img-fluid man ">

        </div>
        <div class="col-md-8 col-sm-12 dafater">
          <h3>منظومات الحلول</h3>
          <p class="mt-3">التطبيقات البرمجية هي جزء من الصورة، ماذا عن بقية أجزاء المنظومة التقنية التي تحقق التكامل في عملياتك وتزيد من كفاءتها الانتاجية؟ هذه مجموعة من الحلول المتكاملة لأنشطة مخصصة نهتم بها في Dynamic.</p>

       </div>

      </div>

    </div>
  </div>
</div>

    <div class="taps pt-2 pb-3 cc" >
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
              <li class="nav-item item1 active2" (click)="toggleActive('item1')"  role="presentation">
                <a class="nav-link active container" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">منظومة الحسابات و المالية <i class="fas fa-user p-1"></i></a>
              </li>
              <li class="nav-item item2" (click)="toggleActive('item2')"  role="presentation">
                <a class="nav-link container" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">منظومة كاملة لإداره المستودعات و المخازن<i class="fas fa-archive p-1"></i></a>
              </li>
              <li class="nav-item item3"  (click)="toggleActive('item3')"  role="presentation">
                <a class="nav-link container" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">منظومة كاملة لإداره المشتريات النقديه و الاجله<i class="fas fa-shopping-cart p-1"></i></a>
              </li>
              <li class="nav-item item4" (click)="toggleActive('item4')"  role="presentation">
                <a class="nav-link container" id="contact-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">منظومة كاملة لإداره المبيعات النقديه و الاجله<i class="fas fa-money-bill-alt p-1"></i></a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <img src="assets/images/solution-system-4-four-1.png" class="img-fluid">
                <div class="manzoma">
                  <p><strong>مزايا منظومة الحسابات والمالية</strong></p>
                  <ul>
                    <li>إدارة قيود اليومية</li>
                    <li>إدارة فوتير المبيعات والمشتريات</li>
                    <li>إدارة سندات الصرف والقبض</li>
                    <li>إدارة دليل الحسابات</li>
                    <li>إدارة مراكز التكلفة</li>
                    <li>إدارة التسويات البنكية</li>
                    <li>تسوية الدفعات</li>
                    <li>إدارة الموازنة التقديرية</li>
                    <li>إدارة تحويل العملات</li>
                    <li>إدارة حسابات البنوك</li>
                    <li>إدارة طرق الدفع</li>
                    <li>إدارة إعدادات صناديق ومستودعات البيع</li>
                    <li>إدارة قوالب الشروط والأحكام (عقود البيع والشراء)</li>
                    <li>إدارة سياسات الشحن المالية</li>
                    <li>إدارة دفعات الموردين والعملاء</li>
                    <li>إدارة عمولة شركاء المبيعات</li>
                    <li>إصدار كشوف الحسابات للعملاء والموردين</li>
                    <li>استخراج ميزان المراجعة</li>
                    <li>استخراج القوائم المالية</li>
                    <li>كشف الذمم المدينة</li>
                    <li>كشف الذمم الدائنة</li>
                    <li>سجلات المبيعات والمشتريات النقدية والآجلة</li>
                    <li>التحليلات المالية بمراكز التكلفة</li>
                    <li>العديد من التقارير المالية والمحاسبية</li>
                    <li>مولد تقارير مرن لاستخراج أي تقرير غير متوفر سلفا</li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <img src="assets/images/solution-system-3-three-1.png" class="img-fluid">
                <div class="manzoma">
                <p><strong>مزايا منظومة إدارة المستودعات والمخازن</strong></p>
                  <ul>
                    <li>إدارة مرنة لملفات تعريف الأصناف</li>
                    <li>أصناف بسيطة أو مركبة أو مصنعة</li>
                    <li>تحديد مستويات إعادة الطلب على مستوى المستودع</li>
                    <li>إدارة عمليات الجرد والتقييم للأصناف</li>
                    <li>إدارة تواريخ الانتهاء (Batches) أو الأرقام التسلسلية للأصناف الثمينة</li>
                    <li>إدارة العلامات التجارية وأرقام الباركود</li>
                    <li>إمكانية تحديد مدة التوريد لكل صنف</li>
                    <li>إدارة حزم المواد و وحدات الشراء والتحويل بينها (حبة/درزن/شد/صندوق) إلخ</li>
                    <li>حفظ أرقام المصنعين/الموردين على حدة للأصناف لتسهيل إعادة الطلب</li>
                    <li>تخصيص حدود خصم المبيعات بحسب الصنف</li>
                    <li>متابعة فحص الجودة للأصناف</li>
                    <li>تحديد أصناف التعاقد من الباطن للأصناف التي تنتج عند الطلب خارجيا</li>
                    <li>القدرة على ربط المخزون وبيانات الأصناف بما فيها الصور بالمتجر الإلكتروني</li>
                    <li>إدارة عمليات تسويات المخزون</li>
                    <li>إدارة ملاحظات وأوامر التركيب للأصناف التي تباع مع خدمات التركيب</li>
                    <li>إدارة طلبات المواد</li>
                    <li>إدارة حركات استلام المواد وسندات الاستلام</li>
                    <li>إدارة حركات تسليم المواد وسندات التسليم</li>
                    <li>إدارة حركات مناقلة المخزون أو الصرف الداخلي</li>
                    <li>معالج الكلفة النهائية لحساب التكاليف والرسوم الإضافية كرسوم الشحن والتخليص</li>
                    <li>إدارة قسائم التغليف لمعالجة الشحن والتسليم المجزء لطلبات العملاء</li>
                    <li>تقارير المستودعات والمخزون الرئيسية
                      <ul>
                        <li>دفتر أستاذ المخزون المساعد</li>
                        <li>رصيد المخزون بالكمية والقيمة على مستوى المجموعة والمستودع والمشروع</li>
                        <li>مستويات المخزون بمختلف مراحله (المطلوب من المورد/المتوفر/المحجوز/إلخ) على مستوى المستودع</li>
                        <li>المخزون الراكد</li>
                      </ul>
                    </li>
                    <li>بعض التقارير المساعدة الأخرى:
                      <ul>
                        <li>حركات المخزون بنوع العملية</li>
                        <li>أصناف أوامر الشراء المتوقع تسلمها</li>
                        <li>أسعار الشراء والتقييم بحسب الصنف</li>
                        <li>تقرير العجز للأصناف</li>
                        <li>مستوى إعادة الطلب المقترح بحسب معدل الصرف اليومي للصنف</li>
                        <li>تواريخ انتهاء عقود الصيانة للعملاء بحسب الرقم التسلسلي</li>
                        <li>تواريخ انتهاء الضمان للعملاء بحسب الرقم التسلسلي</li>
                      </ul>
                    </li>
                   
    
                  </ul>
              </div>
                 </div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <img src="assets/images/solution-system-2-two-1.png" class="img-fluid">
                <div class="manzoma">
                  <p><strong>مزايا منظومة المشتريات:</strong></p>
                  <ul>
                    <li>إدارة مركزية لملف المورد من خلال شاشة واحدة
                     <ul>
                       <li>إظهار مجموع الفواتير والمبالغ المستحقة للمورد</li>
                       <li>سجل مراسلات المورد</li>
                       <li>فترة الائتمان الممنوحة من المورد</li>
                       <li>بيانات الاتصال والدفع للمورد</li>
                     </ul>
                    </li>
                    <li>إدارة طلبات المواد وتسعيرات الموردين وأوامر الشراء</li>
                    <li>إدارة رسوم المشتريات كرسوم الشحن والنقل والتخليص إلخ</li>
                    <li>إدارة ضرائب المشتريات مثل ضريبة القيمة المضافة</li>
                    <li>إدارة ضرائب المشتريات مثل ضريبة القيمة المضافة</li>
                    <li>إدارة قوائم أسعار التوريد والموردين</li>
                    <li>إدارة أنواع الموردين لتحليل المشتريات على مستوى نوع المورد</li>
                    <li>إدارة مجموعات الأصناف لتحليل المشتريات على مستوى المجموعة</li>
                    <li>إدارة قوالب شروط وأحكام التوريد المختلفة للموردين</li>
                    <li>تقارير نشاط المشتريات:
                      <ul>
                        <li>تحليل المشتريات بشكل رسومي بحسب قيمة أو كمية الفواتير، سندات الاستلام، أوامر الشراء</li>
                        <li>معرفة الأصناف المطلوبة</li>
                        <li>معرفة طلبات المواد التي لا يتوفر لها أي تسعيرات للموردين</li>
                        <li>معرفة تاريخ المشتريات على مستوى الصنف</li>
                        <li>معرفة اتجاه أوامر الشراء زمنيا</li>
                        <li>معرفة المشتريات قيد النقل</li>
                      </ul>
                    </li>
                  </ul>
                
                </div>
              </div>
              <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <img src="assets/images/solution-system-1-one-1.png" class="img-fluid">
                <div class="manzoma">
                  <p><strong>مزايا منظومة المبيعات:</strong></p>
                  <ul>
                    <li>إدارة مركزية لملف العميل من خلال شاشة واحدة
                      <ul>
                        <li>إظهار مجموع الفواتير والمبالغ المستحقة</li>
                        <li>الفرص المسجلة باسم العميل</li>
                        <li>تسعيرات العميل</li>
                        <li>أوامر بيع العميل</li>
                        <li>سندات التسليم الخاصة بالعميل</li>
                        <li>فواتير مبيعات العميل</li>
                        <i>سجل مراسلات العميل</i>
                        <li>تحديد فريق المبيعات المكلف بالعميل وعمولاته</li>
                        <li>إدارة الحد الائتماني وفترة الائتمان للعميل</li>
                        <li>تحديد قائمة أسعار خاصة بالعميل</li>
                        <li>إدارة نسب خصومات العميل بالصنف أو مجموعة الصنف</li>
                        <li>إدارة بيانات الاتصال بالعميل</li>
                        <li>تحديد إقليم العميل</li>
                      </ul>
                    </li>
                    <li>إدارة فرص المبيعات والتسعيرات وأوامر البيع</li>
                    <li>إدارة شركاء وقنوات التوزيع والأهداف الخاصة بهم بحسب الإقليم مع نسب العمولة</li>
                    <li>إدارة فريق المبيعات (المناديب) والأهداف الخاصة بهم بمجموعة الأصناف والكمية والمبلغ</li>
                    <li>إدارة رسوم المبيعات كرسوم الشحن والنقل والتوزيع</li>
                    <li>إدارة ضرائب المبيعات بمرونة مثل ضريبة القيمة المضافة</li>
                    <li>إدارة قوائم الأسعار وربطها بالمناطق الجغرافية أو أنواع العملاء</li>
                    <li>إدارة قوالب شروط وأحكام المبيعات</li>
                    <li>إدارة قواعد الشحن بتحديد التكلفة للمنطقة وقيمة المبيعات للفاتورة</li>
                    <li>إدارة نقاط البيع وتعريف صناديق النقد ومستودع المتجر</li>
                    <li>إدارة مبيعات جدول المواد للبيع للأصناف المجمعة (الحزم) أو كميات الجملة (الشد/الكرتون/إلخ)</li>
                    <li>إدارة مجموعات الأصناف لتحليل المبيعات بحسب نوع الصنف</li>
                    <li>إدارة مجموعات العملاء لتحليل المبيعات بحسب نوع العميل</li>
                    <li>إدارة أقاليم المبيعات لتحليل المبيعات بحسب الإقليم</li>
                    <li>إدارة حملات المبيعات لربطها بالمبيعات وتحديد فعاليتها</li>
                    <li>تقارير نشاط المبيعات:
                      <ul>
                        <li>تحليل المبيعات بشكل رسومي بحسب قيمة أو كمية الفواتير، سندات التسليم، أوامر البيع</li>
                        <li>معرفة العملاء الخاملين لتنشيط المبيعات من خلال حملات الرسائل القصيرة</li>
                        <li>معرفة اتجاه أوامر البيع صعودا أو نزولا</li>
                        <li>معرفة أوامر البيع المتعلقة ببضائع غير متوفرة قيد الشراء</li>
                        <li>معرفة طلبات المبيعات التي تنتظر التوصيل</li>
                        <li>تاريخ المبيعات على مستوى الصنف</li>
                        <li>أداء مناديب المبيعات بالنسبة لأهداف البيع</li>
                        <li>حركة عمليات مناديب المبيعات لأوامر البيع وسندات التسليم وفواتير المبيعات</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
              
    
          </main>