<section class="home py-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-5 text position-relative">
                <h2 class="pb-3">برنامج إدارة المشتريات</h2>
                <div class="line"></div>
                <p class="text-white pt-3 pb-4">
                    إدر كل ما يتعلق بدورة المشتريات، من بيانات الموردين، مستحقاتهم، ماتم دفعه لهم وما تبقى، كل ما قمت بشراءه يتم تقييده وتصنيفه هنا. برنامج مهم لا غنى عنه لأي إدارة مشتريات متخصصة.</p>
                 <a href="/try" class="text-white py-3 my-5 px-5 rounded">جرب مجانًا الآن</a>
            </div>
            <div class="col-md-7 video">
                <iframe width="560" height="400" src="https://www.youtube.com/embed/-MRFjR3Epiw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</section>
<section class="text-center adva py-5">
    <h2 class="mb-2">مميزات برنامج المشتريات    </h2>
    <div class="line m-auto"></div>
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-3">
              <i class="fas fa-ethernet"></i>
                <h3> الربط بمستودعاتك </h3>
                <p>الربط بمستودعاتك ومخازنك لمعرفة مستويات المخزون واصدار اوامر التوريد او الشراء والتسليم لمستودعات مخصصة</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-sync-alt"></i>
                <h3>دورة المشتريات</h3>
                <p>بداية من عمال مبادرة بيع وانتهاءً بامر البيع وتحويل الفرصة إلى أمر بيع ومن ثم فاتورة دون الحاجة لإعادة أدخال البيانات</p>
            </div>
            <div class="col-md-3">
              <i class="fas fa-file-invoice"></i>
                <h3>فواتير مشتريات مترابطة</h3>
                <p>ادارة دفعات فواتير المشتريات وربطها بالحسابات المالية مباشرة وارتباط فواتير الشراء بسندات الاستلام والتسليم من المستودع</p>
            </div>
            <div class="col-md-3">
                <i class="far fa-star"></i>
                <h3>عروض الاسعار</h3>
                <p> اعداد معلومات الاصناف وقوائم اسعار التوريد بحسب كل مورد وإمكانية طلب التسعيرات بالبريد الالكتروني من البرنامج مباشرة                 </p>
            </div>
        </div>
    </div>
</section>
<section class="more text-center py-5">
    <h2>مزايا إضافية عديدة ستحصل عليها</h2>
    <p class="pt-2 ">يشمل برنامج إدارة شؤون الموظفين السحابي العديد من المزايا والخيارات وسنعرض لك مجموعة منها بحيث يمكنك التأكد من مطابقة خيارات هذا البرنامج إلى متطلبات عملك ونظامك الإداري</p>
     <img class="mt-4" src="assets/images/purchasing-software-screenshot.jpg" alt="">
    <div class="container-fluid">
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
                <i class="fas fa-file-invoice"></i>
                <p>إمكانية تخصيص قوالب شراء للعمليات المتكررة</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-users"></i>
                <p>قاعدة بيانات عناوين الموردين</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-shopping-cart"></i>
                <p>إمكانية طلب تسليم المواد على أوامر شراء مسبقة إلكترونيا</p>
            </div>
            <div class="col-md-2 ">
              <i class="fas fa-comment"></i>
                <p>  تقييد جميع المراسلات مع المورد ورفع مرفقاتها</p>
            </div>
            <div class="col-md-2  ">
                <i class="fas fa-user"></i>
                <p> معرفة حالة فواتير المورد والدفعات المستحقة له من ملفه مباشرة</p>
            </div>
        </div>
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
              <i class="fas fa-shopping-cart"></i>
                <p>ضبط عملية الشراء بمستويات اعتماد مختلفة </p>
            </div>
            <div class="col-md-2 ">
                <i class="far fa-check-square"></i>
                <p> إدارة أوامر الشراء</p>
            </div>
            <div class="col-md-2 ">
                <i class="far fa-money-bill-alt"></i>
                <p>معرفة توجهات أسعار الشراء على أصناف محددة لمراقبة التكاليف</p>
            </div>
            <div class="col-md-2 ">
                <i class="fa fa-truck circle-no"></i>
                <p> مراقبة المشتريات قيد الشحن بحسب حالتها</p>
            </div>
            <div class="col-md-2  ">
                <i class="fas fa-file-invoice"></i>
                <p>إمكانية تخصيص رسوم وضرائب مشتريات للتوريد الدولي</p>
            </div>
        </div>
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
                <i class="fas fa-database"></i>
                <p>قاعدة بيانات الموردين</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-star"></i>
                <p>إدارة تسعيرات الموردين</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-list"></i>
                <p>إدارة جهات الاتصال</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-cog"></i>
                <p> معالج رسوم الشراء</p>
            </div>
            <div class="col-md-2  ">
              <i class="fas fa-users"></i>
                <p>تصنيف مجموعات الموردين </p>
            </div>
        </div>
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
                <i class="fas fa-border-all"></i>
                <p> إدارة مجموعات الأصناف</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-gavel"></i>
                <p>
                    إدارة قوالب الشروط والأحكام</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-file-invoice"></i>
                <p>تحليل المشتريات</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-folder-open"></i>
                <p>أرشفة إلكترونية للوثائق</p>
            </div>
        </div>
      
        
    </div>
</section>



<section class="suitable pt-5">
   <div class="container">
       <div class="row">
           <div class="col-md-4">
               <img class="img-fluid" src="assets/images/man-floded.png" alt="">
           </div>
           <div class="col-md-8 position-relative " style="bottom: 50px;">
               <h2 class="py-3 mt-4">هل برنامج حسابات Dynamic مناسب لشركتي؟</h2>
               <p>إذا كان إجراء الشراء لديك يتعدى بساطة فاتورة المشتريات، وكان على شكل دورة مفصلة بدءً من طلب الشراء إلى أمر الشراء وكنت تحتاج لمراقبة دورة الشراء هذه كاملة فبرنامج مشتريات Dynamic مناسب لك، أو إذا كنت ترغب في أرشفة سجلات الموردين وإدارتها بشكل مركزي بين الفروع المختلفة لأغراض قانونية ونظامية كضريبة القيمة المضافة مثلا، فDynamic مناسب لك جدا.
            </p>
               <p class="pb-3">إذا كانت شركتكم كذلك فننصح بجدولة عرض خاص بك مع أحد استشاريينا وذلك للحديث في كل التفاصيل الأخرى.</p>
                <a class="text-white py-3 rounded px-5" href="/try">جرب برنامج المشتريات مجانا الأن  </a>
            </div>
       </div>
   </div>
</section>
<section class="info p-5">
    <div class="container mb-5 py-3">
        <h2 class="text-center">جرّب مجاناً الآن</h2>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputText4">الاسم الكريم <span>*</span></label>
                <input type="text" class="form-control" id="inputText4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4"> إسم المنشأة <span>*</span></label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
            </div>
           
          </form>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputText4">بريدك الإلكتروني الخاص بالعمل <span>*</span></label>
                <input type="text" class="form-control" id="inputText4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">  رقم الهاتف + البلد <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">0100 123 4567</option>
                    <option>Egypt</option>
                    <option>Ecuador</option>
                    <option>Domainiance</option>
                    <option>Seria</option>

                  </select>              </div>
            </div>
           
          </form>
  
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="validationCustom04"> المنصب <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                  <option selected disabled value="">---</option>
                  <option>صاحب العمل</option>
                  <option> المدير التنفيذي</option>
                  <option> المدير التقني</option>
                  <option> المدير المالي</option>
                  <option>مدير التشغيل </option>
                  <option> محاسب  </option>
                  <option> مدير الموارد البشرية</option>
                  <option>مدير التسويق </option>
                  <option>مدير المشروع </option>
                  <option>مدير المبيعات </option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="validationCustom04">نوع النشاط <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">---</option>
                    <option> دعاية وإعلان</option>
                    <option>  خدمات تسويق</option>
                    <option>  زراعة</option>
                    <option> تجزئه </option>
                    <option> شركة تقنية </option>
                    <option> تعليم  </option>
                    <option>   طاقة</option>
                    <option>خدمات  </option>
                    <option>هندسة  </option>
                    <option> مالية </option>
                    <option> مواد غذائية (مصنع) </option>
                    <option> مواد غذائية (توزيع) </option>
                    <option> حكومة </option>
                    <option> خدمات طبيه </option>
                    <option> عقار </option>
                    <option> غير ربحي </option>
                    <option> خدمات لوجيستيه ونقل </option>
                    <option> مطاعم   </option>
                    <option> اتصالات   </option>
 
                  </select>
              </div>
            </div>
           
          </form>

          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="validationCustom04"> عدد الموظفين <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                  <option selected disabled value="">---</option>
                  <option> 1 - 5</option>
                  <option> 6 - 49 </option>
                  <option> 50 -  249 </option>
                  <option>  أكثر من 250</option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="validationCustom04"> كيف سمعت عنا <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">---</option>
                    <option>  إعلان على الأنترنت</option>
                    <option>  المطبوعات </option>
                    <option>  بريد إلكتروني</option>
                    <option> معرض / مؤتمر </option>
                    <option> الأصدقاء والأقارب  </option>
                    <option> مدونة Dynamic  </option>
                    <option>   الأخبار والصحف</option>
                    <option>البرامج الاذاعية  </option>
                    <option>محركات البحث  </option>
                    <option> الشبكات الإجتماعية </option>
                    <option> مذود الخدمة / موزع   </option>
                    <option> ويبينار </option>
                    <option> عروض تجارية </option>
                     
                  </select>
              </div>
            </div>
           
          </form>

          <form >
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="mb-4 pb-2" for="validationCustom04"> هل لديك حساب  <span>*</span></label>
                <select class="custom-select " id="validationCustom04" >
                  <option selected disabled value="">نعم</option>
                  <option> نعم</option>
                  <option> لا</option>
                  
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputText4"> اكتب رمز التحقق الظاهر في الصورة <span>*</span></label><br>
                <img src="assets/images/2708875120.png" alt="">
                <input type="text" class="form-control" id="inputText4">
              </div>
            
            </div>
           
          </form>
          <a class="text-white py-3 rounded position-relative px-5" href="#">إرسال</a>
          
    </div>
</section>

<section class="programs text-center text-white py-4">
    <h2 class="mt-3"> تعرف ايضا على البرامج الأخرى من Dynamic</h2>
    <div class="container">
      <div class="row no-gutters my-5">
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/accounting">
            <i class="far fa-money-bill-alt"></i>
            <h3 class="my-3"> <a  href="/accounting">برنامج محاسبة</a></h3>
            <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك وإيراداتك</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/employees">
            <i class="fa fa-users circle-no"></i>
            <h3 class="my-3"><a href="/employees">برنامج شؤون الموظفين</a></h3>
            <p>من الحضور والانصراف إلى الرواتب، والاجازات، وكل وثائق الموظفين، برنامج موارد بشرية متوافق مع أنظمة وزارة العمل السعودية بالكامل</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/sales">
            <i class="fa fa-tag circle-no"></i>
            <h3 class="my-3"><a href="/sales">برنامج مبيعات</a></h3>
            <p>أدر دورة البيع من التسعير إلى الفوترة، واربط ما تم تسديده لك بالفواتير الصادرة أو قيد ما تبقى لك على عملائك مع كامل بياناتهم وبيانات تواصلك معهم</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/mushtrayat ">
            <i class="fa fa-shopping-cart circle-no"></i>
            <h3 class="my-3"><a href="/mushtrayat "> نظام المشتريات</a></h3>
            <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك وإيراداتك</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/customers-service">
            <i class="fa fa-phone circle-no"></i>
            <h3 class="my-3"><a href="/customers-service">برنامج خدمة العملاء</a></h3>
            <p>قيد شكاوى العملاء والرد عليها، وجداول الصيانة ومعلومات الضمان وزيارات العملاء بشكل سلس ومركزي</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/dafater-projects">
            <i class="fa fa-puzzle-piece circle-no"></i>
            <h3 class="my-3"><a href="/dafater-projects"> دفتر المشاريع</a></h3>
            <p>هذا البرنامج يساعد المنشآت الخدمية، كشركات المقاولات وخدمات الصيانة من تقييد عدد المهام وساعات العمل على المشاريع وربطها بالعملاء</p>
          </a>
        </div>
    
        
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/manufacturing-program">
            <i class="fa fa-cogs circle-no"></i>
            <h3 class="my-3"><a href="/manufacturing-program">برنامج التصنيع</a></h3>
            <p>إدارة كامل عملية التصنيع للورش والمصانع الصغيرة ومحطات العمل وتدفق المواد الخام والهدر، بكل وضوح وسلاسة</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/Stores">
            <i class="fa fa-truck circle-no"></i>
            <h3 class="my-3"><a href="/Stores"> برنامج مخازن ومستودعات </a></h3>
            <p>متابعة رصيد المخزون وحركة الأصناف، وعمليات الجرد أصبحت سهلة جدا، كل أصنافك مصورة ومرقمة بشكل دقيق ومربوطة بمتجرك الالكتروني</p>
          </a>
        </div>
      </div>
    </div>
   
</section>
 