




      <main>
        <div class="background">
          <img class="img-fluid back" src="assets/image/9.jpg"> 
          <div class="transbox">
          </div>
          <div class="transbox1">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <img style="width: 180px;" src="assets/image/call.svg" class="img-fluid man">

              </div>
              <div class="col-md-8 col-sm-12 dafater">
                <h3>طلب تذكرة دعم فني</h3>
                <p>نقترح الإطلاع على دليل المستخدم والأسئلة الشائعة حيث أنهما يحتويان على الكثير من المعلومات حول تجهيز الخدمة وطريقة إنجاز العديد من المهام. وإذا لم تجد مبتغاك فيمكنك الاتصال على الرقم 920008996 كما يمكن مراسلتنا وفتح تذكرة دعم عبر تعبئة النموذج التالي</p>

             </div>

            </div>

          </div>
        </div>
      </div>



      <div class="container d3m-fany">

        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputText4">الاسم الكريم *</label>
              <input type="text" class="form-control" id="inputText4" placeholder="اسمك">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">البريد الإلكترونى *</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="يفضل البريد اللذى استخدمه فى الاشتراك">
            </div>
          </div>
         
        </form>

        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="validationCustom04">رقم الهاتف + البلد *</label>
              <select class="custom-select" id="validationCustom04" >
                <option selected disabled value="">Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="validationCustom04">نوع الإستفسار *</label>
              <select class="custom-select" id="validationCustom04" >
                <option selected disabled value="">Choose...</option>
                <option>...</option>
              </select>
            </div>
          </div>
         
        </form>

        <form>
          <div class="form-row">
            <div class="form-group col-md-6">

              <fieldset class="form-group">
                <div class="row">
                  <label for="validationCustom04"> مشترك في Dynamic؟ *</label>
                  
                  <div class="col-sm-12">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                      <label class="form-check-label" for="gridRadios1">
                        نعم
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                      <label class="form-check-label" for="gridRadios2">
                       لا
                      </label>
                    </div>
                    
                  </div>
                </div>
              </fieldset>
              
            </div>
            <div class="form-group col-md-6">
              <label for="validationCustom04">رابط الخدمة الخاص بك </label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="https://">
              
            </div>
          </div>
         
        </form>
        <form>
          <div class="form-group">
           


            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">ارفاق ملف او صورة مساندة :</label>
              <div class="col-sm-9">
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            </div>
          </div>
        </form>
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">الإستفسار :</label>
            <input type="text" class="form-control message" id="formGroupExampleInput">
          </div></form>
          <form>
            <div class="form-group">
              <label for="formGroupExampleInput"> كتب رمز التحقق الظاهر في الصورة *</label>
              <input type="text" class="form-control " id="formGroupExampleInput">
            </div></form>
            <button type="button" class="btn btn-primary send mb-5">ارسال</button>

 
      </div>