<section class="home py-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-5 position-relative text">
                <h2 class="pb-3">برنامج إدارة المشاريع</h2>
                <div class="line "></div>
                <p class="text-white pt-3 pb-4">

                    يمكن هذا البرنامج المؤسسات والشركات الخدمية، كشركات المقاولات وخدمات الصيانة من تقييد المشاريع وربطها بالعملاء، وتحديد مراحل المشروع وتقييد المهام وإتاحة تسجيل الوقت المنجز على كل مهمة بحسب أنواع أنشطة محددة مسبقا، كما يمكن المؤسسة من متابعة المخزون والمواد على مستوى المشروع.</p>
                 <a href="/try" class="text-white py-3 my-5 px-5 rounded">جرب مجانًا الآن</a>
            </div>
            <div class="col-md-7 video">
                <iframe width="640" height="400" src="https://www.youtube.com/embed/dvcEyi2Lcz8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
            </div>
    </div>

</section>
<section class="text-center adva py-5">
    <h2 class="mb-4">مميزات برنامج إدارة المشاريع</h2>
    <div class="line m-auto"></div>
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-3">
              <i class="fa fa-user circle-no"></i>
                <h3> إسناد المهام والاعمال</h3>
                <p>ستظهر المهام المسندة بدفتر المهام الخاص بكل موظف ومعرفة تواريخ تحقيقهم لانجاز المهام التي تم تكليفهم بها</p>
            </div>
            <div class="col-md-3">
              <i class="fas fa-lock"></i>
                <h3>تقييد المشاريع وإدراج مهامها </h3>
                <p>تقييد المشاريع الخدمية وربط المهام بها والمواد الخاصة بالمشروع وتسجيل اعداد ساعات العمل والمسؤول عن انجاز المهام</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-cog"></i>
                <h3>مرونه الإسناد للمهام</h3>
                <p>بامكانك اسناد المهام لموظفيك والعكس ، يمكن لموظفيك اسناد مهمه لك او لموظف اخر وإمكانية نقل المهمة بين أكثر من موظف بمرونة كاملة دون فقدان تاريخها
                </p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-file-invoice"></i>
                <h3>ربط المهمة بوثائق برامج Dynamic  </h3>
                <p> ربط المهمة بوثائق البرامج الاخرى كالمحاسبة وبرنامج شؤون الموظفين ورفع الوثائق والمرفقات مع أي مهمة تنجز   </p>
            </div>
        </div>
    </div>
</section>
<section class="more text-center py-5">
    <h2>مزايا إضافية عديدة ستحصل عليها</h2>
    <p class="pt-2 ">يشمل برنامج إدارة شؤون الموظفين السحابي العديد من المزايا والخيارات وسنعرض لك مجموعة منها بحيث يمكنك التأكد من مطابقة خيارات هذا البرنامج إلى متطلبات عملك ونظامك الإداري</p>
     <img class="mt-4" src="assets/images/projects-software-screenshot.jpg" alt="">
    <div class="container-fluid">
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
              <i class="fas fa-cog"></i>
                <p>تحديد أنواع العمليات والأنشطة لتسهيل عملية تسجيل الوقت</p>
            </div>
            <div class="col-md-2 ">
                <i class="far fa-clock"></i>
                <p>إمكانية رفع الساعات المنجزة على المهام ميدانيا من الموظف</p>
            </div>
            <div class="col-md-2 ">
              <i class="fas fa-align-justify"></i>
                <p>عرض مخطط Ghant للمشروع على تقويم العمل</p>
            </div>
            <div class="col-md-2 ">
              <i class="fas fa-list-alt"></i>
                <p>  ربط الساعات المنجزة على المهام والمشروع والتكلفة الاجمالية</p>
            </div>
            <div class="col-md-2  ">
              <i class="fas fa-cubes"></i>
                <p>  إمكانية تتبع المخزون بحسب المشروع</p>
            </div>
        </div>
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
                <i class="fas fa-file-invoice"></i>
                <p>إمكانية رفع الوثائق وإرفاق صورها على مستوى المشروع </p>
            </div>
            <div class="col-md-2 ">
              <i class="fa fa-user circle-no"></i>
                <p>إمكانية ربط المشروع بعميل معين</p>
            </div>
            <div class="col-md-2 ">
                <i class="far fa-money-bill-alt"></i>
                <p>إمكانية تسجيل إجمالي كلفة المشروع ونسبة الربح</p>
            </div>
            <div class="col-md-2 ">
              <i class="fas fa-align-justify"></i>
                <p> إمكانية تحديد عدة مراحل للمشروع الواحد</p>
            </div>
            <div class="col-md-2  ">
              <i class="fas fa-cogs"></i>
                <p>للمؤسسات الخدمية التي ترغب في متابعة تكاليف المشاريع</p>
            </div>
        </div>
             
        
    </div>
</section>



<section class="suitable pt-5">
   <div class="container">
       <div class="row">
           <div class="col-md-4">
               <img class="img-fluid" src="assets/images/man-floded.png" alt="">
           </div>
           <div class="col-md-8 position-relative " style="bottom: 50px;">
               <h2 class="py-3 mt-4">هل برنامج إدارة المشاريع مناسب لي؟</h2>
               <p>يناسب هذا البرنامج الشركات التي ترغب في متابعة تقدم المشاريع بشكل عريض و المصاريف المختلفة المحملة عليها بما في ذلك عدد و تكاليف الساعات المتعلقة بأداء مهام المشروع وفي أي أنواع المهام قضيت، إلا أنه لا يغنيك عن استخدام برامج إدارة المشاريع بالمفهوم التقليدي والمتعارف عليه لتتبع تفاصيل المشروع التنفيذية إذا كنت تبحث عن أكثر من مجرد متابعة إدارية ومالية لمشاريعك.</p>
               <p class="pb-3">إذا كنت مهتما بمعرفة التفاصيل الخاصة ببرنامج المشاريع من Dynamic فقم بحجز استشارتك المجانية لتجربة البرنامج والإجابة على أي استفسار لديك بشأنه.</p>
                <a class="text-white py-3 rounded px-5" href="/try">جرب برنامج إدارة المشاريع مجانا الأن  </a>
            </div>
       </div>
   </div>
</section>
<section class="info p-5">
    <div class="container mb-5 py-3">
        <h2 class="text-center">جرّب مجاناً الآن</h2>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputText4">الاسم الكريم <span>*</span></label>
                <input type="text" class="form-control" id="inputText4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4"> إسم المنشأة <span>*</span></label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
            </div>
           
          </form>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputText4">بريدك الإلكتروني الخاص بالعمل <span>*</span></label>
                <input type="text" class="form-control" id="inputText4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">  رقم الهاتف + البلد <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">0100 123 4567</option>
                    <option>Egypt</option>
                    <option>Ecuador</option>
                    <option>Domainiance</option>
                    <option>Seria</option>

                  </select>              </div>
            </div>
           
          </form>
  
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="validationCustom04"> المنصب <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                  <option selected disabled value="">---</option>
                  <option>صاحب العمل</option>
                  <option> المدير التنفيذي</option>
                  <option> المدير التقني</option>
                  <option> المدير المالي</option>
                  <option>مدير التشغيل </option>
                  <option> محاسب  </option>
                  <option> مدير الموارد البشرية</option>
                  <option>مدير التسويق </option>
                  <option>مدير المشروع </option>
                  <option>مدير المبيعات </option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="validationCustom04">نوع النشاط <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">---</option>
                    <option> دعاية وإعلان</option>
                    <option>  خدمات تسويق</option>
                    <option>  زراعة</option>
                    <option> تجزئه </option>
                    <option> شركة تقنية </option>
                    <option> تعليم  </option>
                    <option>   طاقة</option>
                    <option>خدمات  </option>
                    <option>هندسة  </option>
                    <option> مالية </option>
                    <option> مواد غذائية (مصنع) </option>
                    <option> مواد غذائية (توزيع) </option>
                    <option> حكومة </option>
                    <option> خدمات طبيه </option>
                    <option> عقار </option>
                    <option> غير ربحي </option>
                    <option> خدمات لوجيستيه ونقل </option>
                    <option> مطاعم   </option>
                    <option> اتصالات   </option>
 
                  </select>
              </div>
            </div>
           
          </form>

          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="validationCustom04"> عدد الموظفين <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                  <option selected disabled value="">---</option>
                  <option> 1 - 5</option>
                  <option> 6 - 49 </option>
                  <option> 50 -  249 </option>
                  <option>  أكثر من 250</option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="validationCustom04"> كيف سمعت عنا <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">---</option>
                    <option>  إعلان على الأنترنت</option>
                    <option>  المطبوعات </option>
                    <option>  بريد إلكتروني</option>
                    <option> معرض / مؤتمر </option>
                    <option> الأصدقاء والأقارب  </option>
                    <option> مدونة Dynamic  </option>
                    <option>   الأخبار والصحف</option>
                    <option>البرامج الاذاعية  </option>
                    <option>محركات البحث  </option>
                    <option> الشبكات الإجتماعية </option>
                    <option> مذود الخدمة / موزع   </option>
                    <option> ويبينار </option>
                    <option> عروض تجارية </option>
                     
                  </select>
              </div>
            </div>
           
          </form>

          <form >
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="mb-4 pb-2" for="validationCustom04"> هل لديك حساب  <span>*</span></label>
                <select class="custom-select " id="validationCustom04" >
                  <option selected disabled value="">نعم</option>
                  <option> نعم</option>
                  <option> لا</option>
                  
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputText4"> اكتب رمز التحقق الظاهر في الصورة <span>*</span></label><br>
                <img src="assets/images/3458160271.png" alt="">
                <input type="text" class="form-control" id="inputText4">
              </div>
            
            </div>
           
          </form>
          <a class="text-white py-3 rounded position-relative px-5" href="#">إرسال</a>
          
    </div>
</section>

<section class="programs text-center text-white py-4">
    <h2 class="mt-3"> تعرف ايضا على البرامج الأخرى من Dynamic</h2>
    <div class="container">
      <div class="row no-gutters my-5">
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/accounting">
            <i class="far fa-money-bill-alt"></i>
            <h3 class="my-3"> <a  href="/accounting">برنامج محاسبة</a></h3>
            <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك وإيراداتك</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/employees">
            <i class="fa fa-users circle-no"></i>
            <h3 class="my-3"><a href="/employees">برنامج شؤون الموظفين</a></h3>
            <p>من الحضور والانصراف إلى الرواتب، والاجازات، وكل وثائق الموظفين، برنامج موارد بشرية متوافق مع أنظمة وزارة العمل السعودية بالكامل</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/sales">
            <i class="fa fa-tag circle-no"></i>
            <h3 class="my-3"><a href="/sales">برنامج مبيعات</a></h3>
            <p>أدر دورة البيع من التسعير إلى الفوترة، واربط ما تم تسديده لك بالفواتير الصادرة أو قيد ما تبقى لك على عملائك مع كامل بياناتهم وبيانات تواصلك معهم</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/mushtrayat">
            <i class="fa fa-shopping-cart circle-no"></i>
            <h3 class="my-3"><a href="/mushtrayat"> نظام المشتريات</a></h3>
            <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك وإيراداتك</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/customers-service ">
            <i class="fa fa-phone circle-no"></i>
            <h3 class="my-3"><a href="/customers-service ">برنامج خدمة العملاء</a></h3>
            <p>قيد شكاوى العملاء والرد عليها، وجداول الصيانة ومعلومات الضمان وزيارات العملاء بشكل سلس ومركزي</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/dafater-projects">
            <i class="fa fa-puzzle-piece circle-no"></i>
            <h3 class="my-3"><a href="/dafater-projects"> دفتر المشاريع</a></h3>
            <p>هذا البرنامج يساعد المنشآت الخدمية، كشركات المقاولات وخدمات الصيانة من تقييد عدد المهام وساعات العمل على المشاريع وربطها بالعملاء</p>
          </a>
        </div>
    
        
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/manufacturing-program">
            <i class="fa fa-cogs circle-no"></i>
            <h3 class="my-3"><a href="/manufacturing-program">برنامج التصنيع</a></h3>
            <p>إدارة كامل عملية التصنيع للورش والمصانع الصغيرة ومحطات العمل وتدفق المواد الخام والهدر، بكل وضوح وسلاسة</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/Stores">
            <i class="fa fa-truck circle-no"></i>
            <h3 class="my-3"><a href="/Stores"> برنامج مخازن ومستودعات </a></h3>
            <p>متابعة رصيد المخزون وحركة الأصناف، وعمليات الجرد أصبحت سهلة جدا، كل أصنافك مصورة ومرقمة بشكل دقيق ومربوطة بمتجرك الالكتروني</p>
          </a>
        </div>
      </div>
    </div>
   
</section>
 