
<main class=" pb-5">
  <div class="background">
    <img class="back img-fluid" src="assets/images/manual-1.jpg"> 
    <div class="transbox">
    </div>
    <div class="transbox1">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <img style="width: 150px;" src="assets/image/folders.svg" class="img-fluid man">

        </div>
        <div class="col-md-8 col-sm-12 dafater">
          <h3>  دليل الإستخدام </h3>
          <p> دليل المستخدم هو الخطوة الأولى في التعرف على خدمة Dynamic وكيفية التعامل معها. يمكنك التجول في صفحات الدليل من خلال النقر على أحد الأقسام في الأسفل.</p>

       </div>

      </div>

    </div>
  </div></div>

  <div class="container" >
    <div class="row">
      <div class="col-md-3 cogs" >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="fas fa-cogs"></i>
              <h3>الاعداد</h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3 cogs " >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="far fa-check-circle"></i>
              <h3>التطبيق</h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3 cogs" >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="fas fa-poll-h"></i>
              <h3>إعداد الخمس أيام</h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3 cogs" >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="far fa-address-book"></i>
              <h3>مقدمة</h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

    </div>

  </div>





  <div class="container">
    <div class="row">
      <div class="col-md-3 cogs" >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="fas fa-calculator"></i>
              <h3>المحاسبه</h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3 cogs" >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="fas fa-luggage-cart"></i>
              <h3>المخزون و الجرد</h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3 cogs" >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="fas fa-ticket-alt"></i>
              <h3>الشراء</h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3 cogs" >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="fas fa-percentage"></i>
              <h3>البيع</h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

    </div>

  </div>





  <div class="container">
    <div class="row">
      <div class="col-md-3 cogs" >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="fas fa-globe"></i>
              <h3>إنشاء موقع الويب</h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3 cogs" >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="far fa-star"></i>
              <h3> الدعم </h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3 cogs" >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="fas fa-industry"></i>
              <h3>التصنيع</h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3 cogs" >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="fas fa-user-friends"></i>
              <h3>إداره الموارد البشرية</h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

    </div>

  </div>





  <div class="container">
    <div class="row">
      <div class="col-md-3 cogs" >
       
      </div>

      <div class="col-md-3 cogs" >
       
      </div>

      <div class="col-md-3 cogs" >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="fas fa-book"></i>
              <h3>مكتبة المعرفه</h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3 cogs" >
        <div class="card" routerLink="/ele3dad" style="cursor: pointer;">
          <div class="card-body">
            <a><i class="far fa-lightbulb"></i>
              <h3>أدوات التعاون</h3>
              <p>إن اعداد و تجهيز حسابك فى نظام تخطيط المؤسسات هو بمثابه بدأ شركتك من الصفر</p>
            </a>
          </div>
        </div>

      </div>

    </div>

  
  </div>


  