
body{
    font-family: sky;
    box-sizing: border-box;
}

.background {
  position: relative;
 height: 300px;
}
div.background .back {
  width: 100%;
 height: 100%;
 
}

div.transbox {
  position: absolute;
  opacity: 0.7;
  top:0;
  width: 100%;
  height: 100%;
  
}
div.transbox1 
{
  position: absolute;
  width: 100%;
  top:20%;
 
 
}
.dafater
{
    text-align: right;
    margin-top: 3%;
}
.dafater h3
{
    color: #14A9DE;
    

}
.dafater p
{
  color: #fff;
}



 .cogs
 {
   text-align: center;
   margin-top: 5%;
 }
 .cogs .card a i
 {
   color: #253C8C;
   font-size: 70px;
   margin-bottom: 10%;
 }
 .cogs .card a h3 
 {
  font-size: 18px;
    line-height: 33.354px;
    color: #14A9DE;
    margin-top: 4%;
    margin-bottom: 4%;
 }
 .cogs .card
 {
  background-color: #f4f4f4;
  border: none;
  padding-top: 15%;
  padding-bottom: 15%;
 }
 .cogs .card p
 {
  color: #8d8d8d;
 }

 
.up #button i{
  display: inline-block;
  background-color: #333;
  font-size: 14px;
      padding: 14px 16px;
  text-align: center;
  border-radius: 3px;
  position: fixed;
  bottom: 0;
  left: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.up #button i:hover {
  cursor: pointer;
  background-color: #14A9DE;
}
.up #button i:active {
  background-color: #555;
}
.up #button i.show {
  opacity: 1;
  visibility: visible;
}

 
 @media only screen and (max-width: 800px)
{
  .man
  {
    display : none ;
  }
  div.transbox1 {
   position: absolute;
   width: 100%;
   top:30%;
  
  
 }
 .dafater
 {
     text-align: right;
     margin-top: 2%;
 }
 .dafater h3
 {
     font-size : 22px
     
 }
 .dafater p
 {
   font-size: 16px;
 }
 

}


