<section class="background text-center position-relative">
    <img src="assets/image/2.jpg" class="img-fluid">
    <div class="caption position-absolute">
        <p>موظفة خدمة عملاء – Customer Service Officer</p>
    </div>
</section>
<section class="Form py-5 ">
    <div class=" m-auto form pt-4">
        <h2 class="py-3 text-center">نموذج تقديم وظيفة شاغرة</h2>
        <h3 class="pt-3 pb-4 text-center ">موظفة خدمة عملاء – Customer Service Officer</h3>
        <form class="d-flex justify-content-between mt-3 px-4">
            <div class="form-group ">
              <label for="exampleInputEmail1">الإسم الاول<span>*</span> </label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">إسم العائلة<span>*</span> </label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
        </form>
        <form class="d-flex justify-content-between mt-3 px-4">
            <div class="form-group">
              <label for="exampleInputEmail1"> الجنسية<span>*</span> </label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>السعودية</option>
               
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">تاريخ الميلاد <span>*</span> </label>
              <input type="date" class="form-control" id="exampleInputPassword1">
            </div>
        </form>
        <form class="d-flex px-4 px-4 mt-3 ">
            <div class="form-group w-100 ">
              <label for="exampleInputEmail1"> مكان الإقامة<span>*</span> </label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
        </form>
        <div class="qualif px-4 py-4">المؤهلات العلمية</div>
        <form class="d-flex justify-content-between mt-3 px-4">
            <div class="form-group">
              <label for="exampleInputEmail1"> المؤهل العلمي<span>*</span> </label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>إختر</option>
                <option>دكتوراه</option>
                <option>ماجستير</option>
                <option>بكالوريوس</option>
                <option>دبلوم</option>
                <option>ثانوي</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">التخصص  <span>*</span> </label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
        </form>
        <form class="d-flex justify-content-between mt-3 px-4">
            <div class="form-group">
                <label for="exampleInputPassword1"> الجهة التعليمية <span>*</span> </label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1"> سنة الحصول على المؤهل </label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>إختر</option>
                <option>2020</option>
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>

              </select>
            </div>
            
        </form>
        <div class="qualif px-4 py-4">الخبرات</div>
        <form class="d-flex justify-content-between mt-3 px-4">
            <div class="form-group dist">
                <label for="exampleInputPassword1">المسمى الوظيفي</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-group dist">
                <label for="exampleInputPassword1">الجهة </label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
            <div class="form-group dist">
              <label for="exampleInputEmail1"> عدد سنوات الخبرة </label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>إختر</option>
                <option>مبتدئ</option>
                <option>خبرة من 1-3 سنوات</option>
                <option>خبرة من 4-6 سنوات</option>
                <option>خبرة من 7-10 سنوات</option>
                <option>خبرة أكثر من 10 سنوات</option>
            </select>
            </div>
            
        </form>
        <form class="d-flex justify-content-between mt-3 px-4">
            <div class="form-group dist">
                <label for="exampleInputPassword1">المسمى الوظيفي</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-group dist">
                <label for="exampleInputPassword1">الجهة </label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
            <div class="form-group dist">
              <label for="exampleInputEmail1"> عدد سنوات الخبرة </label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>إختر</option>
                <option>مبتدئ</option>
                <option>خبرة من 1-3 سنوات</option>
                <option>خبرة من 4-6 سنوات</option>
                <option>خبرة من 7-10 سنوات</option>
                <option>خبرة أكثر من 10 سنوات</option>
            </select>
            </div>
            
        </form>
        <form class="d-flex justify-content-between mt-3 px-4">
            <div class="form-group dist">
                <label for="exampleInputPassword1">المسمى الوظيفي</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-group dist">
                <label for="exampleInputPassword1">الجهة </label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
            <div class="form-group dist">
              <label for="exampleInputEmail1"> عدد سنوات الخبرة </label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>إختر</option>
                <option>مبتدئ</option>
                <option>خبرة من 1-3 سنوات</option>
                <option>خبرة من 4-6 سنوات</option>
                <option>خبرة من 7-10 سنوات</option>
                <option>خبرة أكثر من 10 سنوات</option>
            </select>
            </div>
            
        </form>
        <div class="qualif px-4 py-4">اللغات</div>
        <form class="d-flex justify-content-between mt-3 px-4">
            <div class="form-group">
                <label for="exampleInputPassword1">  اللغة <span>*</span> </label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>الإنجليزية</option>  
                  </select>
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">   المستوى <span>*</span> </label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>إختر</option>
                <option>مبتدئ</option>
                <option>جيد</option>
                <option>ممتاز</option>
              </select>
            </div>
            
        </form>
        <div class="qualif px-4 py-4">معلومات الإتصال</div>
        <form class="d-flex justify-content-between mt-3 px-4">
            <div class="form-group">
                <label for="exampleInputPassword1">  رقم الجوال <span>*</span> </label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>الإنجليزية</option>  
                  </select>
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">البريد الإلكتروني<span>*</span> </label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>إختر</option>
                <option>مبتدئ</option>
                <option>جيد</option>
                <option>ممتاز</option>
              </select>
            </div>
            
        </form>
        <div class="qualif px-4 py-4">معلومات إضافية</div>
        <form class="d-flex justify-content-between mt-3 px-4">
            <div class="form-group">
                <label for="exampleInputPassword1">  على رأس العمل؟ </label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>إختر</option>
                    <option>نعم</option>  
                    <option>لا</option> 
                  </select>
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">  مدة الإشعار </label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>إختر</option>
                <option>30 يوم</option>
                <option>أقل من 30 يوم</option>
                <option>أكتر من 30 يوم</option>
              </select>
            </div>
            
        </form>
        <form class="px-4 mt-3">
            <div class="form-group distinctive">
                <label for="exampleFormControlTextarea1">أذكر بإيجاز أي معلومات أو مهارات لم يتم ذكرها أعلاه </label>
                <textarea class="form-control " id="exampleFormControlTextarea1" rows="5"></textarea>
              </div>
        </form>
        <form class="px-4 mt-3" action="/action_page.php">
            <label for="myfile">السيرة الذاتية<span>*</span></label>
            <div style="font-style: italic; font-size: .9em; color: #666666;">أرفق ملف السيرة الذاتية الخاصة بك</div>
            <input class="dis" type="file" id="myfile" name="myfile">
            
          </form>
          <form class="px-4 mt-3" action="/action_page.php">
            <label for="myfile"> مستندات إضافية<span>*</span></label>
            <div style="font-style: italic; font-size: .9em; color: #666666;">أرفق الملفات الإضافية الخاصة بك</div>
            <input class="dis" type="file" id="myfile" name="myfile">
            
          </form>
          <div  class="px-4 text-center w-100 px-4"> 
              <div class="py-3 mt-4 rounded" style="background-color:#25ACC0 ">
                <a href="/submit"> إرسال الطلب</a>
              </div>
          </div>
    </div>
</section>
 