<div class="background">
    <img class="img-fluid back" src="assets/image/8.jpg"> 
    <div class="transbox">
    </div>
    <div class="transbox1">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <img style="width: 180px;" src="assets/image/call.svg" class="img-fluid man">

        </div>
        <div class="col-md-9 col-sm-12 dafater">
          <h3>  تواصل معنا  </h3>
          <p>يمكنك التواصل معنا في Dynamic وإرسال الإستفسارات من خلال نموذج الإتصال بنا الموجود بالأسفل، وسيتم الرد عليك في أقرب وقت ممكن، إذا كنت تريد تجربة Dynamic يمكنك إرسال
              <a style="color: #24b2c7; text-decoration: none;" href="/try"> طلب تجربة مجاناً</a>
          </p>

       </div>

      </div>

    </div>
  </div>
</div>
<section class="form py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="dash"></div>
                    <h2 class="">نموذج الإتصال</h2>
                    <div class="dash"></div>
                </div>
                <form>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="inputText4">الاسم الكريم <span>*</span></label>
                        <input type="text" class="form-control" id="inputText4" placeholder="إسمك">
                      </div>
                      <div class="form-group col-md-12">
                        <label for="inputEmail4">البريد الإلكترونى <span>*</span></label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="عنوان بريد يستقبل رسائل">
                      </div>
                      <div class="form-group col-md-12">
                        <label for="validationCustom04">رقم الهاتف + البلد <span>*</span></label>
                        <select class="custom-select" id="validationCustom04" >
                          <option selected disabled value="">0100 12304567</option>
                          <option>Egypt</option>
                          <option>Ecuador</option>
                        </select>
                      </div>
                      <div class="form-group col-md-12">
                        <label for="inputEmail4"> الموضوع <span>*</span></label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="عنوان بريد يستقبل رسائل">
                      </div>
                      <div class="form-group col-md-12">
                        <label for="exampleFormControlTextarea1"> الرسالة<span>*</span></label>
                        <textarea class="form-control " id="exampleFormControlTextarea1" rows="5"></textarea>
                      </div>
                      <div class="form-group col-md-12">
                        <re-captcha (resolved)="resolved($event)" siteKey="6LcHHtYZAAAAAOAExR0K3tJrbwEKkz1vpXRTu2Vg"></re-captcha>

                      </div>
                      <a class="text-white py-3 px-5 mt-3 send">ارسال</a>
                    </div>
                    
                  </form>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="dash"></div>
                    <h2 class="">العنوان </h2>
                    <div class="dash"></div>
                </div>
                <div class="text">
                    <h3>الفرع الرئيسي</h3>
                <p>6875 الشيخ حسن بن حسين بن علي – حي اشبيلية الرياض 13225 – 2502، المملكة العربية السعودية</p>
                 <p>الرقم الموحد: 920008996</p>
                </div>
                 <div class="text mt-4">
                    <h3>فرع مصر</h3>
                    <p>22 شارع دسوق، متفرع من شارع الامام بالقرب من ميدان الاسماعيلية, مصر الجديدة، القاهرة</p>
              
                 </div>
                 </div>
        </div>
    </div>
</section>
 