   <main id="main_Content">
        <div class="background">
          <img src="assets/image/advanced-features.jpg"> 
          <div class="transbox">
          </div>
          <div class="transbox1">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <img style="width: 110px;" src="assets/image/cup.svg" class="img-fluid man">

              </div>
              <div class="col-md-8 col-sm-12 dafater">
                <h3>Dynamic مميزات </h3>
                <p>نستعرض لك مجموعة من المزايا والوظائف الرائعة في نظام Dynamic الجديد، نظام Dynamic مليء بالخواص والمزايا وفي هذه الصفحة نستعرض جزء منها، يمكنك الإطلاع عليها في الأسفل وهي مقسمة على شكل مجموعات لتسهل عليك تنصيفها والوصول إلى ما تحتاجه بسهولة</p>

             </div>

            </div>

          </div>
        </div></div>
        <div class="gawla">
          <img style="width: 150px;" src="assets/image/collaborationw.svg" class="img-fluid">
          <h1>منصة تعاون وتشارك</h1>
          <p class="container">تعاون أفراد المنشأة في إنجاز مهامها وأعمالها وقدرتهم على التشارك في مجريات كل وثيقة يعملون عليها مع أفراد المنظمة هو أحد المزايا المهمة التي تتيحها لك Dynamic في كامل برامجها المختلفة، فكل سجل رقمي في Dynamic يتم التعامل معه كوثيقة يمكن إجراء العمليات التالية عليها، وذلك حتى لا يفقد أفراد شركتك المرونة الورقية التي تعودوا عليها.</p>

        </div>
        <div class="triangle-down"></div>



        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12 tkleef">
              <img src="assets/images/11.png" class="img-fluid">
              <p class="tkleef2">الإسناد والتكليف</p>
              <p class="tkleef1">أي سجل أو وثيقة بالإمكان إسنادها لأي مستخدم آخر، حيث سيصله تنبيه بخصوصها وتظهر له في قائمة المهام عند دخوله على Dynamic، مع القدرة على متابعة كل الوثائق التي قام المستخدم بإسنادها للآخرين من خلال شاشة قائمة المهام التي توضح له أيضا ما أسند إليه للعمل عليه، كل ذلك مع مراعاة منظومة الصلاحيات الخاصة بالمستخدم حتى لا يرى إلا ما يسمح له برؤيته بحسب نظام الصلاحيات في المنشأة، وهذه الخاصية مفيدة في حال إسناد وثيقة بالخطأ لشخص لا يحق له الاطلاع عليها، وهي طريقة جيدة للتعرف على أنواع الصلاحيات التي تحتاج لضبط بعد البدء في تطبيق Dynamic.</p>


            </div>

            <div class="col-md-6 col-sm-12 tkleef">
              <img src="assets/images/13.png" class="img-fluid">
              <p class="tkleef2">التعليق والتوسيم </p>
              <p class="tkleef1"> كما كنا نستطيع التعليق على أي ورقة وكتابة ملاحظاتنا عليها لنقرأها لاحقا أو ينتبه لها من يلينا في العمل عليها، بإمكانك أن تكتب تعليقك على أي وثيقة في Dynamic، أو وضع توجيهك أو ردك بخصوص محتوياتها، كما بإمكان بقية المتعاملين مع الوثيقة وضع تعليقاتهم أيضا مع حفظ تسلسل الملاحظات وتواريخ كتابتها ومن قام بها، أما التوسيم فهو أحد الخصائص التي من خلالها يمكن وضع وسم أو عدة وسوم على أي وثيقة ليسهل الرجوع لها لاحقا. تماما كما كنا نفعل باللواصق الملونة التي نضعها على ملفاتنا الورقية.</p>


            </div>

          </div>

        </div>



        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12 tkleef">
              <img src="assets/images/14.png" class="img-fluid">
              <p class="tkleef2">الأرشفة الإلكترونية </p>
              <p class="tkleef1">تتيح هذه الميزة إمكانية إضافة عدد لا محدود من المرفقات لأي وثيقة أو سجل في Dynamic. المرفقات المسموح بإرفاقها هي ملفات الصور بأنواعها الشهيرة، أو البي دي إف PDF، مع العلم بأن مساحة التخزين الخاصة بكل عميل يمكن زيادتها بحسب الحاجة، مقابل تكاليف إضافية رمزية. هذه الميزة مهمة جدا لحفظ كامل صور ملفات المنشأة سواء الخاصة بها كصور التراخيص أو بموظفيها كالجوزات أو بعملياتها كصور فواتير الموردين.</p>


            </div>

            <div class="col-md-6 col-sm-12 tkleef">
              <img src="assets/images/12.png" class="img-fluid">
              <p class="tkleef2">محرك إجراءات العمل (Workflow) </p>
              <p class="tkleef1"> Dynamic في صلبها ما هي إلا مجموعة كبيرة من الإجراءات المطبقة على أنواع الوثائق الشائعة والمهمة لأي منظمة، وهذا التطبيق الافتراضي لأي إجراء يكون على مستويين، إنشاء وحفظ (أولا) ثم اعتماد (ثانيا). محرك إجراءات العمل هو إحدى المزايا المهمة في Dynamic والتي تمكن المنشأة من تخصيص مسار أي من هذه الإجراءات لتصبح أكثر تفصيلاً وتوائم بيئة العمل فيها، ليصبح ممكنا مثلا، إنشاء ذات الوثيقة وحفظها (أولا)، ثم الموافقة عليها (ثانيا)، ثم اعتمادها (ثالثا) من قبل أشخاص مختلفين في كل مرة. بإمكانكم تخصيص الإجراءات في Dynamic كما يروق لكم وبحسب بيئة عمل المنشأة.</p>


            </div>

          </div>

        </div>


        <div class="gawla1">
          <img style="width: 160px;" src="assets/image/hands.svg" class="img-fluid">
          <h1>الربط والتكامل</h1>
          <p class="container">من المهم لأي نظام إدارة إلكتروني لشؤون المنشأة أن يكون منفتحا على أنظمة وبرامج العالم الخارجي، والتي عادة ما تكون متخصصة في أمور خارج إطار عمل أنظمة الـ ERP القياسية. Dynamic تتميز بقدرتها على الارتباط بالعديد من الأنظمة الخارجية و التكامل مع الأجهزة الضرورية لعمل المنشأة.</p>

        </div>
        <div class="triangle-down1"></div>


       <div class="container">

        <div class="row">
          <div class="col-md-6 col-sm-12 tkleef">
            <img style="width: 26%;" src="assets/image/20.svg" class="img-fluid">
            <h3>قنوات الدفع الالكتروني</h3>
            <p class="tkleef1">هل ترغب في أن يقوم عملائك بتسديد فواتيرك التي ترسلها لهم بشكل إلكتروني عن طريق الإيميل لتصلك مستحقاتك في حسابك البنكي مباشرة؟ تمكنك خاصية الربط بقنوات الدفع الإلكتروني المحلية من ذلك. نعمل مع مزودي خدمات الدفع الالكتروني الشهيرين في منطقة الشرق الأوسط مثل PayFort و HyperPay بالإضافة لحساب سداد المقدم من مؤسسة النقد العربي السعودي في المملكة العربية السعودية. </p>
          </div>

          <div class="col-md-6 col-sm-12 tkleef">
            <img style="width: 30%;" src="assets/image/21.svg" class="img-fluid">
            <h3>الربط بأجهزة نقاط البيع</h3>
            <p class="tkleef1">يمكن لDynamic الارتباط مع برامج أجهزة نقاط البيع الشائعة في قطاع التجزئة، وذلك بغرض رفع فواتير المبيعات إلى الإدارة المالية في المنشأة ليتم متابعة العمل في منافذ التجزئة والبيع بشكل سلس ولحظي. وبغض النظر عن النظام التي تستخدمه منشأتك فإن Dynamic -غالبا- بإمكانها العمل معها إما بشكل افتراضي أو بشكل مخصص عند تطبيقك لDynamic. تأكد من الحديث مع مستشارك من Dynamic عن هذه النقطة إذا ما كانت تهمك لمعرفة التفاصيل. كما يمكن لDynamic أيضا قراءة سجلات الحضور والانصراف من الأجهزة المخصصة لذلك وذلك لبعض العلامات التجارية الشائعة مثل ZKTeco. </p>
          </div>

        </div>

       </div> 
       <div class="container">

        <div class="row">
          <div class="col-md-6 col-sm-12 tkleef">
            <img style="width: 50%;" src="assets/image/api.svg" class="img-fluid">
            <h3>مكتبة الربط البرمجي (API)</h3>
            <p class="tkleef1"> يتوفر في Dynamic مكتبة ربط برمجي متكاملة تساعد مطوريك في ربط برامجك المحلية أيا كانت بمعلومات منشأتك المالية والإدارية على Dynamic، كما يمكننا التنسيق نيابة عنك مع أي جهة خارجية تطور لك أنظمة خاصة بهدف التمكين الأقصى لمنشأتك في متطلباتها البرمجية المختلفة. </p>
          </div>

          <div class="col-md-6 col-sm-12 tkleef">
            <img style="width: 42%" src="assets/image/designdafaterbillpay-1-min.svg" class="img-fluid">
            <h3>بوابة الرسائل القصيرة</h3>
            <p class="tkleef1">Dynamic تمكن من التواصل مع عملائك وموظفين من خلال نظام الرسائل القصيرة SMS من خلال حساب خاص بك يمكنك من تعبئة رصيده بالقدر والعدد الذي تريده من الرسائل بأسعار الرسائل الأساسية دون تكاليف إضافية من Dynamic. هذه الخاصية مهمة أيضا لترويج بضائعك وخدماتك لقائمة عملائك. </p>
          </div>

        </div>

       </div> 


       <div class="gawla11">
        <img width="140px" src="assets/image/shield.svg" class="img-fluid">
        <h1> أمن المعلومات</h1>
        <p class="container">استخدام النظم السحابية أصبح آمنا من خلال تقنيات أمن المعلومات المتقدمة والتي تساعد على المحافظة على بياناتك من السرقة أو الضياع. نطبق في Dynamic أحدث هذه التقنيات إيمانا بأن ثقتكم هي العملة المهمة في تعاملكم معنا.</p>

      </div>
      <div class="triangle-down11"></div>


      <div class="container">

        <div class="row">
          <div class="col-md-6 col-sm-12 tkleef5">
            <img style="width: 42%;" src="assets/image/ssl.svg" class="img-fluid">
            <h3>التشفير الكامل (SSL)</h3>
            <p class="tkleef1"> تتيح لك هذه الخاصية انتقال معلوماتك من مراكز بيانات Dynamic وأجهزتها الخادمة إلى متصفح الإنترنت الذي تستخدمه بشكل مشفر مما يصعب اختراق هذه البيانات عند انتقالها وحركتها خلال شبكة الانترنت وصولا إليك. تستخدم هذه التقنية عادة من قبل العديد من الأنظمة الحساسة كالأنظمة العسكرية أو البنكية. </p>
          </div>

          <div class="col-md-6 col-sm-12 tkleef5">
            <img style="width: 20%;" src="assets/image/otp.svg" class="img-fluid">
            <h3>كلمات سر المرة الواحدة (OTP)</h3>
            <p class="tkleef1">إحصل على مستوى آمن للدخول على بياناتك يوازي الأنظمة والتطبيقات البنكية التي تقوم بإرسال كلمات سر نصية على رقم الجوال (الهاتف المتحرك) الخاص بالمستخدم في كل مرة يستخدم فيها موظفوك النظام، وهي خاصية بإمكانك فرضها على كل المستخدمين أو بعضهم بحسب ما تقتضيه مصلحة المنشأة. </p>
          </div>

        </div>

       </div> 



       <div class="container">

        <div class="row tkleef55">
          <div class="col-md-6 col-sm-12 tkleef5">
            <img style="width: 45%;"  src="assets/image/advanced backup.svg" class="img-fluid">
            <h3>النسخ الاحتياطي المتقدم</h3>
            <p class="tkleef1">نقوم بعمليات النسخ الاحتياطي المتقدم على وحدات تخزين منفصلة لبيانات كل منشأة على حدة بشكل يمكننا من استرجاعها مشفرة في حال مسحت أو تم تغييرها بقصد أو بدون، وذلك كل 3 أيام مع إمكانية تقليل هذه الفترة بحسب ما تقتضيه ظروف المنشأة وحاجتها مقابل تكاليف رمزية إضافية. </p>
          </div>

          <div class="col-md-6 col-sm-12 tkleef5">
            <img style="width:38%;" src="assets/image/backup.svg" class="img-fluid">
            <h3>النسخ الاحتياطي الشخصي</h3>
            <p class="tkleef1">نؤمن بأن بياناتك في Dynamic هل ملك لك، تستطيع نقلها وحفظها بأي طريقة تشاء، لذلك أتحنا لك خاصية بإمكانك من خلالها نسخ قواعد بياتك في Dynamic على خدمات التخزين السحابية الشهيرة مثل دروب بوكس وقوقل درايف وذلك بالفترة والتكرار الذي يناسبك، مرة كل ساعة أو كل أسبوع مثلا. </p>
          </div>

        </div>

       </div> 


       <div class="gawlaa">
        <img  style="width: 8%;" src="assets/image/magnifierw.svg" class="img-fluid">
        <h1>قوة الكبار ومرونة الصغار</h1>
        <p class="container">أن تكون المنشأة صغيرة يعني أن تبقى مرنة خفيفة غير مثقلة بالتعقيدات الإدارية وأن تكون بقوة الكبار يعني أن تمتلك من التقنيات ما يساعدها على المنافسة تماما كما ينافس الكبار دون الحاجة لدفع كل تلك التكاليف الباهضة لامتلاك هذه التقنيات.</p>

      </div>
      <div class="triangle-down"></div>




      <div class="container">

        <div class="row">
          <div class="col-md-6 col-sm-12 tkleef555">
            <img style="width: 30%;" src="assets/image/collaboration.svg" class="img-fluid">
            <h3 class="multi">متعدد الأنشطة</h3>
            <p class="tkleef1"> مهما كان نوع نشاط شركتك، التجزئة، أو الخدمات، أو التصنيع، أو مبيعات الجملة والتوزيع، يمكنك إدارتها من Dynamic، كما يمكنك من إدارة أكثر من شركة بأكثر من نشاط مختلف مما يوفر لك المرونة التي تحتاجها من نظامك الإداري والمالي المثالي. </p>
          </div>

          <div class="col-md-6 col-sm-12 tkleef555">
            <img style="width: 33%;" src="assets/image/multi-company.svg" class="img-fluid">
            <h3>متعدد الشركات</h3>
            <p class="tkleef1">تتيح لك Dynamic إمكانية إدارة أكثر من شركة أو منشأة من نفس الحساب، مع إبقاء بيانات كل منشأة منفصلة كحساباتها الرئيسية أو بيانات الموظفين أو غيرها من البيانات الأخرى، وذلك لا يعني بأن صلاحيات الاطلاع على هذه البيانات متاح للجميع وإنما بحسب ما تقوم بتكييفه أنت بما يتناسب وبيئة العمل لديك. </p>
          </div>

        </div>

       </div> 
       


       <div class="container">

        <div class="row">
          <div class="col-md-6 col-sm-12 tkleef555">
            <img style="width:35%;" src="assets/image/services.svg" class="img-fluid">
            <h3 class="multi"> التخصيص الكامل</h3>
            <p class="tkleef1"> يمكنك تخصيص جميع الشاشات والنماذج وإجراءات العمل ومخرجاتها المطبوعة في Dynamic وذلك لتتوافق مع ذوقك و هوية شركتك وبيئة عملها الخاصة، كما يمكن مقابل مبلغ إضافي يدفع لمرة واحدة من تصميم أي نوع من الوثائق أو الإجراءات التي لا تشملها Dynamic وتحتاجها منشأتك. </p>
          </div>

          <div class="col-md-6 col-sm-12 tkleef555">
            <img style="width: 25%;" src="assets/image/otp.svg" class="img-fluid">
            <h3>صلاحيات مرنة ومحكمة</h3>
            <p class="tkleef1">اضبط صلاحيات المستخدمين المختلفين بحسب أدوارهم المختلفة بحسب الشركة أو النشاط، فنفس الشخص يمكنه تأدية أدوار مختلفة بصلاحيات مختلفة من نفس الحساب في أكثر من شركة بشكل مرن وسهل الإعداد. </p>
          </div>

        </div>

       </div> 


       <div class="gawla1">
        <img src="assets/images/money-business.png" class="img-fluid">
        <h1>مزايا هامة أخرى</h1>
        <p class="container">Dynamic منصة إدارية ومالية شاملة صممت للمنشأة العصرية وروعي فيها العديد من المزايا الهامة التي تسهل عملها. هذه بعض منها.</p>

      </div>
      <div class="triangle-down1"></div>





      <div class="container">

        <div class="row">
          <div class="col-md-6 col-sm-12 tkleef555">
            <img style="width: 35%;" src="assets/image/language.svg" class="img-fluid">
            <h3 class="multi"> واجهة متعددة اللغات</h3>
            <p class="tkleef1">  يمكن استخدام Dynamic باللغتين العربية والانجليزية مع القدرة على التنقل اللحظي لوجهة الاستخدام بين اللغتين </p>
          </div>

          <div class="col-md-6 col-sm-12 tkleef555">
            <img style="width: 27%;" src="assets/image/legal-1.svg" class="img-fluid">
            <h3>محرك المطابقة القانونية</h3>
            <p class="tkleef1"> لا داعي لمتابعة وثائق المنشأة القانونية الآن بشكل يدوي، إذ تساعدك هذه الميزة على متابعة تواريخ وصلاحية كامل وثائق المنشأة الإدارية والقانونية المهمة كالسجلات التجارية ورخص البلدية وغيرها، لتصلك أو الأشخاص المعنيين تنبيهات تنوه بضرورة تجديدها ومتابعتها </p>
          </div>

        </div>

       </div> 

       <div class="container">

        <div class="row">
          <div class="col-md-6 col-sm-12 tkleef555">
            <img style="width: 25%;" src="assets/image/notification.svg" class="img-fluid">
            <h3 class="multi">  محرك إشعارات وتنبيهات</h3>
            <p class="tkleef1"> يمكنك من خلال هذه الأداة ربط عدد لا محدود من التنبيهات والاشعارات عن طريق الرسائل البريد الالكتروني بأي حدث أو تاريخ في أي وثيقة من وثائق المنشأة، كتواريخ تسديد الفواتير أو استلام المشتريات أو تسليم الطلبيات للعملاء. </p>
          </div>

          <div class="col-md-6 col-sm-12 tkleef555">
            <img width="33%" src="assets/image/pages-title-icons-erp..svg" class="img-fluid">
            <h3>تقارير تحليل الأعمال (BI)</h3>
            <p class="tkleef1">توفر لك Dynamic نوعين من تقارير تحليل (ذكاء) الأعمال. النوع القياسي وهو متوفر في Dynamic المحاسبة، المبيعات، المشتريات، المخزون و الدعم الفني، كما توفر إمكانية للربط ببرامج ذكاء الأعمال المتقدمة مثل مايكروسوفت بي آي MicrosoftBI. </p>
          </div>

        </div>

       </div> 

       <div class="container">
         <div style="direction: rtl;" class="row reports">
          <div class="col-md-6">
            <img style="width: 25%; right: 40%;" class="position-relative" src="assets/image/pages-title-icons-erp.svg">

          </div>
           <div class="col-md-6 text">
             <h3 >مولد التقارير العام</h3>
             <p>إيمانا بأهمية التقارير وتنوع احتياجاتها لدى المنظمة، وفرنا في Dynamic مولد تقارير مرن يمكن من خلاله استخراج أي معلومة يحتاجها مستخدم النظام، مع إمكانية حفظ هذه التقارير لاستخدامها لاحقا دون الحاجة لإعادة تصميمها. يتيح لك مولد التقارير إمكانية اختيار أي جدول في أي برنامج واختيار الأعمدة التي ترغب في إظهارها في التقرير وترشيح (فلترة) المخرجات ومن ثم تصدير البيانات المستخرجة عند تنفيذ التقرير بصيغة ملفات إكسل لتقوم بمعالجتها وإخراجها بالشكل الذي تحب.</p>

           </div>

          


         </div>

       </div>

 
       
       
      </main>

     
