<section class="home py-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-5 position-relative text">
                <h2 class="pb-3">برنامج إدارة علاقات العملاء</h2>
                <div class="line "></div>
                <p class="text-white pt-3 pb-4">
                    يتيح لك هذا البرنامج تتبع شكاوى العملاء وجدوال الصيانة ومعلومات الضمان بشكل سلس ومركزي. كما يمكن موظفيك من رفع تقارير زيارات الدعم والصيانة وحفظها للرجوع لها في أي لحظة.
تواصل مع عملائك من خلال النشرات الإخبارية بالبريد الالكتروني، أو قم بتقييد كافة المراسلات مع العملاء وتاريخ المكالمات الواردة أو الخارجة من منشأتك.</p>
                 <a href="/try" class="text-white py-3 my-5 px-5 rounded">جرب مجانًا الآن</a>
            </div>
            <div class="col-md-7 video">
                <iframe width="560" height="400" src="https://www.youtube.com/embed/M1qUjmPG6bU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            </div>
        </div>
    </div>

</section>
<section class="text-center adva py-5">
    <h2 class="mb-4">مميزات برنامج إدارة علاقات العملاء</h2>
    <div class="line m-auto"></div>
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-3">
              <i class="fas fa-warehouse"></i>
                <h3> تابع شكاوى عملائك</h3>
                <p>تابع تاريخ المشكلة منذ البداية من خلال تذاكر الدعم واسند مهمة الدعم لاحد موظفيك بحسب تخصصه بمنشأتك</p>
            </div>
            <div class="col-md-3">
              <i class="fas fa-copy"></i>
                <h3>تقارير الدعم</h3>
                <p>تابع بسهولة سلامة وسلاسة الدعم الفني من خلال تقرير موحد ورسم بياني يوضح لك حالة الدعم الفني وخدمة العملاء</p>
            </div>
            <div class="col-md-3">
              <i class="fab fa-gg-circle"></i>
                <h3>زيارات الصيانة</h3>
                <p>تعرف على حالة زيارات الصيانه للعملاء وهل انجزت بشكل كامل ام جزئي وارفق ملفات او مذكرات لتسهل العمل في الزيارات المستقبلية للصيانه     </p>
            </div>
            <div class="col-md-3">
              <i class="fas fa-border-none"></i>
                <h3>جداول الصيانة  </h3>
                <p> نظم مواعيد الزيارات مع عملائك وانشئ جدول الزيارات الملائم و الخاص بك وتعرف على مواعيد الصيانه القادمه الخاصة بك في أي وقت              </p>
            </div>
        </div>
    </div>
</section>
<section class="more text-center py-5">
    <h2>مزايا إضافية عديدة ستحصل عليها</h2>
    <p class="pt-2 ">يشمل برنامج إدارة شؤون الموظفين السحابي العديد من المزايا والخيارات وسنعرض لك مجموعة منها بحيث يمكنك التأكد من مطابقة خيارات هذا البرنامج إلى متطلبات عملك ونظامك الإداري</p>
     <img class="mt-4" src="assets/images/crm-software-screenshot.jpg" alt="">
    <div class="container-fluid">
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
              <i class="fas fa-desktop"></i>
                <p>واجهة سهلة الاستخدام مع توفر شروحات</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-chart-area"></i>
                <p>سهولة طباعة الاحصائيات والبيانات والتقارير</p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-check"></i>
                <p>واجهة عربية 100% مع دعم للغة الانجليزية واللغات الأخرى</p>
            </div>
            <div class="col-md-2 ">
              <i class="fas fa-sitemap"></i>
                <p>  امكانية الدخول من اي مكان واي جهاز متصل بالانترنت</p>
            </div>
            <div class="col-md-2  ">
                <i class="fas fa-external-link-alt"></i>
                <p>  البرنامج متاح لك 24/7</p>
            </div>
        </div>
        <div class="row no-gutters  pt-4">
           
            <div class="col-md-2 ">
                <i class="fas fa-external-link-alt"></i>
                <p>امكاتية استيراد وتصدير البيانات من والى البرامج الاخرى </p>
            </div>
            <div class="col-md-2 ">
                <i class="fas fa-comment"></i>
                <p> اضافة تعليقات وملاحظات ووسم للقيود والمعاملات لتسهيل المتابعة وتنظيم العمل</p>
            </div>
            <div class="col-md-2 ">
                <i class="fa fa-users circle-no"></i>
                <p>بالامكان اعطاء صلاحيات محدوده او شاملة لموظفيك ومن ترغب</p>
            </div>
            <div class="col-md-2 ">
              <i class="fas fa-lock"></i>
                <p> البيانات تحفظ على الخادم الخاص بك وتنقل منه لمتصفحك بشكل مشفر وذلك لضمان سرية بياناتك بإذن الله</p>
            </div>
            <div class="col-md-2  ">
                <i class="fa fa-user circle-no"></i>
                <p>لا غنى عنه لتقديم مستوى خدمة راق بدون تعقيد</p>
            </div>
        </div>
             
        
    </div>
</section>



<section class="suitable pt-5">
   <div class="container">
       <div class="row">
           <div class="col-md-4">
               <img class="img-fluid" src="assets/images/man-floded.png" alt="">
           </div>
           <div class="col-md-8 position-relative " style="bottom: 50px;">
               <h2 class="py-3 mt-4">هل برنامج حسابات Dynamic مناسب لشركتي؟</h2>
               <p>أولا هذا البرنامج جزء من مهام علاقات العملاء، فبالإضافة إلى المهام التي يقدمها دفتر المبيعات، هذا البرنامج مناسب للشركات التي يهمها تقديم خدمات الضمان أو الدعم والمساندة لمنتجاتها وتتبع حالات الرد على العميل في أي شكوى أو قضية يقدمها، فإذا كانت لديك إدارة معنية بتتبع طلبات التركيب أو الصيانة أو الدعم للعملاء وجدولة الزيارات العادية والدورية وتحتاج لترتيب كل هذه الأمور فهذا البرنامج مناسب لك.</p>
               <p class="pb-3">إذا كانت هذه الصفات تنطبق على شركتكم فننصحك بجدولة عرض خاص بك مع أحد استشاريينا وذلك للحديث في كل التفاصيل الأخرى.</p>
                <a class="text-white py-3 rounded px-5" href="/try">جرب برنامج خدمة العملاء مجانا الأن  </a>
            </div>
       </div>
   </div>
</section>
<section class="info p-5">
    <div class="container mb-5 py-3">
        <h2 class="text-center">جرّب مجاناً الآن</h2>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputText4">الاسم الكريم <span>*</span></label>
                <input type="text" class="form-control" id="inputText4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4"> إسم المنشأة <span>*</span></label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
            </div>
           
          </form>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputText4">بريدك الإلكتروني الخاص بالعمل <span>*</span></label>
                <input type="text" class="form-control" id="inputText4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">  رقم الهاتف + البلد <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">0100 123 4567</option>
                    <option>Egypt</option>
                    <option>Ecuador</option>
                    <option>Domainiance</option>
                    <option>Seria</option>

                  </select>              </div>
            </div>
           
          </form>
  
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="validationCustom04"> المنصب <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                  <option selected disabled value="">---</option>
                  <option>صاحب العمل</option>
                  <option> المدير التنفيذي</option>
                  <option> المدير التقني</option>
                  <option> المدير المالي</option>
                  <option>مدير التشغيل </option>
                  <option> محاسب  </option>
                  <option> مدير الموارد البشرية</option>
                  <option>مدير التسويق </option>
                  <option>مدير المشروع </option>
                  <option>مدير المبيعات </option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="validationCustom04">نوع النشاط <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">---</option>
                    <option> دعاية وإعلان</option>
                    <option>  خدمات تسويق</option>
                    <option>  زراعة</option>
                    <option> تجزئه </option>
                    <option> شركة تقنية </option>
                    <option> تعليم  </option>
                    <option>   طاقة</option>
                    <option>خدمات  </option>
                    <option>هندسة  </option>
                    <option> مالية </option>
                    <option> مواد غذائية (مصنع) </option>
                    <option> مواد غذائية (توزيع) </option>
                    <option> حكومة </option>
                    <option> خدمات طبيه </option>
                    <option> عقار </option>
                    <option> غير ربحي </option>
                    <option> خدمات لوجيستيه ونقل </option>
                    <option> مطاعم   </option>
                    <option> اتصالات   </option>
 
                  </select>
              </div>
            </div>
           
          </form>

          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="validationCustom04"> عدد الموظفين <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                  <option selected disabled value="">---</option>
                  <option> 1 - 5</option>
                  <option> 6 - 49 </option>
                  <option> 50 -  249 </option>
                  <option>  أكثر من 250</option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="validationCustom04"> كيف سمعت عنا <span>*</span></label>
                <select class="custom-select" id="validationCustom04" >
                    <option selected disabled value="">---</option>
                    <option>  إعلان على الأنترنت</option>
                    <option>  المطبوعات </option>
                    <option>  بريد إلكتروني</option>
                    <option> معرض / مؤتمر </option>
                    <option> الأصدقاء والأقارب  </option>
                    <option> مدونة Dynamic  </option>
                    <option>   الأخبار والصحف</option>
                    <option>البرامج الاذاعية  </option>
                    <option>محركات البحث  </option>
                    <option> الشبكات الإجتماعية </option>
                    <option> مذود الخدمة / موزع   </option>
                    <option> ويبينار </option>
                    <option> عروض تجارية </option>
                     
                  </select>
              </div>
            </div>
           
          </form>

          <form >
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="mb-4 pb-2" for="validationCustom04"> هل لديك حساب  <span>*</span></label>
                <select class="custom-select " id="validationCustom04" >
                  <option selected disabled value="">نعم</option>
                  <option> نعم</option>
                  <option> لا</option>
                  
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputText4"> اكتب رمز التحقق الظاهر في الصورة <span>*</span></label><br>
                <img src="assets/images/1570959324.png" alt="">
                <input type="text" class="form-control" id="inputText4">
              </div>
            
            </div>
           
          </form>
          <a class="text-white py-3 rounded position-relative px-5" href="#">إرسال</a>
          
    </div>
</section>

<section class="programs text-center text-white py-4">
    <h2 class="mt-3"> تعرف ايضا على البرامج الأخرى من Dynamic</h2>
    <div class="container">
      <div class="row no-gutters my-5">
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/accounting">
            <i class="far fa-money-bill-alt"></i>
            <h3 class="my-3"> <a  href="/accounting">برنامج محاسبة</a></h3>
            <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك وإيراداتك</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/employees">
            <i class="fa fa-users circle-no"></i>
            <h3 class="my-3"><a href="/employees">برنامج شؤون الموظفين</a></h3>
            <p>من الحضور والانصراف إلى الرواتب، والاجازات، وكل وثائق الموظفين، برنامج موارد بشرية متوافق مع أنظمة وزارة العمل السعودية بالكامل</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/sales">
            <i class="fa fa-tag circle-no"></i>
            <h3 class="my-3"><a href="/sales">برنامج مبيعات</a></h3>
            <p>أدر دورة البيع من التسعير إلى الفوترة، واربط ما تم تسديده لك بالفواتير الصادرة أو قيد ما تبقى لك على عملائك مع كامل بياناتهم وبيانات تواصلك معهم</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/mushtrayat ">
            <i class="fa fa-shopping-cart circle-no"></i>
            <h3 class="my-3"><a href="/mushtrayat "> نظام المشتريات</a></h3>
            <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك وإيراداتك</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/customers-service">
            <i class="fa fa-phone circle-no"></i>
            <h3 class="my-3"><a href="/customers-service">برنامج خدمة العملاء</a></h3>
            <p>قيد شكاوى العملاء والرد عليها، وجداول الصيانة ومعلومات الضمان وزيارات العملاء بشكل سلس ومركزي</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/dafater-projects">
            <i class="fa fa-puzzle-piece circle-no"></i>
            <h3 class="my-3"><a href="/dafater-projects"> دفتر المشاريع</a></h3>
            <p>هذا البرنامج يساعد المنشآت الخدمية، كشركات المقاولات وخدمات الصيانة من تقييد عدد المهام وساعات العمل على المشاريع وربطها بالعملاء</p>
          </a>
        </div>
    
        
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/manufacturing-program">
            <i class="fa fa-cogs circle-no"></i>
            <h3 class="my-3"><a href="/manufacturing-program">برنامج التصنيع</a></h3>
            <p>إدارة كامل عملية التصنيع للورش والمصانع الصغيرة ومحطات العمل وتدفق المواد الخام والهدر، بكل وضوح وسلاسة</p>
          </a>
        </div>
    
        <div class="col-md-3 mt-2">
          <a class="big-link" href="/Stores">
            <i class="fa fa-truck circle-no"></i>
            <h3 class="my-3"><a href="/Stores"> برنامج مخازن ومستودعات </a></h3>
            <p>متابعة رصيد المخزون وحركة الأصناف، وعمليات الجرد أصبحت سهلة جدا، كل أصنافك مصورة ومرقمة بشكل دقيق ومربوطة بمتجرك الالكتروني</p>
          </a>
        </div>
      </div>
    </div>
   
</section>
 