<div class="home">
  <div id="carouselExampleInterval" class="carousel slide" data-interval="false" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active position-relative first d-flex justify-content-center">
        <img src="assets/image/ecollect-bg-dafater11-1.jpg" class="d-block w-100" alt="...">
        <div class="container caption position-absolute  mx-auto">
          <div class="row">
            <div class="col-md-6  d-flex justify-content-center">
              <img class="img-fluid pay position-relative animated slideInUp bigImg"
                style="opacity: 0; position: relative; right: -50px; "
                src="assets/images/designdafaterbillpay-1-min.png">
            </div>
            <div class="col-md-6 ">
              <img class="img-fluid mb-4 collect  lft_50" src="assets/img/logoDd.png">
              <h1 class="text-white head lft_50">Start Getting Paid Faster</h1>
              <p class="text-white mb-5 text lft_250">Automate your accounts receivable with eCollect from Dynamic and
                increase your cashflow</p>
              <a class="text-white read rounded px-4 py-2 button" href="#"
                style="opacity: 0; position: relative; left: -50px; ">Read More</a>
            </div>

          </div>

        </div>
      </div>
      <div class="carousel-item position-relative second" data-interval="false">
        <img src="assets/image/slide-bg04.jpg" class="d-block w-100" alt="...">
        <div class="caption2 w-50 container position-absolute text-center centrate">
          <div class="text-white details w-50 m-auto p-2 first_Text"
            style="right: -300px; position: relative; opacity: 0;">أهتم بالتفاصيل التجارية</div>
          <div class="text-white mt-2 p-2 second_text" style="left: -300px; position: relative; opacity: 0;">وأترك لنا
            التفاصيل التقنية لإدارة منظومة تطبيقاتك الأساسية من Dynamic</div>
        </div>
      </div>
      <div class="carousel-item position-relative third">
        <img src="assets/image/slide-bg05.jpg" class="d-block w-100" alt="...">
        <div class="container caption3 position-absolute">
          <p class="w-50 p-3 text-center text-white big_text" style=" position: relative; opacity: 0; top: -55px; ">حقق
            التكامل التشغيلي بين الإدارات المختلفة في شركتك</p>
        </div>
      </div>
      <div class="carousel-item position-relative fourth">
        <img src="assets/image/7.jpg" class="d-block w-100" alt="...">
        <div class="container caption4 position-absolute">
          <p class="w-75 p-3 text-center text_fourth" style="top: -300px; position: relative; opacity: 0;"> زد من كفاءة
            عمليات الإنتاج باستخدام برنامج إدارة التصنيع من Dynamic</p>
        </div>
      </div>
      <div class="carousel-item position-relative fifth">
        <img src="assets/image/10.jpg" class="d-block w-100" alt="...">
        <div class="container caption4 position-absolute">
          <p class="w-75 p-3 text-center fifth_text" style="right: -300px; position: relative; opacity: 0;"> تقارير
            تحليلية إدارية قياسية ومتقدمة لإدارة عميقة لمنشأتك</p>
        </div>
      </div>
      <div class="carousel-item position-relative 6th">
        <img src="assets/image/shutterstock_218740615.jpg" class="d-block w-100" alt="...">
        <div class="container caption5 position-absolute">
          <p class="w-50 p-3 text-center 6th_text" style="right: -300px; position: relative; opacity: 0;"> حقق النمو
            الذي تطمح له وأدره بكفاءة </p>
        </div>
      </div>
      <div class="carousel-item position-relative 7th">
        <img src="assets/image/6.jpg" class="d-block w-100" alt="...">
        <div class="caption6  container position-absolute text-center">
          <div class="text-white pranch py-3 px-1 text1_7th" style="top: -300px; position: relative; opacity: 0;"> إربط
            فروعك بطريقة آمنة</div>
          <div class="text-white information mt-2 py-3 px-1 text2_7th"
            style="bottom: -300px; position: relative; opacity: 0;"> وأتح المعلومة الحية للجميع لحظيا</div>
        </div>
      </div>
      <div class="carousel-item position-relative 8th">
        <img src="assets/image/slide-3.jpg" class="d-block w-100" alt="...">
        <div class="container caption7 position-absolute">
          <p class=" px-1 py-3 text-white text-center 8th_text" style="bottom: -80px; position: relative; opacity: 0;">
            أدر عدة شركات من حساب واحد</p>
        </div>
      </div>
      <div class="carousel-item position-relative 9th">
        <img src="assets/image/slide-1.jpg" class="d-block w-100" alt="...">
        <div class="caption6 container position-absolute text-center">
          <div class="text-white plan py-3 px-1 text1_9th" style="top: -300px; position: relative; opacity: 0;">تخطيط +
            إدارة + رقابة</div>
          <div class="text-white contain mt-2 py-3 px-1 text2_9th"
            style="bottom: -300px; position: relative; opacity: 0;">شاملة لمنشأتك مالياً وإدارياً</div>
        </div>
      </div>
      <div class="carousel-item position-relative 10th">
        <img src="assets/images/slider1-1.png" class="d-block w-100" alt="aaaa">
        <div class="caption8 position-absolute ">
          <div class="container">
            <div class="row no-gutters">
              <div class="col-md-6 ">
                <div class="container">
                  <p class="d1 mt-5 pt-4 head1_10th" style="top: -200px; position: relative; opacity: 0;">منصة الإدارة
                    المتكاملة من Dynamic</p>
                  <p class="d2 head2_10th" style="top: -300px; position: relative; opacity: 0;">الوسيلة الأمثل لاتخاذ
                    قرارك الأفضل</p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="images ">
                  <img class="img-fluid small small1 position-relative img2_10th"
                    style="right: -200px; position: relative; opacity: 0;" src="assets/images/Macbook-slider.png">
                  <img class="img-fluid big img1_10th " style="opacity: 0;" src="assets/images/iMac-slider.png">
                  <img class="img-fluid small small2 position-relative img3_10th"
                    style="left: -200px; position: relative; opacity: 0;" src="assets/images/iPad-slider.png">
                </div>
              </div>
            </div>
            <div class="mt-5  position-relative">
              <img class="img-fluid mt-5 pt-4 small_1_img_10th" style="top: -200px; position: relative; opacity: 0;"
                src="assets/images/Group-9.png">
              <div class="depart position-absolute">
                <img class="img-fluid mt-5 pt-4 dept position-relative small_2_img_10th"
                  style="bottom: -200px; position: relative; opacity: 0;" src="assets/images/1-3.png">
                <img class="img-fluid mt-5 pt-4 dep mb-3 small_3_img_10th"
                  style="top: -200px; position: relative; opacity: 0;" src="assets/images/2-1.png">
                <img class="img-fluid mt-5 pt-4 dept position-relative small_4_img_10th"
                  style="bottom: -200px; position: relative; opacity: 0;" src="assets/images/3-2.png">
                <img class="img-fluid mt-5 pt-4 dep mb-3 small_5_img_10th"
                  style="top: -200px; position: relative; opacity: 0;" src="assets/images/4-2.png">
                <img class="img-fluid mt-5 pt-4 dept position-relative small_6_img_10th"
                  style="bottom: -200px; position: relative; opacity: 0;" src="assets/images/5-1.png">
                <img class="img-fluid mt-5 pt-4 mb-3 dep small_7_img_10th"
                  style="top: -200px; position: relative; opacity: 0;" src="assets/images/6-2.png">
                <img class="img-fluid mt-5 pt-4 dept position-relative small_8_img_10th"
                  style="bottom: -200px; position: relative; opacity: 0;" src="assets/images/7-1.png">
              </div>


            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item position-relative 11th">
        <img src="assets/image/pos-bg2-1.jpg" class="d-block w-100" alt="...">
        <div class="caption9 text-center position-absolute m-auto w-100">
          <img class="img-fluid img-solve" src="assets/img/logoDd.png"
            style="right:-200px; position: relative; opacity: 0;">
          <h2 class="head-solve" style="left: -200px; position: relative; opacity: 0;">حل التجزئة المتكامل </h2>
          <p class="mb-4 pt-2 pragrph-solve" style="right:-200px; position: relative; opacity: 0;">Dynamic التجزئة
            توفرلك كل ما تحتاجه بشكل مترابط في مجال البيع بالتجزئة من<br> خلال ربط الكاشير مع نظام قوي وآمن </p>
          <a href="#" class=" rounded py-2 px-5 text-white link-solve"
            style="top:-200px; position: relative; opacity: 0;">أقرأ المزيد</a>
          <div class="img">
            <img class="img-fluid mt-3 img2-solve" src="assets/image/4.png"
              style="bottom:-200px; position: relative; opacity: 0;">
          </div>
        </div>
      </div>


    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" (click)="animateIt()" role="button"
      data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" (click)="animateIt()"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" (click)="animateIt()"
      data-slide="next">
      <span class="carousel-control-next-icon" (click)="animateIt()" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="exper py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid" src="assets/images/overview_dafater_erp_3-2.png">
      </div>
      <div class="col-md-6">
        <h2 class="mb-4">آفاقك التجارية أقرب مما تتخيل</h2>
        <span>شركتك + تخطيط ورقابة مالية وإدارية شاملة + خفة وسرعة وانتشار = نمو مربح</span>
        <p class="mt-4">تخطيط ومراقبة أداء منشأتك ماليا وإداريا أصبح أسهل مع حزمة تطبيقات Dynamic ERP السحابية. مهما
          تعددت شركاتك، بإمكانها التشارك في طاقم إداري واحد، و مهما كثرت وتوزعت معارضك التجارية بإمكانك ربطها بمكاتبك
          الخلفية</p>
        <p>ومهما كانت إجراءاتك الإدارية خاصة بك ولا تنطبق إلا عليك بإمكانك تصميم نماذجها و التحكم في تشغيلها ومراقبة
          سيرها. كله من منصة واحدة وحساب واحد وفاتورة تشغيلية واحدة بتكلفة معقولة جداً.</p>
        <a class="p-2 why btn btn-secondary ml-3 mt-3 " href="/tour">لماذا Dynamic</a>
        <a class="p-2 try btn text-white mt-3" href="/try">جرب مجاناً الاًن</a>
      </div>
    </div>
  </div>
</div>

<div class="dafater py-5">
  <h2 class="text-center">Dynamic هي منصة الإدارة المتكاملة؟</h2>
  <p class="text-center mt-4">مرحباً بعصر خدمات تطبيقات الأعمال السحابية المتكاملة، مرحباً Dynamic</p>
  <div class="container mt-5">
    <div class="row no-gutters">
      <div class="col-md-3">
        <div class="row no-gutters">
          <div class="col-md-3 p-2">
            <img class="img-fluid" src="assets/images/app.svg">
          </div>
          <div class="col-md-9 p-1 mt-1 ">
            <h4>مجموعة تطبيقات أعمال</h4>
            <p class="my-3">مجموعة عريضة من تطبيقات الأعمال البرمجية المعدة للسوق المحلي</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row no-gutters ">
          <div class="col-md-3 p-2">
            <img class="img-fluid" src="assets/images/cloud.svg">
          </div>
          <div class="col-md-9 p-1 mt-1">
            <h4>تقنية سحابية</h4>
            <p>متوفرة على الانترنت 24×7 و لا تحتاج لتركيب برمجيات للدخول عليها والاستفادة منها</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row  no-gutters">
          <div class="col-md-3 p-2">
            <img class="img-fluid" src="assets/images/network.svg">
          </div>
          <div class="col-md-9 p-1 mt-1">
            <h4>مدارة بالكامل</h4>
            <p>من قبل فرق متخصصة في التطبيقات والاستضافة والشبكات وأمن المعلومات</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row no-gutters">
          <div class="col-md-3 p-2">
            <img class="img-fluid" src="assets/images/contract.svg">
          </div>
          <div class="col-md-9 p-1 mt-1">
            <h4>بفاتورة دورية</h4>
            <p>تدفع مقابل خدمات الاستضافة الآمنة والتشغيل والدعم الفني والدعم المساند والتحديثات المستمرة</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="programs text-center text-white py-5">
  <h2>برامج Dynamic</h2>
  <p class="my-4">14 برنامجاً سحابياً مترابطاً في خدمة واحدة</p>
  <div class="container">
    <div class="row no-gutters my-5">

      <div class="col-md-3 mt-2">
        <a class="big-link" href="/accounting">
          <i class="far fa-money-bill-alt"></i>
          <h3 class="my-3"> <a href="/accounting">برنامج محاسبة</a></h3>
          <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك
            وإيراداتك</p>
        </a>
      </div>

      <div class="col-md-3 mt-2">
        <a class="big-link" href="/employees">
          <i class="fa fa-users circle-no"></i>
          <h3 class="my-3"><a href="/employees">برنامج شؤون الموظفين</a></h3>
          <p>من الحضور والانصراف إلى الرواتب، والاجازات، وكل وثائق الموظفين، برنامج موارد بشرية متوافق مع أنظمة وزارة
            العمل السعودية بالكامل</p>
        </a>
      </div>

      <div class="col-md-3 mt-2">
        <a class="big-link" href="/sales">
          <i class="fa fa-tag circle-no"></i>
          <h3 class="my-3"><a href="/sales">برنامج مبيعات</a></h3>
          <p>أدر دورة البيع من التسعير إلى الفوترة، واربط ما تم تسديده لك بالفواتير الصادرة أو قيد ما تبقى لك على عملائك
            مع كامل بياناتهم وبيانات تواصلك معهم</p>
        </a>
      </div>

      <div class="col-md-3 mt-2">
        <a class="big-link" href="/mushtrayat">
          <i class="fa fa-shopping-cart circle-no"></i>
          <h3 class="my-3"><a href="/mushtrayat"> نظام المشتريات</a></h3>
          <p>كل ما يتعلق بأمورك المالية وكل ما يرغب محاسبك في تقييده، تابع أرصدتك واستخرج تقاريرك المالية وحلل مصاريفك
            وإيراداتك</p>
        </a>
      </div>

      <div class="col-md-3 mt-2">
        <a class="big-link" href="/customers-service ">
          <i class="fa fa-phone circle-no"></i>
          <h3 class="my-3"><a href="customers-service ">برنامج خدمة العملاء</a></h3>
          <p>قيد شكاوى العملاء والرد عليها، وجداول الصيانة ومعلومات الضمان وزيارات العملاء بشكل سلس ومركزي</p>
        </a>
      </div>

      <div class="col-md-3 mt-2">
        <a class="big-link" href="/dafater-projects">
          <i class="fa fa-puzzle-piece circle-no"></i>
          <h3 class="my-3"><a href="/dafater-projects"> دفتر المشاريع</a></h3>
          <p>هذا البرنامج يساعد المنشآت الخدمية، كشركات المقاولات وخدمات الصيانة من تقييد عدد المهام وساعات العمل على
            المشاريع وربطها بالعملاء</p>
        </a>
      </div>


      <div class="col-md-3 mt-2">
        <a class="big-link" href="/manufacturing-program">
          <i class="fa fa-cogs circle-no"></i>
          <h3 class="my-3"><a href="/manufacturing-program">برنامج التصنيع</a></h3>
          <p>إدارة كامل عملية التصنيع للورش والمصانع الصغيرة ومحطات العمل وتدفق المواد الخام والهدر، بكل وضوح وسلاسة</p>
        </a>
      </div>

      <div class="col-md-3 mt-2">
        <a class="big-link" href="/Stores">
          <i class="fa fa-truck circle-no"></i>
          <h3 class="my-3"><a href="/Stores"> برنامج مخازن ومستودعات </a></h3>
          <p>متابعة رصيد المخزون وحركة الأصناف، وعمليات الجرد أصبحت سهلة جدا، كل أصنافك مصورة ومرقمة بشكل دقيق ومربوطة
            بمتجرك الالكتروني</p>
        </a>
      </div>
    </div>
  </div>
  <div class="pb-4">
    <a href="/more" class="text-center py-3 px-5 more rounded">المزيد</a>

  </div>
</div>

<div class="advantages py-5">
  <h2 class="text-center">المزايا الرئيسة</h2>
  <p class="text-center py-3">إليك ما يميز Dynamic كمنصة عن غيرها …</p>

  <div class="container">
    <div class="row mb-5 no-gutters">

      <div class="col-md-3 mt-2">
        <a class="big-link" href="/advantages">
          <i class=" position-relative link fa fa-comments circle-yes"></i>
          <h3 class=" pb-2 pt-2 "> منصة تعاون وتشارك</h3>
        </a>
        <ul class="mt-4">
          <li><a href="#"><i class="fa fa-bookmark circle-yes1"></i>التعليق والتوسيم</a></li>
          <li><a href="#"><i class="fa fa-user circle-yes1"></i> الإسناد والتكليف</a></li>
          <li><a href="#"><i class="fas fa-sort-amount-down"></i>محرك سير الأعمال (workflow) </a></li>
          <li><a href="#"><i class="fas fa-copy"></i>الأرشفة الألكترونية </a></li>
        </ul>
      </div>
      <div class="col-md-3 mt-2">
        <a class="big-link" href="/advantages">
          <i class=" position-relative link fa fa-puzzle-piece circle-yes"></i>
          <h3 class=" pb-2 pt-2 ">الربط والتكامل</h3>
        </a>
        <ul class="mt-4">
          <li><a href="#"><i class="fa fa-cogs circle-yes1"></i> أجهزة خارجية (POS/T&A)</a></li>
          <li><a href="#"><i class="fa fa-credit-card circle-yes1"></i>قنوات الدفع الألكتروني</a></li>
          <li><a href="#"><i class="fas fa-comment"></i>بوابة الرسائل القصيرة</a></li>
          <li><a href="#"><i class="fa fa-cog circle-yes1"></i> مكتبة الربط الدمجي(API) </a></li>
        </ul>
      </div>
      <div class="col-md-3 mt-2">
        <a class="big-link" href="/advantages">
          <i class=" position-relative link fa fa-lock circle-yes"></i>
          <h3 class=" pb-2 pt-2 ">أمن المعلومات</h3>
        </a>
        <ul class="mt-4">
          <li><a href="#"><i class="fa fa-key circle-yes1"></i> كلمات سر المرة الواحدة (OTP)</a></li>
          <li><a href="#"><i class="fa fa-lock circle-yes1"></i>التشفير الكامل (SSL)</a></li>
          <li><a href="#"><i class="fab fa-dropbox"></i>النسخ الأحتياطي الشخصي (DropBox)</a></li>
          <li><a href="#"><i class="fa fa-cloud circle-yes1"></i> النسخ الأحتياطي المتقدم</a></li>
        </ul>
      </div>

      <div class="col-md-3 mt-2">
        <a class="big-link" href="/advantages">
          <i class=" position-relative link fa fa-bolt circle-yes"></i>
          <h3 class=" pb-2 pt-2 "> مزايا هامة أخرى</h3>
        </a>
        <ul class="mt-4">
          <li><a href="#"><i class="fa fa-gavel circle-yes1"></i>محرك المطابقة القانونية</a></li>
          <li><a href="#"><i class="fa fa-globe circle-yes1"></i> واجهة متعددة اللغات</a></li>
          <li><a href="#"><i class="fa fa-bell circle-yes1"></i> محرك إشعارات وتنبيهات </a></li>
          <li><a href="#"><i class="far fa-chart-bar"></i>تقارير تحليل الأعمال (BI) </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class=" text-center pb-4">
    <a href="/advantages" class=" text-center more text-white py-3 px-4 rounded ">المزيد من المزايا</a>

  </div>
</div>

<div class="force text-center py-5">
  <h2 class="mb-3">قوة الكبار ومرونة الصغار</h2>
  <div class="container">
    <div class="row py-4">
      <div class="col-md-3 ">
        <div class=" p-4 section">
          <div class="text text2">
            <i class="fa fa-building circle-yes"></i>
            <h3 class="mt-2 pt-1 pb-3">متعدد الشركات</h3>
          </div>
          <p>أدر عدة شركات منفصلة أو مرتبطة و أعمالك فيها من مكان واحد ومن خلال حساب واحد</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class=" p-4 section ">
          <div class="text text2">
            <i class="fa fa-bars circle-yes"></i>
            <h3 class="mt-2 pt-1 pb-3">متعدد الأنشطة</h3>
          </div>
          <p>مهما كان نوع نشاط شركتك، التجزئة، أو الخدمات، أو التصنيع، أو مبيعات الجملة والتوزيع، أدرها من Dynamic</p>
        </div>
      </div>

      <div class="col-md-3 ">
        <div class="p-4 section">
          <div class="text text2">
            <i class="fa fa-user circle-yes"></i>
            <h3 class="mt-2 pt-1 pb-3">صلاحيات مرنة ومحكمة</h3>
          </div>
          <p>بحسب الشركة والنشاط، نفس الشخص يمكنه تأدية أدوار مختلفة بصلاحيات مختلفة من نفس الحساب</p>
        </div>
      </div>

      <div class="col-md-3 ">
        <div class=" p-4 section">
          <div class="text text2">
            <i class="fa fa-star circle-yes"></i>
            <h3 class="mt-2 pt-1 pb-3">التخصيص الكامل</h3>
          </div>


          <p>جميع الشاشات والنماذج وإجراءات العمل والمخرجات قابلة للتخصيص لتوائم احتياجك وذوقك</p>
        </div>
      </div>



    </div>
  </div>
</div>

<section class="complete-solutions text-center text-white py-5">
  <h2 class="my-3 pt-3">الحلول المتكاملة</h2>
  <p>التطبيقات البرمجية هي جزء من الصورة، ماذا عن بقية أجزاء المنظومة التقنية التي تحقق التكامل <br>في عملياتك وتزيد من
    كفاءتها الانتاجية؟ هذه مجموعة من الحلول المتكاملة لأنشطة مخصصة<br> نهتم بها في Dynamic.</p>
  <div class="container">
    <div class="row mb-5 py-4">
      <div class="col-md-3 ">
        <div class=" p-4 section">
          <a class="p-3" href="/solutions">
            <img class="img-fluid my-3" src="assets/images/box1.svg">
            <p>تجارة الجملة و التجزئة / التجارة الإلكترونية</p>
          </a>
        </div>
      </div>

      <div class="col-md-3 ">
        <div class=" p-4 section">
          <a class="p-3" href="/solutions">
            <img class="img-fluid my-3" src="assets/images/store.svg">
            <p>حلول المطاعم<br> والمقاهي</p>
          </a>
        </div>
      </div>

      <div class="col-md-3 ">
        <div class=" p-4 section">
          <a class="p-3" href="/solutions">
            <img class="img-fluid my-3" src="assets/images/support.svg">
            <p>حلول المنشآت <br>الخدمية</p>
          </a>
        </div>
      </div>

      <div class="col-md-3 ">
        <div class=" p-4 section">
          <a class="p-3" href="/solutions">
            <img class="img-fluid my-3 " src="assets/images/settings5.svg">
            <p>حلول<br> التصنيع</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="reports py-5 text-center">
  <h2>تقارير القمة بين يديك</h2>
  <p class="py-4">تقارير تحليلية قياسية ومتقدمة تلخص لك مشهد العمليات المتشعبة لإداراتك المختلفة</p>
  <div class="container">
    <div class="row py-4">
      <div class="col-md-6">
        <div class="section px-3 py-5">
          <div class="caption">
            <h3>تحليلات قياسية</h3>
            <img style="width:72%;" class="img-fluid img mt-4" src="assets/image/pi-analytics.svg">
            <img class="img-fluid" src="assets/images/featuers-221.png">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="section px-3 py-5">
          <h3>تحليلات متقدمة</h3>
          <a href="/de-support"><img class="img-fluid mt-4" src="assets/image/3.png">
            <a href="/de-support" class="py-3 px-5 mt-4  btn text-white">المزيد</a>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>


<section class="clients py-5 ">

  <h2 class="mb-5">من عملائنا المميزين</h2>

  <div class="container pb-5 position-relative ">
    <div id="demo" class="carousel slide position-relative" data-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active carousel-item-left">
          <div class="d-flex">

            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/endeavor.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/raz-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/iluba.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/Kinan.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/naif.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/taqnia.jpg">
            </div>
          </div>

        </div>
        <div class="carousel-item carousel-item-next carousel-item-left">
          <div class="d-flex">

            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/rqmnh-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/iclick.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/tqeem-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/oqal.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/tybah-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/sakany-min.png">
            </div>

          </div>

        </div>
        <div class="carousel-item ">
          <div class="d-flex">

            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/saudi-cad.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/raya-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/copper.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/algarbia-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/saudi-net-link-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/silah-1-min.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">

            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/i-content-1-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/saudi-korian-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/waqood-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/protect-max.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/4d.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/geeks-min.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/sasem.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/five-vita-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/shakkel-1-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/almohanned.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/endeavor.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/raz-min.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/iluba.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/Kinan.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/naif.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/taqnia.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/rqmnh-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/iclick.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/tqeem-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/oqal.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/tybah-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/sakany-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/saudi-cad.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/raya-min.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/copper.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/algarbia-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/saudi-net-link-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/silah-1-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/i-content-1-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/saudi-korian-min.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/waqood-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/protect-max.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/4d.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/geeks-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/sasem.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/five-vita-min.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/shakkel-1-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/almohanned.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/endeavor.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/raz-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/sasem.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/iluba.jpg">
            </div>
          </div>
        </div>
      </div>
      <!-- Left and right controls -->

      <a class="carousel-control-prev" href="#demo" data-slide="prev" style="opacity: 1; left: -10%;">
        <i class="fas fa-chevron-left  position-relative"
          style="color:#F7F7F7; left:40px; background-color: rgba(84,162,175,0.6); font-size:12px;"></i>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next"
        style="opacity: 1; transform: rotate(-180deg); right: -10%;">
        <i class="fas fa-chevron-left position-relative "
          style="color:#F7F7F7; left:40px; background-color: rgba(84,162,175,0.6); font-size:12px;"></i>
      </a>

    </div>

  </div>
</section>

<section class="say text-center py-5">
  <h2>قالو عنا</h2>
  <div class="container">
    <div class="row pt-4 ">
      <div class="col-md-4">
        <a href="https://www.youtube.com/watch?v=kaGhYJBB3oc" target="_blank"><img class="img-fluid rounded"
            src="assets/images/saed-alsharif1-min1.jpg"></a>
        <p class="py-3">شركة المحتوى المتكامل، سائد الشريف – محاسب</p>
      </div>
      <div class="col-md-4">
        <a href="https://www.youtube.com/watch?v=2q8vvpfsr88" target="_blank"><img class="img-fluid rounded"
            src="assets/images/ahmed-alsadeq1-min.jpg"></a>
        <p class="py-3">شركة ربط الشبكات، أحمد الصادق – المدير المالي</p>
      </div>
      <div class="col-md-4">
        <a href="https://www.youtube.com/watch?v=KXyZiF4JrSw" target="_blank"><img class="img-fluid rounded"
            src="assets/images/faysal-alasmar2-min.jpg"></a>
        <p class="py-3">شركة خبرة السداد، فيصل الأسمري – الرئيس التنفيذي</p>
      </div>
    </div>
  </div>
</section>

<section class="qoutes py-5">
  <div class="container">
    <div class="row py-4">

      <div class="col-md-4 ">
        <div class=" p-4 section">
          <p>السلام عليكم ورحمة الله وبركاته برنامج مميز وفريق اكثر تميز عبدالله سليمان السعيد من مغسلة الآلة المتخصصة
            للسيارات EMCW</p>
          <div class="triangle-down position-relative"></div>

        </div>
        <div class="who">
          <i class="fas fa-user-tie mt-3"></i>
          <p class="pt-2"><span>عبد الله سليمان السعيد</span>, محاسب، CARWASH</p>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class=" p-4 section">
          <p>Dynamic خدمة رائعة ساعدتني علي ادارة عملي بسهولة وربط الفروع المختلفة ومتابعتها من اي مكان. خدمة الدعم
            الفني مميزة جدا</p>
          <div class="triangle-down position-relative"></div>
        </div>
        <div class="who">
          <i class="fas fa-user-tie mt-3"></i>
          <p class="pt-2"><span>هشام الكناني</span>, محاسب، شركة باب الرزيز</p>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class=" px-3  pt-3 section">
          <p class="mt-1">خدمة Dynamic خدمة مميزه تتيح لك ادارة موسستك بطريقة السليمة والصحيحة ومتابعة حسابتك في مكان
            واي زمان وهذا من اهم الميزات</p>
          <div style="top: 12px;" class="triangle-down position-relative"></div>

        </div>
        <div class="who">
          <i class="fas fa-user-tie mt-3"></i>
          <p class="pt-2"><span>محمد احمد مصطفى</span>, محاسب، بهجة الشرق</p>
        </div>
      </div>


    </div>
    <div class="text-center py-3">
      <a href="/moreclients" class="more text-center text-white rounded py-3 px-5">المزيد عن عملاء Dynamic</a>

    </div>
  </div>
</section>

<section class="clients py-5 ">

  <h2 class="mb-5">لنا بصمة</h2>

  <div class="container pb-5 position-relative ">
    <div id="demoo" class="carousel slide position-relative" data-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active carousel-item-left">
          <div class="d-flex">

            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/endeavor.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/raz-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/iluba.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/Kinan.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/naif.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/taqnia.jpg">
            </div>
          </div>

        </div>
        <div class="carousel-item carousel-item-next carousel-item-left">
          <div class="d-flex">

            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/rqmnh-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/iclick.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/tqeem-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/oqal.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/tybah-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/sakany-min.png">
            </div>

          </div>

        </div>
        <div class="carousel-item ">
          <div class="d-flex">

            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/saudi-cad.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/raya-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/copper.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/algarbia-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/saudi-net-link-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/silah-1-min.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">

            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/i-content-1-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/saudi-korian-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/waqood-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/protect-max.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/4d.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/geeks-min.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/sasem.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/five-vita-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/shakkel-1-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/almohanned.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/endeavor.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/raz-min.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/iluba.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/Kinan.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/naif.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/taqnia.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/rqmnh-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/iclick.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/tqeem-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/oqal.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/tybah-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/sakany-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/saudi-cad.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/raya-min.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/copper.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/algarbia-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/saudi-net-link-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/silah-1-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/i-content-1-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/saudi-korian-min.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/waqood-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/protect-max.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/4d.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/geeks-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/sasem.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/five-vita-min.png">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="d-flex">
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/shakkel-1-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/almohanned.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/endeavor.jpg">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/raz-min.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/sasem.png">
            </div>
            <div class="col-lg-2 col-sm-6 col-6 d-flex flex-column ">
              <img src="assets/images/iluba.jpg">
            </div>
          </div>
        </div>
      </div>
      <!-- Left and right controls -->

      <a class="carousel-control-prev" href="#demoo" data-slide="prev" style="opacity: 1; left: -10%;">
        <i class="fas fa-chevron-left  position-relative"
          style="color:#F7F7F7; left:40px; background-color: rgba(84,162,175,0.6); font-size:12px;"></i>
      </a>
      <a class="carousel-control-next" href="#demoo" data-slide="next"
        style="opacity: 1; transform: rotate(-180deg); right: -10%;">
        <i class="fas fa-chevron-left position-relative "
          style="color:#F7F7F7; left:40px; background-color: rgba(84,162,175,0.6); font-size:12px;"></i>
      </a>

    </div>

  </div>
</section>

<!-- client 2--
<section class="slider py-5 ">
<h2 class="text-center mb-2">لنا بصمة</h2>
<div id="carouselExampleControls" class="carousel slide w-75" data-ride="carousel">
  <div class="carousel-inner w-100">
    <div class="carousel-item active">
      <div class="carousel-caption ">
   
     
            <img class="img-fluid" src="assets/images/forbes-min.png">
    
            <img class="img-fluid" src="assets/images/TT-Logo-.png">
        
            <img class="img-fluid" src="assets/images/arabnet-high-res-png-transparent-eng-min.png">
            <img class="img-fluid" src="assets/images/logo-1.png">

            <img class="img-fluid" src="assets/images/HRDF33-min.png">
      
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
      
            
              <img class="img-fluid" src="assets/images/forbes-min.png">
          
            <img class="img-fluid" src="assets/images/logo-1.png">
      
            <img class="img-fluid" src="assets/images/arabnet-high-res-png-transparent-eng-min.png">
     
            <img class="img-fluid" src="assets/images/TT-Logo-.png">
      
            <img class="img-fluid" src="assets/images/HRDF33-min.png">
  
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
      
            <img class="img-fluid" src="assets/images/TT-Logo-.png">
         
            <img class="img-fluid" src="assets/images/forbes-min.png">
       
            <img class="img-fluid" src="assets/images/arabnet-high-res-png-transparent-eng-min.png">
       
            <img class="img-fluid" src="assets/images/HRDF33-min.png">
        
            <img class="img-fluid" src="assets/images/logo-1.png">
         
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
                  
              <img class="img-fluid" src="assets/images/arabnet-high-res-png-transparent-eng-min.png">
       
            
          
            <img class="img-fluid" src="assets/images/forbes-min.png">
        
       
            <img class="img-fluid" src="assets/images/logo-1.png">
    
     
            <img class="img-fluid" src="assets/images/HRDF33-min.png">
      

          
            <img class="img-fluid" src="assets/images/TT-Logo-.png">
         
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
     
            
            <img class="img-fluid" src="assets/images/HRDF33-min.png">
          
            <img class="img-fluid" src="assets/images/logo-1.png">
         
            <img class="img-fluid" src="assets/images/forbes-min.png">
   
            <img class="img-fluid" src="assets/images/arabnet-high-res-png-transparent-eng-min.png">
        
            <img class="img-fluid" src="assets/images/TT-Logo-.png">
      
      </div>
    </div>
  </div>
  <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev">
    <span style="right: 70px; bottom: 40px;" class="carousel-control-prev-icon position-relative" aria-hidden="true"><i style="left: 5px;" class=" fas fa-chevron-left"></i></span>
  
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span style="left: 70px; bottom: 40px;" class="carousel-control-next-icon position-relative " aria-hidden="true"><i style="right: 5px;" class="fas fa-chevron-right"></i></span>
  </a>
</div>

</section>
-->

<section class="questions py-5 d-flex text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2 class="py-3">لديك أسئلة؟ احجز مستشارك الخاص لمدة نصف ساعة مجانا الآن</h2>
        <p class="mb-3">فضلاً، قم بتعبئة النموذج وسيتم الترتيب لاستعراض Dynamic معك والاجابة على كل أسئلتك. سيتصل بك أحد
          مستشارينا وجميعهم محاسبون أخصائيون في تقديم الحلول المحاسبية و يحملون خبرة تتجاوز العشر سنوات، وسيسعدون حتماً
          بتقديم النصح لك لحل مشاكل منشأتك مجاناً</p>
      </div>
      <div class="col-md-3 ">
        <a href="/try" class="rounded px-5 py-3 position-relative">جرب مجاناً الآن</a>
      </div>
    </div>
  </div>
</section>


<!-- <div class="up">
  <a id="button"><i id="btn" class="fas fa-chevron-up text-white"></i></a>
</div> -->