<main>

<section > 

     <div class="background">
        <img src="assets/images/bg6b_b34w-1.jpg"> 
        <div class="transbox">
        </div>
        <div class="transbox1">
        <div class="container">
          <div class="row">
            
            <div class="col-md-9 col-sm-12 dafater">
              <h3> الشراكة مع Dynamic </h3>
              <p>تقديم خدمات ومنتجات Dynamic للعملاء عن طريق الشركاء والموزعين</p>

           </div>

           <div class="col-md-3 col-sm-12">
               <div class="icon-link">
            <a href="/record-partner" class=" px-5 py-3 ">تسجيل الموزعين<i class="fas fa-long-arrow-alt-left position-relative"></i></a>
</div>
          </div>

          </div>

        </div>
      </div></div>

</section>
<section class="program py-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6">
                <img class="img-fluid" src="assets/image/Untitled-1.jpg">
            </div>
            <div class="col-md-6 py-3">
                <h2>برنامج الموزعين</h2>
                <p class="mt-5">برنامج يهدف الى نقل خدمات Dynamic الى كافة الأنحاء والمستهدفين عن طريق موزعي وشركاء النظام  البيئي، مستخدماً طريقة ذكية لعرض الخدمات والمنتجات التي يقدمها الموزعين من Dynamic، على منصة يقصدها العديد من طالبي الخدمات و الحلول المتكاملة حيث نعمل عن كثب مع موزعينا المعتمدين لتقديم أفضل الخدمات بطريقة احترافية للعملاء. لذا يقدم البرنامج العديد من المزايا التي من شأنها زيادة الإيرادات ورفع فرص اقفال الصفقات.</p>
            </div>
        </div>
    </div>
</section>


<section class="advantages position-relative " style="    background-color: rgb(242, 242, 242);">
    <!-- start // .slider -->
   <div class="container">
        <h3 class="container head">مزايا برنامج الموزعين</h3>
   </div>
      

    


    <carousel class="col-md-12">
      <div class="container">

        <slide>
            <div class=" caption position-relative text" >
                <h3>تحقيق إيرادات جديدة وزيادة أرباحك</h3>
                <p >سيكون من الجيد إضافة مصدر جديد لإيراداتك دون الحاجة لاستثمار إضافي أو تعيين موظفين جدد، فقط بيع منتجات Dynamic الى جانب منتجاتك وخدماتك الحالية.</p>
            </div>
          <img src="assets/image/partner-23474.jpg" alt="third slide" class="image">

  
        </slide>

        <slide>
            <div class=" caption position-relative text" >
                <h3>تطوير منظومة  الخدمات المقدمة</h3>
                <p>يوجد مستويات أخرى من الشراكة مع Dynamic مثل شركاء القيمة المضافة VAR، حيث يمكن للموزع مستقبلاً أن يقوم ببيع وتطبيق Dynamic ERP للشركات والمؤسسات المتوسطة والكبيرة. فمن الهام النظر الى المستقبل مع هذه الشراكة.</p>
            </div>
            <img src="assets/image/partner-24534.jpg" alt="third slide" class="image">

    
          </slide>


          <slide>
            <div class=" caption position-relative text">
                <h3>تحقيق إيرادات جديدة وزيادة أرباحك</h3>
                <p >سيكون من الجيد إضافة مصدر جديد لإيراداتك دون الحاجة لاستثمار إضافي أو تعيين موظفين جدد، فقط بيع منتجات Dynamic الى جانب منتجاتك وخدماتك الحالية.</p>
           </div>
            <img src="assets/image/partner-2453434.jpg" alt="third slide" class="image">

 
          </slide>

      </div>

   

      </carousel>


</section>

  






<section class="why py-5 text-center">
    <div class="container">
        <h2 class="mb-4">لماذا شراكة Dynamic؟</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="section ">
                    <img class="img-fluid" src="assets/image/business-partners.jpg">
                    <h3 class="py-3">شركة رائدة</h3>
                    <p>الشراكة مع شركة رائدة في تقديم البرامج الخدمية SaaS تساعد الموزعين على ابتكار المزيد من الحلول للعملاء ،تمهيد الصعوبات، الصلابة أمام المنافسة</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="section p-4">
                    <img class="img-fluid" src="assets/image/box2-1.jpg">
                    <h3 class="py-3">الطلب المتزايد</h3>
                    <p>على خدمات Dynamic يجعل الأمر سهلاً على الموزع لتحقيق فرص وأهداف عالية.</p>
                </div>
            </div>
           
            <div class="col-md-4">
                <div class="section p-4">
                    <img class="img-fluid" src="assets/image/box3.jpg">
                    <h3 class="py-3"> منتج قوي</h3>
                    <p class="dist">يتميز Dynamic بالدقة ومواكبة التطور في سوق العمل.</p>
                </div>
            </div>
            <div class="col-md-4 mt-2 ">
                <div class="section p-4">
                    <img class="img-fluid" src="assets/image/box4.jpg">
                    <h3 class="py-3"> متطور باستمرار</h3>
                    <p>يخضع Dynamic لمنظومة تطوير تعمل بشكل مستمر على حل المشكلات التي تظهر أمام المستخدمين وكذلك استقبال مقترحات العملاء والعمل على دراستها وحال كونها تضيف ميزة للنظام يتم أخذها بعين الاعتبار في تطير المنتج</p>
                </div>
            </div>
            <div class="col-md-4 mt-2 ">
                <div class="section p-4">
                    <img class="img-fluid" src="assets/image/box5.jpg">
                    <h3 class="py-3">يلبي متطلبات العمل</h3>
                    <p>في ظل التطورات التي تطرأ على طريقة العمل في السوق أصبح لزاماً على كافة المنتجات التطور لمواجهة تلك التطورات، وعليه يتم مراعاه متطلبات السوق في خطة Dynamic التطويرية.</p>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="section p-4">
                    <img class="img-fluid" src="assets/image/box6.jpg">
                    <h3 class="py-3">يدعم النمو</h3>
                    <p>جميع الأنشطة التجارية تهدف الى النمو والتطور لذا يجب أخذهم في الاعتبار أن النظام المستخدم يمكن تطويره حال كبر حجم العمل وتزايدت المهام، لذا سيكون من السهل على مستخدمي Dynamic أن يرتقون بحسب حجم عملهم.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="requirements py-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6">
                <img class="img-fluid" src="assets/image/hands-345.jpg">
            </div>
            <div class="col-md-6">
                <h2 class="mr-3 mt-3">متطلبات الشراكة</h2>
                <h3 class="py-3 mr-3">اذا كان لديك هذه المؤهلات فأهلاً بك موزع معتمد معنا</h3>
                <ul>
                    <li><span>✓</span>شركة قائمة ومرخصة رسمياً</li>
                    <li><span>✓</span>عمر الشركة لا يقل عن سنة</li>
                    <li><span>✓</span>نشاط متوافق مع بيئة عمل Dynamic</li>
                    <li><span>✓</span>تقديم خدمات Dynamic الى جانب خدماتك أو منتجك</li>
                    <li><span>✓</span>موظف واحد متفرغ على الأقل ذا خلفية مناسبة</li>

                </ul>
            </div>

        </div>
    </div>
</section>
<section class="trip py-5">
    <div class="container">
        <div class="row py-5">
            
            <div class="col-md-6">
                <h2 class="mr-3 mt-3">رحلة الإنضمام للبرنامج</h2>
                <h3 class="py-3 mr-3">نسير معك خطوة بخطوة في طريق الإحتراف</h3>
                <ul>
                    <li><span>✓</span>تسجيل الاهتمام</li>
                    <li><span>✓</span>التواصل من قبل Dynamic</li>
                    <li><span>✓</span>التعريف ببرنامج الشراكة</li>
                    <li><span>✓</span>التعريف بالمنتج المستهدف</li>
                    <li><span>✓</span>توقيع عقد الشراكة</li>
                    <li><span>✓</span>بداية العمل</li>
                </ul>
                <a href="#" class=" px-5 py-3 position-relative">تسجيل الموزعين<i class="fas fa-long-arrow-alt-left position-relative"></i></a>

            </div>
            <div class="col-md-6 image">
                <img class="img-fluid" src="assets/image/2345245.jpg">
            </div>

        </div>
    </div>
</section>




 





</main>






